force-app/main/default/flows/Actualizar_Matriculas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Estado_Final</name>
        <label>Asignar Estado Final</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordTemporalMatriculasX.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputControlMigracion.Status_Final_Temporal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordTemporalMatriculasX.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualizar_Cadena_Temporal_Matriculas.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordTemporalMatriculasX.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordTemporalMatriculasX.Descripci_n_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_Temporal_Matriculas_a_Lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Record_Temporal_Matriculas_a_Lista</name>
        <label>Asignar Record Temporal Matriculas a Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaTemporalMatriculaX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordTemporalMatriculasX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cadena_Temporal_Matriculas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recuperar_Buffer</name>
        <label>Recuperar Buffer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBufferInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputControlMigracion.Buffer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Regisros_Actualizar_Buffer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resultado_Proceso_Correcto</name>
        <label>Resultado Proceso Correcto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Actualizar Matriculas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Matriculas</label>
    <loops>
        <name>Actualizar_Cadena_Temporal_Matriculas</name>
        <label>Actualizar Cadena Temporal Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Regisros_Actualizar_Buffer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Estado_Final</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Estado_Temporal_Matriculas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Regisros_Actualizar_Buffer</name>
        <label>Recuperar Regisros Actualizar Buffer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cadena_Temporal_Matriculas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputControlMigracion.Status_Inicial_Temporal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Matriculas_X__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Temporal_Matriculas</name>
        <label>Actualizar Estado Temporal Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resultado_Proceso_Correcto</targetReference>
        </connector>
        <inputReference>varListaTemporalMatriculaX</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Buffer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBufferInterno</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInputControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalMatriculaX</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Matriculas_X__c</objectType>
    </variables>
    <variables>
        <name>varRecordTemporalMatriculasX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Matriculas_X__c</objectType>
    </variables>
</Flow>
