force-app/main/default/flows/Actualizar_Encuadramientos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Resultado_Proceso_Correcto</name>
        <label>Resultado Proceso Correcto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varResultadoProces</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constCompletado</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>constCompletado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completado</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>varAnoFinNumber</name>
        <dataType>Number</dataType>
        <expression>value({!varAnoFin})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varAnoIncioNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!varAnoInicio})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Actualizar Encuadramientos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Encuadramientos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Estado_Temporal_Matriculas</name>
        <label>Actualizar Estado Temporal Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resultado_Proceso_Correcto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Temporal_Encuadramientos__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Temporal_Matriculas</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>nuevoEstado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAnoFin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAnoInicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResultadoProces</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
