force-app/main/default/flows/Bank_Transfer_payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activida_actualizada_correctamente</name>
        <label>Activida actualizada correctamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>El registro de la Actividad ha sido actualizado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Actividad_o_Obligaci_n_Asociada_en_estado_incorrecto</name>
        <label>Actividad o Obligación Asociada en estado incorrecto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>La Actividad u Obligación asociada en estado incorrecto</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Actualizar_Benefit_Disbursement</name>
        <label>Actualizar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BenefitDisbursement.Update</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Actualizaci_n_Ocupaci_n_Barcos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Recorrer_Benefit_Disbursement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DisbursementStatus</name>
            <value>
                <elementReference>conStatusInscrito</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BenefitDisbursement.Update</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Contrato_Actualizado</name>
        <label>Contrato Actualizado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Los registros de Oportunidad y Contrato actualizados correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_actualizada_correctamente</name>
        <label>Opportunity actualizada correctamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Activida_actualizada_correctamente</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>El registro de la Oportunidad ha sido actualizado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pago_Correctamente_Realizado</name>
        <label>Pago Correctamente Realizado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Actualizar_Status_Quote_Syncronizada</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>El Pago ha sido correctamente registrado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pago_Obligaci_n_registrado</name>
        <label>Pago Obligación registrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Actualizar_Pago_con_Obligaci_n</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>El Pago ha sido correctamente registrado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Bono_Socio_Actual</name>
        <label>Asignar Bono Socio Actual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBonoActualizadoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Account.Bono_Socio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Opportunity_Benefit_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_true_a_Existen_Recursos</name>
        <label>Asignar true a Existen Recursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varExisteRecursosTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Benefit_Scheduled_Asignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calcular_Nuevo_Bono</name>
        <label>Calcular Nuevo Bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBonoActualizadoFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recuperar_Productos_Oportunidad_Canje_Bono.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Bono_Socio_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completo_igual_a_True</name>
        <label>Completo igual a True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCompleto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Benefit_Asset_Por_Completar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Secuencial_Pago_anterior_m_s_uno</name>
        <label>Secuencial Pago anterior más uno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSecuencialPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSecuencialPagomasunoBA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCantidadTotalPagos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Pagos_BA.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Pagos_BA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Secuencial_Pago_Contrato_m_s_uno</name>
        <label>Secuencial Pago Contrato más uno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSecuencialPago</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSecuencialPagomasunoContrato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCantidadTotalPagos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Pagos_Contrato.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Pagos_Contrato</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Business</name>
        <choiceText>Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Checking</name>
        <choiceText>Checking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Savings</name>
        <choiceText>Savings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Savings</stringValue>
        </value>
    </choices>
    <constants>
        <name>conProductFamily</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fianza</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Actualizaci_n_Ocupaci_n_Barcos</name>
        <label>Actualización Ocupación Barcos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Benefit_Asset_Por_Completar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se actualiza Ocupación</defaultConnectorLabel>
        <rules>
            <name>Si_hay_que_actualizar_Ocupaci_n_Barco</name>
            <conditionLogic>((1 AND (4 OR 5)) OR 2 OR 3) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alumno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patron</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tripulante</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Vela Ligera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Crucero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varExisteRecursosTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit_Session</targetReference>
            </connector>
            <label>Si hay que actualizar Ocupación Barco</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cantidad_Pagada_Actividad_coincide_con_Cantidad_Oportunidad</name>
        <label>Cantidad Pagada Actividad coincide con Cantidad Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cantidades_No_Coinciden_Actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Coinciden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCantidadPendiente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Actividad</targetReference>
            </connector>
            <label>Si Coinciden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cantidad_Pagada_Obligacion_coincide_con_Cantidad_Pendiente</name>
        <label>Cantidad Pagada Obligacion coincide con Cantidad Pendiente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Cantidades_No_Coinciden_Obligacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Coinciden_Obligacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Amount_Contrato</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCantidadPendiente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Obligacion</targetReference>
            </connector>
            <label>Si Coinciden Obligacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Esta_Completo</name>
        <label>Comprobar Esta Completo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Incrementar_en_uno_Ocupacion_Asset_Por_Completar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_esta_Completo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Primer_Asset_con.Capacidad_Maxima__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCapacidadFinal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Asset_Completo</targetReference>
            </connector>
            <label>Si esta Completo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_la_actividad_una_Cesion_con_Fiaza</name>
        <label>Es la actividad una Cesion con Fiaza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Estado_Actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_es_una_Cesion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesiones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Productos_Oportunidad_Fianza</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado_Actividad_Cesion</targetReference>
            </connector>
            <label>Si es una Cesion</label>
        </rules>
        <rules>
            <name>Si_es_una_Regata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regatas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado_Actividad_Regata</targetReference>
            </connector>
            <label>Si es una Regata</label>
        </rules>
        <rules>
            <name>Si_es_un_Bautismo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bautismos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado_Actividad_Bautismo</targetReference>
            </connector>
            <label>Si es un Bautismo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Asset_con_capacidad</name>
        <label>Existen Asset con capacidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_existen_asset_libres_actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Asset_con_Capacidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Primer_Asset_con</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comprobar_Esta_Completo</targetReference>
            </connector>
            <label>Si Existen Asset con Capacidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Recursos_Asociados_al_Benefit_Scheduled</name>
        <label>Existen Recursos Asociados al Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Benefit_Scheduled_Asignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_recursos_Benefit_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_true_a_Existen_Recursos</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Cuota_Pagada_Completamente</name>
        <label>Oportunidad Cuota Pagada Completamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contrato_Actualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pagada_Obligaci_n_Cuota_Completamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPagoObligacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recuperar_Opportunity.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Stage_Contrato_Cuota</targetReference>
            </connector>
            <label>Pagada Obligación Cuota Completamente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_de_Actividad_u_Obligaci_n</name>
        <label>Oportunidad de Actividad u Obligación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actividad_o_Obligaci_n_Asociada_en_estado_incorrecto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oportunidad_Actividad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Opportunity_Benefit_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Pagos_Benefit_Assigment</targetReference>
            </connector>
            <label>Oportunidad Actividad</label>
        </rules>
        <rules>
            <name>Oportunidad_Contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Opportunity_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Pagos_Contratos</targetReference>
            </connector>
            <label>Oportunidad Contrato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Licencia_Pagada_Completamente</name>
        <label>Oportunidad Licencia Pagada Completamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contrato_Actualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pagada_Obligaci_n_Licencia_Completamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPagoObligacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recuperar_Opportunity.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Stage_Contrato_Licencia</targetReference>
            </connector>
            <label>Pagada Obligación Licencia Completamente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Obligaci_n_Pagada_Completamente</name>
        <label>Oportunidad Obligación Pagada Completamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Contract_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pagada_Obligacion_Completamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPagoObligacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recuperar_Opportunity.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Oportunidad_Obligaci_n_Close_Won</targetReference>
            </connector>
            <label>Pagada Obligacion Completamente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Pagada_Completamente</name>
        <label>Oportunidad Pagada Completamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pagada_Completamente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalPagadoBA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recuperar_Opportunity.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Oportunidad_Close_Won</targetReference>
            </connector>
            <label>Pagada Completamente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Contrato</name>
        <label>Tipo de Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contrato_Actualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Contract_Type.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Pago_con_Obligacion_Cuota</targetReference>
            </connector>
            <label>Cuota</label>
        </rules>
        <rules>
            <name>Licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Contract_Type.SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Pago_con_Obligacion_Licencia</targetReference>
            </connector>
            <label>Licencia</label>
        </rules>
    </decisions>
    <description>Trabajo con varios calendarios por actividad</description>
    <environments>Default</environments>
    <formulas>
        <name>varCantidadPendiente</name>
        <dataType>Number</dataType>
        <expression>{!Recuperar_Opportunity.Amount}-{!varCantidadTotalPagos}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCapacidadFinal</name>
        <dataType>Number</dataType>
        <expression>{!Recuperar_Primer_Asset_con.Capacidad_Actual__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varSecuencialPagomasunoBA</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Recorrer_Pagos_BA.Secuencial_Pago__c})+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varSecuencialPagomasunoContrato</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Recorrer_Pagos_Contrato.Secuencial_Pago__c})+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varSecuencialPagoTexto</name>
        <dataType>String</dataType>
        <expression>text({!varSecuencialPago})</expression>
    </formulas>
    <formulas>
        <name>varSKUBonoCanje</name>
        <dataType>String</dataType>
        <expression>text(year({!$Flow.CurrentDate}))&amp;&quot;-&quot;&amp;&quot;BONO-SOCIO-CANJE&quot;</expression>
    </formulas>
    <formulas>
        <name>varTotalPagadoBA</name>
        <dataType>Currency</dataType>
        <expression>{!varCantidadTotalPagos}+{!Payment_Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varTotalPagoObligacion</name>
        <dataType>Currency</dataType>
        <expression>{!varCantidadTotalPagos}+{!Payment_Amount_Contrato}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Bank Transfer payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Transfer payment</label>
    <loops>
        <name>Recorrer_Benefit_Disbursement</name>
        <label>Recorrer Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Disbursement</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Benefit_Disbursement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_actualizada_correctamente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Benefit_Scheduled_Assigment</name>
        <label>Recorrer Benefit Scheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Scheduled_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_recursos_Benefit_Scheduled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recuperar_Benefit_Disbursement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Pagos_BA</name>
        <label>Recorrer Pagos BA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Pagos_Benefit_Assigment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Secuencial_Pago_anterior_m_s_uno</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Payment_Info_BA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Pagos_Contrato</name>
        <label>Recorrer Pagos Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Pagos_Contratos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Secuencial_Pago_Contrato_m_s_uno</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Payment_Info_Contrato</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Actividad</name>
        <label>Create Payment Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pago_Correctamente_Realizado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorcreaciondelospagos</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recuperar_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Payment_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>Recuperar_Opportunity_Benefit_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Payment_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medio_de_Pago__c</field>
            <value>
                <stringValue>T</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Obligacion</name>
        <label>Create Payment Obligacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pago_Obligaci_n_registrado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Errorcreaciondelospagos</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recuperar_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Payment_Amount_Contrato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Copy_1_of_Payment_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Recuperar_Opportunity_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>Copy_1_of_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medio_de_Pago__c</field>
            <value>
                <stringValue>T</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secuencial_Pago__c</field>
            <value>
                <elementReference>varSecuencialPagoTexto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recupear_Benefit_Assignment_asociado_Oportunidad</name>
        <label>Recupear Benefit Assignment asociado Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_la_actividad_una_Cesion_con_Fiaza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente</name>
        <label>Recupear Benefit Assignment asociado Oportunidad Pendiente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Pago_Pendiente_con_Benefit_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_ProductId_Canje_Bonos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Disbursement</name>
        <label>Recuperar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Benefit_Disbursement</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Scheduled_Assignment</name>
        <label>Recuperar Benefit Scheduled Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Benefit_Scheduled_Assigment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitScheduleAssignment</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Session</name>
        <label>Recuperar Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Primer_Asset_con</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Disbursement.BenefitSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Contract_Type</name>
        <label>Recuperar Contract Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity_Contract.Contract_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Opportunity</name>
        <label>Recuperar Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Opportunity_Benefit_Assignment</name>
        <label>Recuperar Opportunity Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Opportunity_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Opportunity_Contract</name>
        <label>Recuperar Opportunity Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oportunidad_de_Actividad_u_Obligaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Pagos_Benefit_Assigment</name>
        <label>Recuperar Pagos Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Pagos_BA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity_Benefit_Assignment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment</object>
        <sortField>Secuencial_Pago__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Pagos_Contratos</name>
        <label>Recuperar Pagos Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Pagos_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment</object>
        <sortField>Secuencial_Pago__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Primer_Asset_con</name>
        <label>Recuperar Primer Asset con Capacidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Asset_con_capacidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Session.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session_Asset__c</object>
        <sortField>Asset__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_ProductId_Canje_Bonos</name>
        <label>Recuperar ProductId Canje Bonos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Productos_Oportunidad_Canje_Bono</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bono Socio</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Oportunidad_Canje_Bono</name>
        <label>Recuperar Productos Oportunidad Canje Bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Productos_Oportunidad_Fianza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_ProductId_Canje_Bonos.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Oportunidad_Fianza</name>
        <label>Recuperar Productos Oportunidad Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Bono_Socio_Actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Familiy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conProductFamily</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_recursos_Benefit_Scheduled</name>
        <label>Recuperar recursos Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Recursos_Asociados_al_Benefit_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programaci_n_de_Actividad_CINA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Scheduled_Assigment.BenefitSchedule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Asset_Completo</name>
        <label>Actualizar Asset Completo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Completo_igual_a_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Primer_Asset_con.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Capacidad_Actual__c</field>
            <value>
                <elementReference>varCapacidadFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completo</stringValue>
            </value>
        </inputAssignments>
        <object>Session_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Asset_Por_Completar</name>
        <label>Actualizar Benefit Asset Por Completar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Benefit_Disbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programaci_n_de_Actividad_CINA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Disbursement.BenefitSession.BenefitSchedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Primer_Asset_con.Asset__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Disbursement.BenefitSession.BenefitSchedule.Benefit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completo__c</field>
            <value>
                <elementReference>varCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupaci_n__c</field>
            <value>
                <elementReference>varCapacidadFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit_Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Scheduled_Asignment</name>
        <label>Actualizar Benefit Scheduled Asignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Benefit_Scheduled_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Scheduled_Assigment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>conStatusInscrito</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitScheduleAssignment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Bono_Socio_Account</name>
        <label>Actualizar Bono Socio Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupear_Benefit_Assignment_asociado_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bono_Socio__c</field>
            <value>
                <elementReference>varBonoActualizadoFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Actividad</name>
        <label>Actualizar Estado Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Pago_con_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Actividad_Bautismo</name>
        <label>Actualizar Estado Actividad Bautismo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Pago_con_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Tripulacion__c</field>
            <value>
                <stringValue>BA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Actividad_Cesion</name>
        <label>Actualizar Estado Actividad Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Pago_con_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Deposito_Fianza__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Fianza__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Fianza__c</field>
            <value>
                <elementReference>Recuperar_Productos_Oportunidad_Fianza.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Fianza__c</field>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Tripulacion__c</field>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Actividad_Regata</name>
        <label>Actualizar Estado Actividad Regata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Pago_con_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Tripulacion__c</field>
            <value>
                <stringValue>RG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Oportunidad_Close_Won</name>
        <label>Actualizar Oportunidad Close Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Status_Quote_BA_Sincronizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Oportunidad_Obligaci_n_Close_Won</name>
        <label>Actualizar Oportunidad Obligación Close Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Status_Quote_Obligaci_n_Sincronizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Pago_con_Benefit_Assigment</name>
        <label>Actualizar Pago con Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment_Actividad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secuencial_Pago__c</field>
            <value>
                <elementReference>varSecuencialPagoTexto</elementReference>
            </value>
        </inputAssignments>
        <object>Payment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Pago_con_Obligaci_n</name>
        <label>Actualizar Pago con Obligación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Obligaci_n_Pagada_Completamente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment_Obligacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Recuperar_Opportunity_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secuencial_Pago__c</field>
            <value>
                <elementReference>varSecuencialPago</elementReference>
            </value>
        </inputAssignments>
        <object>Payment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Pago_con_Obligacion_Cuota</name>
        <label>Actualizar Pago con Obligacion Cuota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Cuota_Pagada_Completamente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment_Obligacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_Origen__c</field>
            <value>
                <stringValue>Cuota</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Pago_con_Obligacion_Licencia</name>
        <label>Actualizar Pago con Obligacion Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Licencia_Pagada_Completamente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment_Obligacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tipo_Origen__c</field>
            <value>
                <stringValue>LI</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Pago_Pendiente_con_Benefit_Assignment</name>
        <label>Actualizar Pago Pendiente con Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Payment_Actividad</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>Recupear_Benefit_Assignment_asociado_Oportunidad_Pendiente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secuencial_Pago__c</field>
            <value>
                <elementReference>varSecuencialPagoTexto</elementReference>
            </value>
        </inputAssignments>
        <object>Payment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Stage_Contrato_Cuota</name>
        <label>Actualizar Stage Contrato Cuota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contrato_Actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Stage_Contrato_Licencia</name>
        <label>Actualizar Stage Contrato Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contrato_Actualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity_Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Approval Process</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Status_Quote_BA_Sincronizada</name>
        <label>Actualizar Status Quote BA Sincronizada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calcular_Nuevo_Bono</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Status_Quote_Obligaci_n_Sincronizada</name>
        <label>Actualizar Status Quote Obligación Sincronizada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Contract_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Status_Quote_Syncronizada</name>
        <label>Actualizar Status Quote Syncronizada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Pagada_Completamente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Opportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Incrementar_en_uno_Ocupacion_Asset_Por_Completar</name>
        <label>Incrementar en uno Ocupacion Asset Por Completar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Benefit_Asset_Por_Completar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Primer_Asset_con.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Capacidad_Actual__c</field>
            <value>
                <elementReference>varCapacidadFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Por Completar</stringValue>
            </value>
        </inputAssignments>
        <object>Session_Asset__c</object>
    </recordUpdates>
    <screens>
        <name>Cantidades_No_Coinciden_Actividad</name>
        <label>Cantidades No Coinciden Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CantidadesNoCoincided</name>
            <fieldText>&lt;p&gt;La cantidad del pago es superior al importe pendiente de la oportunidad.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cantidades_No_Coinciden_Obligacion</name>
        <label>Cantidades No Coinciden Obligacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_CantidadesNoCoincided</name>
            <fieldText>&lt;p&gt;La cantidad del pago es superior al importe pendiente de la oportunidad.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Payment_Info_BA</name>
        <label>Collect Payment Info BA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cantidad_Pagada_Actividad_coincide_con_Cantidad_Oportunidad</targetReference>
        </connector>
        <fields>
            <name>informacionCuenta</name>
            <fieldText>&lt;h2&gt;Datos del Pago:&lt;/h2&gt;&lt;ul&gt;&lt;li&gt;Socio: {!Recuperar_Account.Name}&lt;/li&gt;&lt;li&gt;Oportunidad: {!Recuperar_Opportunity.Name}&lt;/li&gt;&lt;li&gt;Cantidad: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Recuperar_Opportunity.Amount}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PagosAnterioresBA</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pagos anteriores Actividad</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Pagos_Benefit_Assigment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;PaymentNumber&quot;,&quot;guid&quot;:&quot;column-b96b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Identificador de Pago&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payment Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-72cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad Pagada&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Date&quot;,&quot;guid&quot;:&quot;column-52d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fecha del Pago&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Secuencial_Pago__c&quot;,&quot;guid&quot;:&quot;column-6211&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Secuencial Pago&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Secuencial Pago&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCantidadPendiente</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Recuperar_Opportunity.Amount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Fecha del Pago</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varCantidadPendiente</elementReference>
            </defaultValue>
            <fieldText>Importe del Pago</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Payment_Comments</name>
            <fieldText>Comentarios del Pago</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Payment_Info_Contrato</name>
        <label>Collect Payment Info Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cantidad_Pagada_Obligacion_coincide_con_Cantidad_Pendiente</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_informacionCuenta</name>
            <fieldText>&lt;h2&gt;Datos del Pago:&lt;/h2&gt;&lt;ul&gt;&lt;li&gt;Socio: {!Recuperar_Account.Name}&lt;/li&gt;&lt;li&gt;Oportunidad: {!Recuperar_Opportunity.Name}&lt;/li&gt;&lt;li&gt;Cantidad: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Recuperar_Opportunity.Amount}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PagosAnterioresObligacion</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pagos anteriores Obligacion</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Pagos_Contratos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;PaymentNumber&quot;,&quot;guid&quot;:&quot;column-b96b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Identificador de Pago&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Payment Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Secuencial_Pago__c&quot;,&quot;guid&quot;:&quot;column-9575&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Secuencial del Pago&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Secuencial Pago&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount&quot;,&quot;guid&quot;:&quot;column-72cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cantidad Pagada&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Date&quot;,&quot;guid&quot;:&quot;column-52d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fecha del Pago&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCantidadPendiente</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Recuperar_Opportunity.Amount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Payment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Fecha del Pago</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Amount_Contrato</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varCantidadPendiente</elementReference>
            </defaultValue>
            <fieldText>Importe del Pago</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Payment_Comments</name>
            <fieldText>Comentarios del Pago</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Errorcreaciondelospagos</name>
        <label>Copy 1 of Errorcreaciondelospagos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errorcreacionpago</name>
            <fieldText>&lt;p&gt;Se ha producido un error en la creación del pago. Consulte con el Administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Errorcreaciondelospagos</name>
        <label>Errorcreaciondelospagos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorcreacionpago</name>
            <fieldText>&lt;p&gt;Se ha producido un error en la creación del pago. Consulte con el Administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_existen_asset_libres_actividad</name>
        <label>No existen asset libres actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizar_Benefit_Asset_Por_Completar</targetReference>
        </connector>
        <fields>
            <name>NoExistenBarcos</name>
            <fieldText>&lt;p&gt;No existen barcos libres para la sesion {!Recuperar_Benefit_Session.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Asigne manualmente un nuevo barco y actualice la ocupación a uno.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBonoActualizadoFinal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCantidadTotalPagos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCompleto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varExisteRecursosTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSecuencialPago</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
