force-app/main/default/flows/Borrado_Benefit_Assigment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Fecha_Control_Migracion</name>
        <label>Asignar Fecha Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_No_Encontrado_BA</name>
        <label>Asignar No Encontrado BA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Fecha_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_No_Encontrado_BD</name>
        <label>Asignar No Encontrado BD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Registros_BS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_No_Encontrado_BS</name>
        <label>Asignar No Encontrado BS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Registros_BA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Procesado_Control_Migracion</name>
        <label>Asignar Procesado Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Registros_a_Borrar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobar_Registros_Benefit_Assignment</name>
        <label>Comprobar Registros Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_No_Encontrado_BA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_BA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_Registros_BA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Benefit_Assigment</targetReference>
            </connector>
            <label>Si Existen BA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Registros_Benefit_Scheduled</name>
        <label>Comprobar Registros Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_No_Encontrado_BS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_BS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_Registros_BS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Schedule_Assignment</targetReference>
            </connector>
            <label>Si Existen BS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Registros_a_Borrar</name>
        <label>Existen Registros a Borrar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_No_Encontrado_BD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_Benefit_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_Registros</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Benefit_Disbursement</targetReference>
            </connector>
            <label>Existen Benefit Assigment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varContadorBuffer</name>
        <dataType>Number</dataType>
        <expression>{!varInputControlMigracion.Buffer__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Borrado Benefit Assigment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Borrado Benefit Assigment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Borrado_Benefit_Assigment</name>
        <label>Borrado Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Fecha_Control_Migracion</targetReference>
        </connector>
        <inputReference>Comprobar_Registros_BA</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Benefit_Disbursement</name>
        <label>Borrado Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Registros_BS</targetReference>
        </connector>
        <inputReference>Comprobar_Registros</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Schedule_Assignment</name>
        <label>Borrado Schedule Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Registros_BA</targetReference>
        </connector>
        <inputReference>Comprobar_Registros_BS</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Comprobar_Registros</name>
        <label>Comprobar Registros</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Procesado_Control_Migracion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Comprobar_Registros_BA</name>
        <label>Comprobar Registros BA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Registros_Benefit_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Comprobar_Registros_BS</name>
        <label>Comprobar Registros BS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Registros_Benefit_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Control_Migracion</name>
        <label>Actualizar Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputControlMigracion</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Registros</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInputControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
</Flow>
