force-app/main/default/flows/Borrado_Benefit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Estado_No_Encontrado</name>
        <label>Asignar Estado No Encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControMigracion.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Benefit_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Estado_No_Encontrado</name>
        <label>Copy 1 of Asignar Estado No Encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControMigracion.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Registros_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Asignar_Estado_No_Encontrado</name>
        <label>Copy 2 of Asignar Estado No Encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControMigracion.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resultado_del_Proceso_Borrado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resultado_del_Proceso_Borrado</name>
        <label>Resultado del Proceso Borrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputControMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>conCategoriaOtros</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>estadoCompletado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completado</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_2_of_Existen_Registros_a_Borrar</name>
        <label>Existen Schedules a Borrar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Asignar_Estado_No_Encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_Benefit_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_Benefit_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Schedule</targetReference>
            </connector>
            <label>Existen Benefit Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Benefit_a_Borrar</name>
        <label>Existen Benefit a Borrar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Asignar_Estado_No_Encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Existen_Benefit_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_Registros</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Benefit</targetReference>
            </connector>
            <label>Copy 1 of Existen Benefit Assigment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Registros_a_Borrar</name>
        <label>Existen Registros a Borrar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Estado_No_Encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_Benefit_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_Registros</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Benefit_Session</targetReference>
            </connector>
            <label>Existen Benefit Session</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varContadorBuffer</name>
        <dataType>Number</dataType>
        <expression>{!varInputControMigracion.Buffer__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Borrado Benefit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Borrado Benefit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Borrado_Benefit</name>
        <label>Borrado Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resultado_del_Proceso_Borrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Benefit</object>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Benefit_Session</name>
        <label>Borrado Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Benefit_Scheduled</targetReference>
        </connector>
        <inputReference>Comprobar_Registros</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Schedule</name>
        <label>Borrado Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Registros_Benefit</targetReference>
        </connector>
        <inputReference>Comprobar_Benefit_Scheduled</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Comprobar_Benefit_Scheduled</name>
        <label>Comprobar Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Existen_Registros_a_Borrar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Comprobar_Registros</name>
        <label>Comprobar Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Registros_a_Borrar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Comprobar_Registros_Benefit</name>
        <label>Comprobar Registros Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Benefit_a_Borrar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Type</name>
        <label>Recuperar Benefit Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Registros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>conCategoriaOtros</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInputControMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
</Flow>
