force-app/main/default/flows/Control_Migraci_n_Bis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Actualizar_Registro_Creacion_Asistentes</name>
        <label>Actualizar Registro Creacion Asistentes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X6_6_Creacion_Asistentes_Detalles_atrav_s_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Bautismos</name>
        <label>Actualizar Registro Creacion  Bautismos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X9_2_Creacion_Bautismos_atraves_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Cesiones</name>
        <label>Actualizar Registro Creacion Cesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X8_2_Creacion_Cesiones_atrav_s_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Evento</name>
        <label>Actualizar Registro Creacion Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X6_2_Creacion_Eventos_atrav_s_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Program_Enrolment</name>
        <label>Actualizar Registro Creacion Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates_Flow_1.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Regatas</name>
        <label>Actualizar Registro Creacion Regatas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X7_2_Creacion_Regatas_atrav_s_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Tripulacion_Bautismos</name>
        <label>Actualizar Registro Creacion Tripulacion Bautismos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X9_2_Creacion_Bautismos_atraves_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Tripulacion_Cesiones</name>
        <label>Actualizar Registro Creacion Tripulacion Cesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X8_5_Creacion_Tripulaciones_Cesion_atraves_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Tripulaciones</name>
        <label>Actualizar Registro Creacion Tripulaciones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X7_5_Creacion_Tripus_atrav_s_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Control_Migracion</name>
        <label>Asignacion Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Registro_Creado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proceso_Ejecutar</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Borrado</name>
        <choiceText>Borrado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parcial</name>
        <choiceText>Parcial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parcial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Procesado</name>
        <choiceText>Procesado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procesado</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProgramEnrolment</name>
        <choiceText>Program Enrolment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program Enrolment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Operacion_Asistentes</name>
        <label>Operacion Asistentes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Asistente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_6_Creacion_Asistentes_Detalles_atrav_s_Updates</targetReference>
            </connector>
            <label>Creacion Asistente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Bautismos</name>
        <label>Operacion Bautismos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Bautismos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9_2_Creacion_Bautismos_atraves_de_Updates</targetReference>
            </connector>
            <label>Creacion Bautismos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Cesiones</name>
        <label>Operacion Cesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Cesiones</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X8_2_Creacion_Cesiones_atrav_s_de_Updates</targetReference>
            </connector>
            <label>Creacion Cesiones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Evento</name>
        <label>Operacion Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Evento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_2_Creacion_Eventos_atrav_s_de_Updates</targetReference>
            </connector>
            <label>Creacion Evento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Program_Enrolment</name>
        <label>Operacion Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Program_Enrollment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates_Flow_1</targetReference>
            </connector>
            <label>Creacion Program Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Regatas</name>
        <label>Operacion Regatas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Regatas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_2_Creacion_Regatas_atrav_s_de_Updates</targetReference>
            </connector>
            <label>Creacion Regatas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Tripulacion_Bautismos</name>
        <label>Operacion Tripulacion Bautismos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Tripulacion_Bautismos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9_5_Creacion_Tripulaciones_Bautismos_atraves_de_Updates</targetReference>
            </connector>
            <label>Creacion Tripulacion Bautismos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Tripulacion_Cesiones</name>
        <label>Operacion Tripulacion Cesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Tripulacion_Cesiones</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X8_5_Creacion_Tripulaciones_Cesion_atraves_de_Updates</targetReference>
            </connector>
            <label>Creacion Tripulacion Cesiones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Tripulaciones</name>
        <label>Operacion Tripulaciones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actulizacion_Registro_Control_Migracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Tripulaciones</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_5_Creacion_Tripus_atrav_s_Updates</targetReference>
            </connector>
            <label>Creacion Tripulaciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceso_Ejecutar</name>
        <label>Proceso Ejecutar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceso_Program_Enrolments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Enrolment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Program_Enrolment</targetReference>
            </connector>
            <label>Proceso Program Enrolments</label>
        </rules>
        <rules>
            <name>Proceso_Eventos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eventos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Evento</targetReference>
            </connector>
            <label>Proceso Eventos</label>
        </rules>
        <rules>
            <name>Proceso_Asistentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asistentes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Asistentes</targetReference>
            </connector>
            <label>Proceso Asistentes</label>
        </rules>
        <rules>
            <name>Proceso_Regatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regatas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Regatas</targetReference>
            </connector>
            <label>Proceso Regatas</label>
        </rules>
        <rules>
            <name>Proceso_Tripulaciones_Regatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tripulaciones Regatas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Tripulaciones</targetReference>
            </connector>
            <label>Proceso Tripulaciones Regatas</label>
        </rules>
        <rules>
            <name>Proceso_Cesiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Cesiones</targetReference>
            </connector>
            <label>Proceso Cesiones</label>
        </rules>
        <rules>
            <name>Tripulaciones_Cesiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tripulaciones Cesiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Tripulacion_Cesiones</targetReference>
            </connector>
            <label>Tripulaciones Cesiones</label>
        </rules>
        <rules>
            <name>Proceso_Bautismo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bautismos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Bautismos</targetReference>
            </connector>
            <label>Proceso Bautismo</label>
        </rules>
        <rules>
            <name>Proceso_Tripulacion_Bautismo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tripulaciones Bautismos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Tripulacion_Bautismos</targetReference>
            </connector>
            <label>Proceso Tripulacion Bautismo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pickListEntidad</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entidad__c</picklistField>
        <picklistObject>Temporal_Program_Enrolment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListEstado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estado__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListModo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modo__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListOperacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operacion__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListProceso</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proceso__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListStatusFinal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Final_Temporal__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListStatusInicial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Inicial_Temporal__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>nombreControlMigracion</name>
        <dataType>String</dataType>
        <expression>{!Proceso} &amp;&quot; &quot;&amp; {!Operacion} &amp;&quot; &quot;&amp; {!Modo}&amp; &quot; &quot;&amp; text(now())</expression>
    </formulas>
    <interviewLabel>Control Migración Bis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Control Migración Bis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creacion_Registro_Contro</name>
        <label>Creacion Registro Contro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varRegistroControlMigracion.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Recuperar_Registro_Creado</targetReference>
        </connector>
        <inputAssignments>
            <field>Ano_Fin__c</field>
            <value>
                <elementReference>A_o_Fin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ano_Inicio__c</field>
            <value>
                <elementReference>A_o_Inicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buffer__c</field>
            <value>
                <elementReference>Tama_o_Buffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidad__c</field>
            <value>
                <elementReference>Entidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modo__c</field>
            <value>
                <elementReference>Modo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operacion__c</field>
            <value>
                <elementReference>Operacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceso__c</field>
            <value>
                <elementReference>Proceso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Final_Temporal__c</field>
            <value>
                <elementReference>Status_Final_Temporal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Inicial_Temporal__c</field>
            <value>
                <elementReference>Status_Inicial_Temporal</elementReference>
            </value>
        </inputAssignments>
        <object>Control_Migracion__c</object>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Registro_Creado</name>
        <label>Recuperar Registro Creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion_Control_Migracion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistroControlMigracion.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Control_Migracion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actulizacion_Registro_Control_Migracion</name>
        <label>Actulizacion Registro Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varRegistroControlMigracion</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmaci_n_Registros</name>
        <label>Confirmación Registros</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creacion_Registro_Contro</targetReference>
        </connector>
        <fields>
            <name>MostrarRegistro</name>
            <fieldText>&lt;p&gt;Proceso : {!Proceso}&lt;/p&gt;&lt;p&gt;Operación : {!Operacion}&lt;/p&gt;&lt;p&gt;Modo: {!Modo}&lt;/p&gt;&lt;p&gt;Buffer:{!Tama_o_Buffer}&lt;/p&gt;&lt;p&gt;Estado Inicial:{!Status_Inicial_Temporal}&lt;/p&gt;&lt;p&gt;Estado Final:{!Status_Final_Temporal}&lt;/p&gt;&lt;p&gt;Entidad:{!Entidad}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccion_Parametros_Ejecucion</name>
        <label>Seleccion Parametros Ejecucion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmaci_n_Registros</targetReference>
        </connector>
        <fields>
            <name>Proceso</name>
            <choiceReferences>pickListProceso</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proceso</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Operacion</name>
            <choiceReferences>pickListOperacion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operacion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modo</name>
            <choiceReferences>pickListModo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Total</stringValue>
            </defaultValue>
            <fieldText>Modo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tama_o_Buffer</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>200.0</numberValue>
            </defaultValue>
            <fieldText>Tamaño Buffer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Status_Inicial_Temporal</name>
            <choiceReferences>pickListStatusInicial</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pendiente</stringValue>
            </defaultValue>
            <fieldText>Status Inicial Temporal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operacion</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Borrado</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Final_Temporal</name>
            <choiceReferences>pickListStatusFinal</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>En Proceso</stringValue>
            </defaultValue>
            <fieldText>Status Final Temporal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Operacion</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Borrado</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>A_o_Inicio</name>
            <dataType>Number</dataType>
            <fieldText>Año Inicio</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Parcial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>A_o_Fin</name>
            <dataType>Number</dataType>
            <fieldText>Año Fin</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Parcial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Entidad</name>
            <choiceReferences>pickListEntidad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entidad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Proceso</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProgramEnrolment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Seleccion_Parametros_Ejecucion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates_Flow_1</name>
        <label>2.5 Creacion Program Enrolment a través de Updates Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Program_Enrolment</targetReference>
        </connector>
        <flowName>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X6_2_Creacion_Eventos_atrav_s_de_Updates</name>
        <label>6.2 Creacion Eventos através de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Evento</targetReference>
        </connector>
        <flowName>X6_2_Creacion_Eventos_atrav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>Recuperar_Registro_Creado</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X6_6_Creacion_Asistentes_Detalles_atrav_s_Updates</name>
        <label>6.6 Creacion Asistentes Detalles através Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Asistentes</targetReference>
        </connector>
        <flowName>X6_6_Creacion_Asistentes_Detalles_atrav_s_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>Recuperar_Registro_Creado</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X7_2_Creacion_Regatas_atrav_s_de_Updates</name>
        <label>7.2 Creacion Regatas através de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Regatas</targetReference>
        </connector>
        <flowName>X7_2_Creacion_Regatas_atrav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>Recuperar_Registro_Creado</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X7_5_Creacion_Tripus_atrav_s_Updates</name>
        <label>7.5 Creacion Tripus através Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Tripulaciones</targetReference>
        </connector>
        <flowName>X7_5_Creacion_Tripus_atrav_s_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X8_2_Creacion_Cesiones_atrav_s_de_Updates</name>
        <label>8.2 Creacion Cesiones através de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Cesiones</targetReference>
        </connector>
        <flowName>X8_2_Creacion_Cesiones_atrav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X8_5_Creacion_Tripulaciones_Cesion_atraves_de_Updates</name>
        <label>8.5 Creacion Tripulaciones Cesion atraves de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Tripulacion_Cesiones</targetReference>
        </connector>
        <flowName>X8_5_Creacion_Tripulaciones_Cesion_atraves_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X9_2_Creacion_Bautismos_atraves_de_Updates</name>
        <label>9.2 Creacion Bautismos atraves de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Bautismos</targetReference>
        </connector>
        <flowName>X9_2_Creacion_Bautismos_atraves_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X9_5_Creacion_Tripulaciones_Bautismos_atraves_de_Updates</name>
        <label>9.5 Creacion Tripulaciones Bautismos atraves de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Tripulacion_Bautismos</targetReference>
        </connector>
        <flowName>X9_5_Creacion_Tripulaciones_Bautismos_atraves_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varRegistroControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
</Flow>
