force-app/main/default/flows/Control_Migracion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Actualizar_Registro_Control_Matriculas</name>
        <label>Actualizar Registro Control Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualizacion_Temporal_Matriculas.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion</name>
        <label>Actualizar Registro Creacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creacion_Cursos_a_Trav_s_de_Update_Temporal_Curso.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Alumnos</name>
        <label>Actualizar Registro Creacion Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creaci_n_Alumnos_a_trav_s_update_Temporal_Alummos.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Creacion_Program_Enrolment</name>
        <label>Actualizar Registro Creacion Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates_Flow_1.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Variable_Borrado</name>
        <label>Actualizar Variable Borrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Borrado_Benefit.varInputControMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_Valor_Completado</name>
        <label>Asignar Valor Completado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>registroControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Valor_Completado_Borrado_Encuadramiento</name>
        <label>Asignar Valor Completado Borrado Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Valor_Completado_Crear_Encuadramiento</name>
        <label>Asignar Valor Completado Crear Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Encuadramientos_a_trav_s_de_Updates.varInputControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_valores</name>
        <label>asignar valores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistroControlMigracion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Registro_Creado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proceso_Ejecutar</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Actualizacion</name>
        <choiceText>Actualizacion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Actualizacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creacion</name>
        <choiceText>Creacion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parcial</name>
        <choiceText>Parcial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parcial</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProgramEnrolment</name>
        <choiceText>Program Enrolment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program Enrolment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Operacion_Alumnos</name>
        <label>Operacion Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Alumnos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creaci_n_Alumnos_a_trav_s_update_Temporal_Alummos</targetReference>
            </connector>
            <label>Creacion Alumnos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Cursos</name>
        <label>Operacion Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Borrado_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Benefit</targetReference>
            </connector>
            <label>Borrado Cursos</label>
        </rules>
        <rules>
            <name>Creacion_Cursos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creacion_Cursos_a_Trav_s_de_Update_Temporal_Curso</targetReference>
            </connector>
            <label>Creacion Cursos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Encuadramiento</name>
        <label>Operacion Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Encuadramiento_Borrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_BA_Encuadramiento</targetReference>
            </connector>
            <label>Encuadramiento Borrado</label>
        </rules>
        <rules>
            <name>Encuadramiento_Creacion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Encuadramientos_a_trav_s_de_Updates</targetReference>
            </connector>
            <label>Encuadramiento Creacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Matriculas</name>
        <label>Operacion Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operacion_Borrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_BA_Matriculas</targetReference>
            </connector>
            <label>Matriculas Borrado</label>
        </rules>
        <rules>
            <name>Matriculas_Creaci_n</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizacion_Temporal_Matriculas</targetReference>
            </connector>
            <label>Matriculas Creación</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operacion_Program_Enrolment</name>
        <label>Operacion Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>varListaRecordTemporalCurso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion_Program_Enrollment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actualizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates_Flow_1</targetReference>
            </connector>
            <label>Creacion Program Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceso_Ejecutar</name>
        <label>Proceso Ejecutar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceso_Almunos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alumnos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Alumnos</targetReference>
            </connector>
            <label>Proceso Alumnos</label>
        </rules>
        <rules>
            <name>Proceso_Program_Enrolments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Enrolment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Program_Enrolment</targetReference>
            </connector>
            <label>Proceso Program Enrolments</label>
        </rules>
        <rules>
            <name>Proceso_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cursos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Cursos</targetReference>
            </connector>
            <label>Proceso Cursos</label>
        </rules>
        <rules>
            <name>Proceso_Matriculas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matriculas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Matriculas</targetReference>
            </connector>
            <label>Proceso Matriculas</label>
        </rules>
        <rules>
            <name>Proceso_Encuadramientos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registro_Creado.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encuadramientos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operacion_Encuadramiento</targetReference>
            </connector>
            <label>Proceso Encuadramientos</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pickListEntidad</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Entidad__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListEstado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estado__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListModo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modo__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListOperacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operacion__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListProceso</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proceso__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListStatusFinal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Final_Temporal__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickListStatusInicial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Inicial_Temporal__c</picklistField>
        <picklistObject>Control_Migracion__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>nombreControlMigracion</name>
        <dataType>String</dataType>
        <expression>{!Proceso} &amp;&quot; &quot;&amp; {!Operacion} &amp;&quot; &quot;&amp; {!Modo}&amp; &quot; &quot;&amp; text(now())</expression>
    </formulas>
    <interviewLabel>Control Migracion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>0.0 Control Migracion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creacion_Registro_Control</name>
        <label>Creacion Registro Control</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varRegistroControlMigracion.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Recuperar_Registro_Creado</targetReference>
        </connector>
        <inputAssignments>
            <field>Ano_Fin__c</field>
            <value>
                <elementReference>A_o_Fin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ano_Inicio__c</field>
            <value>
                <elementReference>A_o_Inicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buffer__c</field>
            <value>
                <elementReference>Tama_o_Buffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidad__c</field>
            <value>
                <elementReference>Entidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modo__c</field>
            <value>
                <elementReference>Modo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operacion__c</field>
            <value>
                <elementReference>Operacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceso__c</field>
            <value>
                <elementReference>Proceso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Final_Temporal__c</field>
            <value>
                <elementReference>Status_Final_Temporal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Inicial_Temporal__c</field>
            <value>
                <elementReference>Status_Inicial_Temporal</elementReference>
            </value>
        </inputAssignments>
        <object>Control_Migracion__c</object>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Registro_Creado</name>
        <label>Recuperar Registro Creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asignar_valores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistroControlMigracion.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Control_Migracion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>varListaRecordTemporalCurso</name>
        <label>Actulizacion Registro Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varRegistroControlMigracion</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmaci_n_Registros</name>
        <label>Confirmación Registros</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creacion_Registro_Control</targetReference>
        </connector>
        <fields>
            <name>MostrarRegistro</name>
            <fieldText>&lt;p&gt;Proceso : {!Proceso}&lt;/p&gt;&lt;p&gt;Operación : {!Operacion}&lt;/p&gt;&lt;p&gt;Modo : {!Modo}&lt;/p&gt;&lt;p&gt;Buffer : {!Tama_o_Buffer}&lt;/p&gt;&lt;p&gt;Estado : Inicial:{!Status_Inicial_Temporal}&lt;/p&gt;&lt;p&gt;Estado : Final:{!Status_Final_Temporal}&lt;/p&gt;&lt;p&gt;Entidad: {!Entidad}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccion_Parametros_Ejecucion</name>
        <label>Seleccion Parametros Ejecucion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmaci_n_Registros</targetReference>
        </connector>
        <fields>
            <name>Proceso</name>
            <choiceReferences>pickListProceso</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proceso</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Operacion</name>
            <choiceReferences>pickListOperacion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operacion</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modo</name>
            <choiceReferences>pickListModo</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Total</stringValue>
            </defaultValue>
            <fieldText>Modo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tama_o_Buffer</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>200.0</numberValue>
            </defaultValue>
            <fieldText>Tamaño Buffer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Status_Inicial_Temporal</name>
            <choiceReferences>pickListStatusInicial</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pendiente</stringValue>
            </defaultValue>
            <fieldText>Status Inicial Temporal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Operacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Actualizacion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Operacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Creacion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Final_Temporal</name>
            <choiceReferences>pickListStatusFinal</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>En Proceso</stringValue>
            </defaultValue>
            <fieldText>Status Final Temporal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Operacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Actualizacion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Operacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Creacion</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>A_o_Inicio</name>
            <dataType>Number</dataType>
            <fieldText>Año Inicio</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Parcial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>A_o_Fin</name>
            <dataType>Number</dataType>
            <fieldText>Año Fin</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Parcial</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Entidad</name>
            <choiceReferences>pickListEntidad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Entidad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Proceso</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProgramEnrolment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Seleccion_Parametros_Ejecucion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Actualizacion_Temporal_Matriculas</name>
        <label>Actualizacion Temporal Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Control_Matriculas</targetReference>
        </connector>
        <flowName>Actualizar_Matriculas</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Borrado_BA_Encuadramiento</name>
        <label>Borrado BA Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Valor_Completado_Borrado_Encuadramiento</targetReference>
        </connector>
        <flowName>Borrado_Benefit_Assigment</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Borrado_BA_Matriculas</name>
        <label>Borrado BA Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>asignar_Valor_Completado</targetReference>
        </connector>
        <flowName>Borrado_Benefit_Assigment</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Borrado_Benefit</name>
        <label>Borrado Benefit Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Variable_Borrado</targetReference>
        </connector>
        <flowName>Borrado_Benefit</flowName>
        <inputAssignments>
            <name>varInputControMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Creaci_n_Alumnos_a_trav_s_update_Temporal_Alummos</name>
        <label>Creación Alumnos a través update Temporal Alummos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Alumnos</targetReference>
        </connector>
        <flowName>X1_4_Creaci_n_Accounts_Atrav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Creacion_Cursos_a_Trav_s_de_Update_Temporal_Curso</name>
        <label>Creacion Cursos a Través de Update Temporal Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion</targetReference>
        </connector>
        <flowName>X3_5_Creacion_Cursos_atrav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Crear_Encuadramientos_a_trav_s_de_Updates</name>
        <label>5.2 Crear Encuadramientos a través de Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Valor_Completado_Crear_Encuadramiento</targetReference>
        </connector>
        <flowName>X5_2_Crear_Encuadramientos_a_trav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates_Flow_1</name>
        <label>2.5 Creacion Program Enrolment a través de Updates Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Registro_Creacion_Program_Enrolment</targetReference>
        </connector>
        <flowName>X2_5_Creacion_Program_Enrolment_a_trav_s_de_Updates</flowName>
        <inputAssignments>
            <name>varInputControlMigracion</name>
            <value>
                <elementReference>varRegistroControlMigracion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>registroControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varRegistroControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
</Flow>
