force-app/main/default/flows/Crear_Cursos_AF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignacion_Individual_BSchedule</name>
        <label>Asignacion Individual BSchedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>registroBScheduledIndividual.DefaultBenefitQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBScheduledIndividual.FirstSessionEndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBScheduledIndividual.FirstSessionStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBScheduledIndividual.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreCalendarioNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBScheduledIndividual.BenefitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nn_Recorrer_Niveles_Curso_Scheduled.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBScheduledIndividual.Codigo_Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nn_Recorrer_Niveles_Curso_Scheduled.Codigo_Benefit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Asignacion_Lista_BScheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_a_la_variable_Salida</name>
        <label>Asignar Benefit a la variable Salida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Benefit_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Codigo_Nivel</name>
        <label>Asignar Codigo Nivel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Benefit_Type_Generio.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Beneficio_Curso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Codigo_Niveles_a_Lista</name>
        <label>Asignar Codigo Niveles a Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIdentificadoresBenefitType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorres_Lista_Niveles.CN_NIVEL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorres_Lista_Niveles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Error_Program_No_encontrado</name>
        <label>Asignar Error Program No encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Estado_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Descripcion_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conProgramaNoEncontrado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Cursos_Erro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Niveles_a_Lista_Temporal_Niveles</name>
        <label>Asignar Niveles a Lista Temporal Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaTemporalNiveles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Niveles_Curso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contar_Niveles_Curso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Primer_Codigo_Nivel</name>
        <label>Asignar Primer Codigo Nivel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Benefit_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Benefit_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Niveles_Curso</name>
        <label>Contar Niveles Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIntNivelesCurso</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varListaTemporalNiveles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cuantos_Niveles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Error_Program_No_encontrado</name>
        <label>Copy 1 of Asignar Error Program No encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Estado_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inconsistencia Datos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Actualizar_Temporal_Cursos_Erro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalizado_con_Exito</name>
        <label>Finalizado con Exito Varios Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Estado_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.salesforce_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Descripcion_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conVariosNiveles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Actualizar_Temporal_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalizado_con_Exito_un_Solo_Nivel</name>
        <label>Finalizado con Exito un Solo Nivel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Estado_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.salesforce_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Descripcion_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conActividadSinNiveles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Actualizar_Temporal_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Contador_Benefit_Type</name>
        <label>Incrementar Contador Benefit Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContadorBenefitType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primer_Registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_BScheduled_a_input</name>
        <label>N0 Asignar BScheduled a input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.p_salesforce_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCursos.Benefit_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Obtener_Dias_Curso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Datos_Sesion</name>
        <label>N0 Asignar Datos Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecorBSession.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreSesionN0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaInicioSessionTMN0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinSessionTMN0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>N0 Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBSession</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecorBSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Contar_Dias_Curso</name>
        <label>Contar Dias Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDiasCurso</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>N0_Obtener_Dias_Curso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Limpiar_VarListaSession</name>
        <label>N0 Limpiar VarListaSession</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBSession</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Validar_Niveles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignacion_Individual_Benefit</name>
        <label>Nn Asignacion Individual Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.BenefitTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nn_Recorrer_Niveles_Curso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Codigo_Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCodigoBeneficioCompuestoNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Cuenta_Contable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_CUENTA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Cuota_Obligatoria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_OBLICU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Licencia_Federativa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_LICFED__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Maximo_Monitores_Crucero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXMC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Maximo_Montiores_Ligera__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Maximo_Personas_Curso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXPERS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreBeneficioNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Parent_Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.Plazas_Maximo_Alumo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXPERS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.ProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>registroBenefitIndividual.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Asignacion_Lista_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignacion_Lista_Benefit</name>
        <label>Nn Asignacion Lista Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loteDeBenefitsParaCrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>registroBenefitIndividual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Recorrer_Niveles_Curso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignacion_Lista_BScheduled</name>
        <label>Nn Asignacion Lista BScheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lotedeBScheduledParaCrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>registroBScheduledIndividual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Recorrer_Niveles_Curso_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignar_Datos_Sesion_BScheduled</name>
        <label>Nn Asignar Datos Sesion BScheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecorBSession.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nn_Recorrer_Lote_BScheduled.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreSesionNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaInicioSesionTMNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinSesionTMNn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>Nn Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBSession</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecorBSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Crear_Sesiones_BScheduled</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conActividadSinNiveles</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Curso Sin Niveles</stringValue>
        </value>
    </constants>
    <constants>
        <name>conBenefitTypeSinNiveles</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0000</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNivelCursoAgrupacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>9999</stringValue>
        </value>
    </constants>
    <constants>
        <name>conProgramaNoEncontrado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Programa No encontrado</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUnSoloNivel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Un solo Nivel</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUoMDias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dias</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conVariosNiveles</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Varios Niveles</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Programa</name>
        <label>Comprobar Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Error_Program_No_encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe_Programa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Programa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Niveles_Curso</targetReference>
            </connector>
            <label>Si existe Programa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuantos_Niveles</name>
        <label>Cuantos Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Benefit_Type_Generio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existen_Niveles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIntNivelesCurso</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>conValorUno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorres_Lista_Niveles</targetReference>
            </connector>
            <label>Existen Niveles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primer_Registro</name>
        <label>Primer Registro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Benefit_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Primer_Registro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorBenefitType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conValorUno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Primer_Codigo_Nivel</targetReference>
            </connector>
            <label>Outcome 1 of Primer Registro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Niveles</name>
        <label>Validar Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Finalizado_con_Exito_un_Solo_Nivel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mas_de_un_Nivel_Nn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIntNivelesCurso</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>conValorUno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nn_Recorrer_Niveles_Curso</targetReference>
            </connector>
            <label>Mas de un Nivel Nn</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCodigoBeneficioCompuesto</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalCursos.DDDKEY__c}&amp;{!varCodigoTipoBeneficio}</expression>
    </formulas>
    <formulas>
        <name>varCodigoBeneficioCompuestoNn</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalCursos.DDDKEY__c}&amp;{!Nn_Recorrer_Niveles_Curso.Codigo_Nivel__c}</expression>
    </formulas>
    <formulas>
        <name>varFechaFinHora</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputTemporalCursos.CU_FECFIN__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaFinSesionTMNn</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Nn_Crear_Sesiones_BScheduled.CU_FECHAS__c})+(15/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaFinSessionTMN0</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!N0_Crear_Sesiones.CU_FECHAS__c})+(15/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaHoraInicio</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputTemporalCursos.CU_FECINI__c}) + (2/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaInicioSesionTMNn</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Nn_Crear_Sesiones_BScheduled.CU_FECHAS__c})</expression>
    </formulas>
    <formulas>
        <name>varFechaInicioSessionTMN0</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!N0_Crear_Sesiones.CU_FECHAS__c})+(9/24)</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficioN0</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalCursos.CU_ANO__c} &amp;&apos; &apos;&amp;{!Obtener_Location.Name} &amp;&apos; &apos;&amp;INITCAP({!varInputTemporalCursos.CU_NOMBRE__c})</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficioNn</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalCursos.CU_ANO__c} &amp;&apos; &apos;&amp;{!Obtener_Location.Name} &amp;&apos; &apos;&amp;INITCAP({!varInputTemporalCursos.CU_NOMBRE__c})&amp;&apos; &apos;&amp;{!Nn_Recorrer_Niveles_Curso.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendarioN0</name>
        <dataType>String</dataType>
        <expression>&quot;Calendario: &quot;&amp;{!varNombreBeneficioN0}</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendarioNn</name>
        <dataType>String</dataType>
        <expression>&apos;Calendario: &apos;&amp;{!varNombreBeneficioNn}</expression>
    </formulas>
    <formulas>
        <name>varNombreProgram</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalCursos.CU_ANO__c}&amp;&apos; Cursos &apos;&amp;{!Obtener_Location.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreSesionN0</name>
        <dataType>String</dataType>
        <expression>Text({!N0_Crear_Sesiones.CU_FECHAS__c})&amp;&apos;:&apos;&amp;{!varNombreCalendarioN0}</expression>
    </formulas>
    <formulas>
        <name>varNombreSesionNn</name>
        <dataType>String</dataType>
        <expression>Text({!Nn_Crear_Sesiones_BScheduled.CU_FECHAS__c})&amp;&quot;: &quot;&amp;{!varNombreCalendarioNn}</expression>
    </formulas>
    <interviewLabel>Crear Cursos AF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Cursos AF</label>
    <loops>
        <name>N0_Crear_Sesiones</name>
        <label>N0 Crear Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>N0_Obtener_Dias_Curso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>N0_Asignar_Datos_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>N0_Crear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Nn_Crear_Sesiones_BScheduled</name>
        <label>Nn Recorrer Sesiones BScheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>N0_Obtener_Dias_Curso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Nn_Asignar_Datos_Sesion_BScheduled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nn_Recorrer_Lote_BScheduled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Nn_Recorrer_Lote_BScheduled</name>
        <label>Nn Recorrer Lote BScheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>lotedeBScheduledParaCrear</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Nn_Crear_Sesiones_BScheduled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nn_Crear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Nn_Recorrer_Niveles_Curso</name>
        <label>Nn Recorrer Niveles Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>N0_Obtener_Benefit_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Nn_Asignacion_Individual_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nn_Crear_Beneficio_Curso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Nn_Recorrer_Niveles_Curso_Scheduled</name>
        <label>Nn Recorrer Niveles Curso Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>loteDeBenefitsParaCrear</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignacion_Individual_BSchedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nn_Crear_Benefit_Scheduled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Benefit_Type</name>
        <label>Recorrer Benefit Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>N0_Obtener_Benefit_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Incrementar_Contador_Benefit_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>N0_Crear_Beneficio_Curso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorres_Lista_Niveles</name>
        <label>Recorres Lista Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListaTemporalNiveles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Codigo_Niveles_a_Lista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>N0_Obtener_Benefit_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>N0_Crear_Beneficio_Curso</name>
        <label>N0 Crear Beneficio Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Benefit_a_la_variable_Salida</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Asignar_Error_Program_No_encontrado</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>varBenefitType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varCodigoBeneficioCompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Contable__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_CUENTA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuota_Obligatoria__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_OBLICU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_Federativa__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_LICFED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Obtener_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Monitores_Crucero__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Montiores_Ligera__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXML__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Personas_Curso__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXPERS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBeneficioN0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plazas_Maximo_Alumo__c</field>
            <value>
                <elementReference>varInputTemporalCursos.CU_MAXPERS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>Recuperar_Id_Unit_of_Mesure.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>N0_Crear_Benefit_Scheduled</name>
        <label>N0 Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>N0_Asignar_BScheduled_a_input</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varInputTemporalCursos.DDDKEY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultBenefitQuantity</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionEndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionStartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreCalendarioN0</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>N0_Crear_Benefit_Session</name>
        <label>N0 Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>N0_Limpiar_VarListaSession</targetReference>
        </connector>
        <inputReference>varListaBSession</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Nn_Crear_Beneficio_Curso</name>
        <label>Nn Crear Beneficio Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nn_Recorrer_Niveles_Curso_Scheduled</targetReference>
        </connector>
        <inputReference>loteDeBenefitsParaCrear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Nn_Crear_Benefit_Scheduled</name>
        <label>Nn Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nn_Recorrer_Lote_BScheduled</targetReference>
        </connector>
        <inputReference>lotedeBScheduledParaCrear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Nn_Crear_Benefit_Session</name>
        <label>Nn Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finalizado_con_Exito</targetReference>
        </connector>
        <inputReference>varListaBSession</inputReference>
    </recordCreates>
    <recordLookups>
        <name>N0_Obtener_Benefit_Types</name>
        <label>N0 Obtener Benefit Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Benefit_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Nivel__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varIdentificadoresBenefitType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitType</object>
        <sortField>Codigo_Nivel__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>N0_Obtener_Dias_Curso</name>
        <label>Obtener Dias Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N0_Contar_Dias_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P_DDDKEY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalCursos.DDDKEY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Curso_Dia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Benefit_Type_Generio</name>
        <label>Obtener Benefit Type Generio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Codigo_Nivel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Nivel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBenefitTypeSinNiveles</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Location</name>
        <label>Obtener Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Id_Unit_of_Mesure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_LUGAR__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Niveles_Curso</name>
        <label>Obtener Niveles Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Niveles_a_Lista_Temporal_Niveles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CN_ANO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_ANO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CN_CURSO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalCursos.CU_CURSO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Cursos_Niveles__c</object>
        <sortField>CN_NIVEL__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Programa</name>
        <label>Obtener Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreProgram</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Id_Unit_of_Mesure</name>
        <label>Recuperar Id Unit of Mesure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conUoMDias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Temporal_Cursos_Erro</name>
        <label>Actualizar Temporal Cursos Erro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCursos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualizar_Temporal_Cursos</name>
        <label>Actualizar Temporal Cursos 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCursos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualizar_Temporal_Cursos_Erro</name>
        <label>Copy 1 of Actualizar Temporal Cursos Erro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCursos</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loteDeBenefitsParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>lotedeBScheduledParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>registroBenefitIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>registroBScheduledIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCodigoTipoBeneficio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContadorBenefitType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDiasCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varIdentificadoresBenefitType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputTemporalCursos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporal_Cursos__c</objectType>
    </variables>
    <variables>
        <name>varIntNivelesCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varListaBSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varListaTemporalCursoDia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Curso_Dia__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalNiveles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos_Niveles__c</objectType>
    </variables>
    <variables>
        <name>varRecorBSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitTyp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varSalesforceIdPadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
