force-app/main/default/flows/Crear_Benefit_Session_en_un_Benefit_Nivel_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Datos_a_Nueva_Sesion</name>
        <label>Asignar Datos a Nueva Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSesionHijo.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BenefitScheduledId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSesionHijo.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNombreSesion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSesionHijo.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Para_cada_Sesi_n_Padre.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSesionHijo.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Para_cada_Sesi_n_Padre.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSesionHijo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaSesionesACrear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSesionHijo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Para_cada_Sesi_n_Padre</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formulaNombreSesion</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!Para_cada_Sesi_n_Padre.StartDateTime} )) &amp; &quot; : &quot; &amp;SUBSTITUTE({!Obtener_Nombre_Benefit_Schedule_Hijo.Name},&quot;Calendario &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Crear Benefit Session en un Benefit Nivel 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Benefit Session en un Benefit Nivel 2</label>
    <loops>
        <name>Para_cada_Sesi_n_Padre</name>
        <label>Para cada Sesión Padre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Benefit_Sessions_del_Benefit_Parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_a_Nueva_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Sesiones_Hijas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Sesiones_Hijas</name>
        <label>Crear Sesiones Hijas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Registro_Temporal</targetReference>
        </connector>
        <inputReference>varListaSesionesACrear</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Benefit_Scheduled_Parent</name>
        <label>Obtener Benefit Scheduled Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Benefit_Sessions_del_Benefit_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Benefit_Parent_Benefit_c__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Benefit_Sessions_del_Benefit_Parent</name>
        <label>Obtener Benefit Sessions del Benefit Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Para_cada_Sesi_n_Padre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Benefit_Scheduled_Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Nombre_Benefit_Schedule_Hijo</name>
        <label>Obtener Nombre Benefit Schedule Hijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Benefit_Scheduled_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BenefitScheduledId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Registro_Temporal</name>
        <label>Actualizar Estado Registro Temporal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Nombre_Benefit_Schedule_Hijo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Parent_Benefit_c__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <object>CourseCalendarStaging__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AnadiraListaparaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <description>arListaSesionesACrear</description>
        <name>varListaSesionesACrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varSesionHijo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
</Flow>
