force-app/main/default/flows/Crear_Benefit_Scheduled_Sesiones_desde_Cursos_Niveles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Contar_Niveles_Curso</name>
        <label>Contar Niveles Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Niveles_Curso</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>record_Niveles_lista</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cuantos_Niveles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Datos_Sesion</name>
        <label>N0 Asignar Datos Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDias.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaFinSesionN0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaIncioSesionN0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nombreSesionN0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>N0 Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lista_sesiones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Tipo_Beneficio_Agrupacion</name>
        <label>N0 Asignar Tipo Beneficio Agrupacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tipoBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nivel_0_Obtener_Tipo_Benefit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codigoTipoBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nivel_0_Obtener_Tipo_Benefit.Codigo_Nivel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Beneficio_Curso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Tipo_Beneficio_No_existen_Niveles</name>
        <label>N0 Asignar Tipo Beneficio No existen Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tipoBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_N0_Obtener_Tipo_Benefit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codigoTipoBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_N0_Obtener_Tipo_Benefit.Codigo_Nivel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Beneficio_Curso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Asignar_Tipo_Beneficio_Variable</name>
        <label>N0 Asignar Tipo Beneficio Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tipoBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Obtener_Tipo_Beneficio_Simple.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codigoTipoBeneficio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N0_Obtener_Tipo_Beneficio_Simple.Codigo_Nivel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Lista_Niveles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Borrar_Lista_Sessiones</name>
        <label>N0 Borrar Lista Sessiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lista_sesiones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lista_Sessiones_Vacia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validar_niveles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>N0_Contar_Dias_Curso</name>
        <label>N0 Contar Dias Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Dias_Curso</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listRecordDias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>N0_Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignar_Datos_Sesion</name>
        <label>Nn Asignar Datos Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDias.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nn_Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaFinSesionNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fechaInicioSesionNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nombreSesionNn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDias.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>Nn Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lista_sesiones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nn_Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nn_Borrar_Lista_Sesiones</name>
        <label>Nn Borrar Lista Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lista_sesiones</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lista_Sessiones_Vacia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Niveles_Curso</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cursoSinNiveles</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0000</stringValue>
        </value>
    </constants>
    <constants>
        <name>Default_Benefit_Quantiy</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>NivelCursoAgrupacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>9999</stringValue>
        </value>
    </constants>
    <constants>
        <name>numeroDiasInconsistente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Numero de dias inconsitente entre tabla CURSO y CURSO DIAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>numeroNivelesInconsistente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No existen registros en CURNIV para el Curso - Error o Curso Antiguo</stringValue>
        </value>
    </constants>
    <constants>
        <name>soloUnNivel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Solo un Nivel</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tipo_Beneficio_Prueba</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0jhJ9000000saxSIAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>Unit_of_Mesurement_Dias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0hEJ9000000wqIvMAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>Valor_Uno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>valorCero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>variosNiveles</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Varios Niveles</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cuantos_Niveles</name>
        <label>Cuantos Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_existen_Niveles_para_el_Curso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solo_Un_Nivel0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Niveles_Curso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Valor_Uno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Lista_Niveles</targetReference>
            </connector>
            <label>Solo Un Nivel</label>
        </rules>
        <rules>
            <name>Mas_de_Un_Nivel0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Niveles_Curso</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Valor_Uno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nivel_0_Obtener_Tipo_Benefit</targetReference>
            </connector>
            <label>Mas de Un Nivel0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_niveles</name>
        <label>Validar niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Finalizado_con_Exito_1_solo_nivel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mas_de_un_Nivel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Niveles_Curso</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Valor_Uno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Niveles_Curso</targetReference>
            </connector>
            <label>Mas de un Nivel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>codigoBeneficiocompuesto</name>
        <dataType>String</dataType>
        <expression>{!$Record.DDDKEY__c}&amp;{!codigoTipoBeneficio}</expression>
    </formulas>
    <formulas>
        <name>Fecha_Fin_Hora</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.CU_FECFIN__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>Fecha_Hora_Fin</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.CU_FECINI__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>Fecha_Hora_Inicio</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.CU_FECINI__c}) + (2/24)</expression>
    </formulas>
    <formulas>
        <name>fechaFinSesionN0</name>
        <dataType>DateTime</dataType>
        <expression> DATETIMEVALUE({!N0_Crear_Sesiones.CU_FECHAS__c}) + (15/24)</expression>
    </formulas>
    <formulas>
        <name>fechaFinSesionNn</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Nn_Crear_Sesiones.CU_FECHAS__c}) + (15/24)</expression>
    </formulas>
    <formulas>
        <name>fechaIncioSesionN0</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!N0_Crear_Sesiones.CU_FECHAS__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>fechaInicioSesionNn</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Nn_Crear_Sesiones.CU_FECHAS__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>nombreBeneficioN0</name>
        <dataType>String</dataType>
        <expression>{!$Record.CU_ANO__c}&amp;&apos; &apos;&amp;{!Obtener_Location.Name}&amp;&apos; &apos;&amp;{!$Record.CU_NOMBRE__c}</expression>
    </formulas>
    <formulas>
        <name>nombreBeneficioNn</name>
        <dataType>String</dataType>
        <expression>{!$Record.CU_ANO__c}&amp;&apos; &apos;&amp;{!Obtener_Location.Name}&amp;&apos; &apos;&amp;{!$Record.CU_NOMBRE__c}&amp;&apos; &apos;&amp;{!Nn_Obtener_Tipo_Benefit.Name}</expression>
    </formulas>
    <formulas>
        <name>nombreCalendarioN0</name>
        <dataType>String</dataType>
        <expression>&quot;Calendario &quot;&amp;{!nombreBeneficioN0}</expression>
    </formulas>
    <formulas>
        <name>nombreCalendarioNn</name>
        <dataType>String</dataType>
        <expression>&quot;Calendario &quot;&amp;{!nombreBeneficioN0}&amp;&quot; &quot;&amp;{!Nn_Obtener_Tipo_Benefit.Name}</expression>
    </formulas>
    <formulas>
        <name>nombrePrograma</name>
        <dataType>String</dataType>
        <expression>{!$Record.CU_ANO__c}&amp;&apos; Cursos &apos;&amp;{!Obtener_Location.Name}</expression>
    </formulas>
    <formulas>
        <name>nombreSesionN0</name>
        <dataType>String</dataType>
        <expression>TEXT({!N0_Crear_Sesiones.CU_FECHAS__c})&amp;&quot;: &quot;&amp;{!nombreCalendarioN0}</expression>
    </formulas>
    <formulas>
        <name>nombreSesionNn</name>
        <dataType>String</dataType>
        <expression>TEXT({!Nn_Crear_Sesiones.CU_FECHAS__c})&amp;&quot;: &quot;&amp;{!nombreCalendarioN0}</expression>
    </formulas>
    <interviewLabel>Crear Benefit Scheduled Sesiones desde Cursos Niveles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Benefit Scheduled Sesiones desde Cursos Niveles</label>
    <loops>
        <name>N0_Crear_Sesiones</name>
        <label>N0 Crear Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>listRecordDias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>N0_Asignar_Datos_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>N0_Crear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Nn_Crear_Sesiones</name>
        <label>Nn Crear Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>listRecordDias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Nn_Asignar_Datos_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NnCrear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Lista_Niveles</name>
        <label>Recorrer Lista Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>record_Niveles_lista</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>N0_Obtener_Tipo_Beneficio_Simple</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>N0_Crear_Beneficio_Curso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Niveles_Curso</name>
        <label>Recorrer Niveles Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>record_Niveles_lista</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Nn_Obtener_Tipo_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>N0_Crear_Beneficio_Curso</name>
        <label>N0 Crear Beneficio Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>N0_Crear_Benefit_Scheduled</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>tipoBeneficio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>codigoBeneficiocompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Contable__c</field>
            <value>
                <elementReference>$Record.CU_CUENTA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuota_Obligatoria__c</field>
            <value>
                <elementReference>$Record.CU_OBLICU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Fecha_Fin_Hora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_Federativa__c</field>
            <value>
                <elementReference>$Record.CU_LICFED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Obtener_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Monitores_Crucero__c</field>
            <value>
                <elementReference>$Record.CU_MAXMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Montiores_Ligera__c</field>
            <value>
                <elementReference>$Record.CU_MAXML__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Personas_Curso__c</field>
            <value>
                <elementReference>$Record.CU_MAXPERS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreBeneficioN0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plazas_Maximo_Alumo__c</field>
            <value>
                <elementReference>$Record.CU_MAXPERS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publicado_en_Web__c</field>
            <value>
                <elementReference>$Record.CU_WEB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Fecha_Hora_Inicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>Unit_of_Mesurement_Dias</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>N0_Crear_Benefit_Scheduled</name>
        <label>N0 Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>N0_Obtener_Dias_Curso</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>$Record.DDDKEY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultBenefitQuantity</field>
            <value>
                <elementReference>Default_Benefit_Quantiy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionEndDateTime</field>
            <value>
                <elementReference>Fecha_Hora_Fin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionStartDateTime</field>
            <value>
                <elementReference>Fecha_Hora_Inicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreCalendarioN0</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>N0_Crear_Benefit_Session</name>
        <label>N0 Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>N0_Borrar_Lista_Sessiones</targetReference>
        </connector>
        <inputReference>lista_sesiones</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Nn_Crear_Beneficio_Curso</name>
        <label>Nn Crear Beneficio Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nn_Crear_Benefit_Scheduled</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>Nn_Obtener_Tipo_Benefit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>Recorrer_Niveles_Curso.DDDKEY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_Contable__c</field>
            <value>
                <elementReference>$Record.CU_CUENTA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuota_Obligatoria__c</field>
            <value>
                <elementReference>$Record.CU_OBLICU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Fecha_Fin_Hora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_Federativa__c</field>
            <value>
                <elementReference>$Record.CU_LICFED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Obtener_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Monitores_Crucero__c</field>
            <value>
                <elementReference>$Record.CU_MAXMC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Montiores_Ligera__c</field>
            <value>
                <elementReference>$Record.CU_MAXML__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Personas_Curso__c</field>
            <value>
                <elementReference>$Record.CU_MAXPERS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreBeneficioNn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Benefit__c</field>
            <value>
                <elementReference>N0_Crear_Beneficio_Curso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plazas_Maximo_Alumo__c</field>
            <value>
                <elementReference>$Record.CU_MAXPERS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publicado_en_Web__c</field>
            <value>
                <elementReference>$Record.CU_WEB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Fecha_Hora_Inicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>Unit_of_Mesurement_Dias</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Nn_Crear_Benefit_Scheduled</name>
        <label>Nn Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nn_Obtener_Dias_Curso</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Nn_Crear_Beneficio_Curso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>Recorrer_Niveles_Curso.DDDKEY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultBenefitQuantity</field>
            <value>
                <elementReference>Default_Benefit_Quantiy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionEndDateTime</field>
            <value>
                <elementReference>Fecha_Hora_Fin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionStartDateTime</field>
            <value>
                <elementReference>Fecha_Hora_Inicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreCalendarioNn</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NnCrear_Benefit_Session</name>
        <label>Nn Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nn_Borrar_Lista_Sesiones</targetReference>
        </connector>
        <inputReference>lista_sesiones</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_N0_Obtener_Tipo_Benefit</name>
        <label>N0 Obtener Tipo Benefit No existen Niveles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N0_Asignar_Tipo_Beneficio_No_existen_Niveles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Nivel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cursoSinNiveles</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>N0_Obtener_Dias_Curso</name>
        <label>N0 Obtener Dias Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N0_Contar_Dias_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P_DDDKEY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DDDKEY__c</elementReference>
            </value>
        </filters>
        <object>Temporal_Curso_Dia__c</object>
        <outputReference>listRecordDias</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CU_FECHAS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>N0_Obtener_Tipo_Beneficio_Simple</name>
        <label>N0 Obtener Tipo Beneficio Simple</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N0_Asignar_Tipo_Beneficio_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Nivel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Lista_Niveles.CN_NIVEL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Nivel_0_Obtener_Tipo_Benefit</name>
        <label>N0 Obtener Tipo Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>N0_Asignar_Tipo_Beneficio_Agrupacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Nivel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NivelCursoAgrupacion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Nn_Obtener_Dias_Curso</name>
        <label>Nn  Obtener Dias Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nn_Crear_Sesiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P_DDDKEY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DDDKEY__c</elementReference>
            </value>
        </filters>
        <object>Temporal_Curso_Dia__c</object>
        <outputReference>listRecordDias</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CU_FECHAS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Nn_Obtener_Tipo_Benefit</name>
        <label>Nn Obtener Tipo Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nn_Crear_Beneficio_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Nivel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Niveles_Curso.CN_NIVEL__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Location</name>
        <label>Obtener Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CU_LUGAR__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Niveles_Curso</name>
        <label>Obtener Niveles Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Niveles_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CN_ANO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CU_ANO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CN_CURSO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CU_CURSO__c</elementReference>
            </value>
        </filters>
        <object>Temporal_Cursos_Niveles__c</object>
        <outputReference>record_Niveles_lista</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CN_NIVEL__c</queriedFields>
        <queriedFields>DDDKEY__c</queriedFields>
        <sortField>CN_NIVEL__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Programa</name>
        <label>Obtener Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Niveles_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nombrePrograma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Finalizado_con_Exito_1_solo_nivel</name>
        <label>Finalizado con Exito 1 solo nivel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>soloUnNivel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_c__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ultima_Carga__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>No_existen_Niveles_para_el_Curso</name>
        <label>No existen Niveles para el Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_N0_Obtener_Tipo_Benefit</targetReference>
        </connector>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>numeroNivelesInconsistente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_c__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Finalizado con Exito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>variosNiveles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_c__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ultima_Carga__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Temporal_Cursos__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>codigoTipoBeneficio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contadorNiveles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Dias_Curso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>lista_sesiones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>Lista_Sessiones_Vacia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>listRecordDias</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Curso_Dia__c</objectType>
    </variables>
    <variables>
        <name>Niveles_Curso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>record_Niveles_lista</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos_Niveles__c</objectType>
    </variables>
    <variables>
        <name>tipoBeneficio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tipoBenefitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos_Niveles__c</objectType>
    </variables>
    <variables>
        <name>varDias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
</Flow>
