force-app/main/default/flows/Crear_Encuadramientos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>A_adir_mensaje_error</name>
        <label>Añadir mensaje error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>textoErrorCompleto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Concatenar_Texto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenar_Texto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Disbursement</name>
        <label>Asignar Datos Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisbusement.BenefitAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Benefit_Assigment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.DisbursedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constanteDisbursementQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.ActualCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.Estado_Evaluacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asisgnar_Sesiones_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Disbursement_Fechas</name>
        <label>Asignar Datos Disbursement Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisbusement.BenefitAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Benefit_Assigment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_con_Encuadramientos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.DisbursedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constanteDisbursementQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.ActualCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_con_Encuadramientos.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_con_Encuadramientos.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_con_Encuadramientos.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.Estado_Evaluacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_con_Encuadramientos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisbusement.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Sesiones_a_Lista_de_Sesiones_Fechas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Sesiones_a_Lista_de_Sesiones_Fechas</name>
        <label>Asignar Sesiones a Lista de Sesiones Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaDisbursement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDisbusement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Fechas_Encuadramientos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asisgnar_Sesiones_a_Lista_de_Sesiones</name>
        <label>Asisgnar Sesiones a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaDisbursement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDisbusement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Dias_Encuadramiento</name>
        <label>Contar Dias Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>diasEncuadramiento</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recuperar_Dias_Encuadramientos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Son_Iguales_Sesiones_Benefit_y_Dias_Encuadramiento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Sesiones_Curso</name>
        <label>Contar Sesiones Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numeroSesiones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recuperar_Sesiones_Beneficio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Dias_Encuadramientos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Existe_Beneficio</name>
        <label>No Existe Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cadenaError</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Socio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Existe_Calendarios</name>
        <label>No Existe Calendarios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cadenaError</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>noExisteCalendario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Id_Nivel_Monitor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Existe_Nivel</name>
        <label>No Existe Nivel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cadenaError</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>noExisteNivel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_los_datos_Obligatorios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Existe_Programa</name>
        <label>No Existe Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cadenaError</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>programaNoExiste</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Existe_Socio</name>
        <label>No Existe Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cadenaError</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Program_Enrollment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constanteDisbursementQuantity</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>NoExisteBeneficio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>---No Existe Beneficio ---</stringValue>
        </value>
    </constants>
    <constants>
        <name>noExisteCalendario</name>
        <dataType>String</dataType>
        <value>
            <stringValue>--- No Existe Calendario --</stringValue>
        </value>
    </constants>
    <constants>
        <name>noExisteNivel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>----No Existe Nivel -----</stringValue>
        </value>
    </constants>
    <constants>
        <name>programaNoExiste</name>
        <dataType>String</dataType>
        <value>
            <stringValue>--- Program No existe ----</stringValue>
        </value>
    </constants>
    <constants>
        <name>socioNoExiste</name>
        <dataType>String</dataType>
        <value>
            <stringValue>-- Socio No Existe ---</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comparar_Fechas_Curso_Encuadramiento</name>
        <label>Comparar Fechas Curso Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Fechas_Encuadramientos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fechas_Iguales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startDateSinHora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_Fechas_Encuadramientos.EN_FECHAS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Datos_Disbursement_Fechas</targetReference>
            </connector>
            <label>Fechas Iguales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Beneficio</name>
        <label>Existe Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existe_Beneficio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Programa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Programa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Socio</targetReference>
            </connector>
            <label>Si Existe Programa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Calendario</name>
        <label>Existe Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existe_Calendarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Calendario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Id_Nivel_Monitor</targetReference>
            </connector>
            <label>Si Existe Calendario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Nivel_Monitor</name>
        <label>Existe Nivel Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existe_Nivel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Nivel_Monitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Id_Nivel_Monitor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existen_los_datos_Obligatorios</targetReference>
            </connector>
            <label>Si Existe Nivel Monitor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Programa</name>
        <label>Existe Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existe_Programa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Programas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit_Scheduled</targetReference>
            </connector>
            <label>Si Existe Programa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Socio</name>
        <label>Existe Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existe_Socio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Program_Enrollment</targetReference>
            </connector>
            <label>Si Existe Socio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_los_datos_Obligatorios</name>
        <label>Existen los datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Concatenar_Texto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Programa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Program_Enrollment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Id_Nivel_Monitor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Benefit_Assigment</targetReference>
            </connector>
            <label>Si existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Son_Iguales_Sesiones_Benefit_y_Dias_Encuadramiento</name>
        <label>Son Iguales Sesiones Benefit y Dias Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorios_No_Encontrados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Son_Iguales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numeroSesiones</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>diasEncuadramiento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Sesiones</targetReference>
            </connector>
            <label>Son Iguales</label>
        </rules>
        <rules>
            <name>Mas_Sesiones_que_Dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numeroSesiones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>diasEncuadramiento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Sesiones_con_Encuadramientos</targetReference>
            </connector>
            <label>Mas Sesiones que Dias</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>componerCodigoBeneficio</name>
        <dataType>String</dataType>
        <expression>&quot;CUR&quot;&amp;{!$Record.EN_ANO__c}&amp;{!$Record.EN_CURSO__c}&amp;&quot;9999&quot;</expression>
    </formulas>
    <formulas>
        <name>componerNumeroSocio</name>
        <dataType>String</dataType>
        <expression>&quot;NS-&quot; &amp; LPAD({!$Record.EN_ALUMNO__c},6,&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>datosObligatoriosNoEncontrados</name>
        <dataType>String</dataType>
        <expression>&quot;Socio---&quot;&amp;{!Recuperar_Socio.Name}&amp;&quot;Programa---&quot;&amp;{!Recuperar_Programa.Name}&amp;&quot;Enrollment--&quot;&amp;{!Recuperar_Program_Enrollment.Name}&amp;&quot;-Beneficio&quot;&amp;{!Recuperar_Programa.Name}</expression>
    </formulas>
    <formulas>
        <name>enteroCodigoOcupacion</name>
        <dataType>Number</dataType>
        <expression>value({!$Record.EN_OCUPAC__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>nombreScheduledAssigment</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Benefit_Scheduled.Name}&amp;&quot;-&quot;&amp;{!Recuperar_Program_Enrollment.Name}</expression>
    </formulas>
    <formulas>
        <name>startDateSinHora</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Recorrer_Sesiones_con_Encuadramientos.StartDateTime})</expression>
    </formulas>
    <interviewLabel>Crear Encuadramientos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Encuadramientos</label>
    <loops>
        <name>Concatenar_Texto</name>
        <label>Concatenar Texto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>cadenaError</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>A_adir_mensaje_error</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Error_Datos_Obligatorios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Fechas_Encuadramientos</name>
        <label>Recorrer Fechas Encuadramientos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Dias_Encuadramientos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comparar_Fechas_Curso_Encuadramiento</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_Sesiones_con_Encuadramientos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Sesiones</name>
        <label>Recorrer Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Beneficio</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Disbursement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Disbursement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Sesiones_con_Encuadramientos</name>
        <label>Recorrer Sesiones del Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Beneficio</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recorrer_Fechas_Encuadramientos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Disbursement_Fechas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Benefit_Assigment</name>
        <label>Crear Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Scheduled_Assigment</targetReference>
        </connector>
        <inputAssignments>
            <field>Asistio_Reunion_Previa__c</field>
            <value>
                <elementReference>$Record.EN_REUPRE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Recuperar_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>Recuperar_Id_Nivel_Monitor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dias_Asistencia_al_Curso__c</field>
            <value>
                <elementReference>$Record.EN_DIASCUR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Recuperar_Programa.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrolleeId</field>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Cobro__c</field>
            <value>
                <elementReference>$Record.EN_FCHCOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Encuadramiento__c</field>
            <value>
                <elementReference>$Record.EN_FECENC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Llega_dia_antes__c</field>
            <value>
                <elementReference>$Record.EN_DANTES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <elementReference>$Record.EN_OCUPAC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Recuperar_Program_Enrollment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramEnrollmentId</field>
            <value>
                <elementReference>Recuperar_Program_Enrollment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Recuperar_Programa.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Disbursement</name>
        <label>Crear Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Procesado</targetReference>
        </connector>
        <inputReference>varListaSesiones</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Disbursement_Fechas</name>
        <label>Crear Disbursement Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar</targetReference>
        </connector>
        <inputReference>varListaDisbursement</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Scheduled_Assigment</name>
        <label>Crear Scheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Sesiones_Beneficio</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitAssignmentId</field>
            <value>
                <elementReference>Crear_Benefit_Assigment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitScheduleId</field>
            <value>
                <elementReference>Recuperar_Benefit_Scheduled.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Recuperar_Programa.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreScheduledAssigment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <elementReference>$Record.EN_OCUPAC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Recuperar_Programa.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitScheduleAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Benefit_Scheduled</name>
        <label>Recuperar Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Calendario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Programa.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Dias_Encuadramientos</name>
        <label>Recuperar Dias Encuadramientos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Dias_Encuadramiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P_DDDKEY__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DDDKEY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Encuadramiento_Dia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Id_Nivel_Monitor</name>
        <label>Recuperar Id Nivel Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Nivel_Monitor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nivel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EN_NIVMONI__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Titulo CINA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Program_Enrollment</name>
        <label>Recuperar Program Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Programa.ProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Programa</name>
        <label>Recuperar Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Beneficio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>componerCodigoBeneficio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Sesiones_Beneficio</name>
        <label>Recuperar Sesiones Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Sesiones_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Scheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Socio</name>
        <label>Recuperar Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>componerNumeroSocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar</name>
        <label>Actualizar Estado - Procesado Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>salesforce_id__c</field>
            <value>
                <elementReference>Crear_Benefit_Assigment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Procesado</name>
        <label>Actualizar Estado  - Procesado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>salesforce_id__c</field>
            <value>
                <elementReference>Crear_Benefit_Assigment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorios</name>
        <label>Error Datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_del_Error__c</field>
            <value>
                <elementReference>textoErrorCompleto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipodeError__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorios_No_Encontrados</name>
        <label>Error Mas Fechas que Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipodeError__c</field>
            <value>
                <stringValue>Value1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <object>Temporal_Encuadramientos__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-08-27</startDate>
            <startTime>23:57:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>cadenaError</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>diasEncuadramiento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroBenefit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numeroSesiones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>textoErrorCompleto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisbusement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaSesiones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
</Flow>
