force-app/main/default/flows/Crear_Cursos_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Actualizar_Registros_Correctos</name>
        <label>Actualizar Registros Correctos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varControlMigracion.Registros_Procesados__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conUno</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Total_Registros__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conUno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registros_Erroneos</name>
        <label>Actualizar Registros Erroneos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varControlMigracion.Registros_Erroneos__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conUno</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Total_Registros__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conUno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Temporal_Cursos</name>
        <label>Actualizar Temporal Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loteTemporalCursos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LLamada_Secuencial_Cursos_AF.varInputTemporalCursos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Temporal_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Registrar_en_Control_Migracion</name>
        <label>Registrar en Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Modo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Operacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Creacion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Proceso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cursos</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBuffer</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>16.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Control_Errores</name>
        <label>Control Errores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Registros_Correctos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resultado_Erroneo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LLamada_Secuencial_Cursos_AF.varInputTemporalCursos.Estado_c__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Registros_Erroneos</targetReference>
            </connector>
            <label>Resultado Erroneo</label>
        </rules>
    </decisions>
    <description>Con control interno de Buffer y procesamiento a traves de coleciones</description>
    <environments>Default</environments>
    <formulas>
        <name>varNombreControlMigracion</name>
        <dataType>String</dataType>
        <expression>&quot;Cursos &quot;&amp;&quot;Creación &quot;&amp;&quot;Total &quot;&amp;Text(Now())</expression>
    </formulas>
    <interviewLabel>Crear Cursos Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Cursos Scheduled Flow</label>
    <loops>
        <name>Recorrer_Temporal_Cursos</name>
        <label>Recorrer Temporal Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Temporal_Cursos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LLamada_Secuencial_Cursos_AF</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Temporal_Cursos_Lote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Registro_Control_Migracion</name>
        <label>Crear Registro Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varControlMigracion</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Temporal_Cursos</name>
        <label>Recuperar Temporal Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Temporal_Cursos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Cursos__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Temporal_Cursos_Lote</name>
        <label>Actualizar Temporal Cursos Lote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registrar_en_Control_Migracion</targetReference>
        </connector>
        <inputReference>loteTemporalCursos</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Temporal_Cursos</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-08-31</startDate>
            <startTime>07:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>LLamada_Secuencial_Cursos_AF</name>
        <label>LLamada Secuencial Cursos AF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Control_Errores</targetReference>
        </connector>
        <flowName>Crear_Cursos_AF</flowName>
        <inputAssignments>
            <name>varInputTemporalCursos</name>
            <value>
                <elementReference>Recorrer_Temporal_Cursos</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>loteTemporalCursos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos__c</objectType>
    </variables>
    <variables>
        <name>varControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
</Flow>
