force-app/main/default/flows/Crear_Cursos_Scheduled_Flow_Version_Simple_Con_Registro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Registrar_en_Control_Migracion</name>
        <label>Registrar en Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varControlMigracion</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Modo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Operacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actualizacion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Proceso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cursos</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varControlMigracion.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreControlMigracion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Registro_Control_Migracion</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>varNombreControlMigracion</name>
        <dataType>String</dataType>
        <expression>&quot;Cursos &quot;&amp;&quot;Creacion &quot;&amp;&quot;Total &quot;&amp;Text(DATETIMEVALUE(TODAY()))</expression>
    </formulas>
    <interviewLabel>Crear Cursos Scheduled Flow Version Simple Con Registro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Cursos Scheduled Flow Version Simple Con Registro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Registro_Control_Migracion</name>
        <label>Crear Registro Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varControlMigracion</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LLamada_Secuencial_Cursos_AF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <object>Temporal_Cursos__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-08-30</startDate>
            <startTime>17:54:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>LLamada_Secuencial_Cursos_AF</name>
        <label>LLamada Secuencial Cursos AF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registrar_en_Control_Migracion</targetReference>
        </connector>
        <flowName>Crear_Cursos_AF</flowName>
        <inputAssignments>
            <name>varInputTemporalCursos</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
</Flow>
