force-app/main/default/flows/d_3_Crear_Payments_Tigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Benefit_Alignment_Varios</name>
        <label>Asignar Benefit Alignment Varios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAsiggmentGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Assignment_Cesion</name>
        <label>Asignar Benefit Assignment Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAsiggmentGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assignment_Cesion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Assignment_Curso</name>
        <label>Asignar Benefit Assignment Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAsiggmentGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assignment_Curso.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Assignment_Evento</name>
        <label>Asignar Benefit Assignment Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAsiggmentGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assigment_Evento.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Assignment_Regata</name>
        <label>Asignar Benefit Assignment Regata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBenefitAsiggmentGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assignment_Regata.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conAmarres</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AM</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCesiones</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CS</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCurso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CU</stringValue>
        </value>
    </constants>
    <constants>
        <name>conEvento</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFianzas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FI</stringValue>
        </value>
    </constants>
    <constants>
        <name>conLicencias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LI</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRegata</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existen_datos_Obligatorios</name>
        <label>Existen datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Temporal_Cobros_Pagos_No_Encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Payment</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Beneficio</name>
        <label>Tipo de Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Benefit_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_TIPORI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCurso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit_Curso</targetReference>
            </connector>
            <label>Cursos</label>
        </rules>
        <rules>
            <name>Eventos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_TIPORI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conEvento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit_Evento</targetReference>
            </connector>
            <label>Eventos</label>
        </rules>
        <rules>
            <name>Licencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_TIPORI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conLicencias</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Contrato_Licencias</targetReference>
            </connector>
            <label>Licencias</label>
        </rules>
        <rules>
            <name>Cesiones_y_Fianzas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_TIPORI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCesiones</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CP_TIPORI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conFianzas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit_Cesion</targetReference>
            </connector>
            <label>Cesiones y Fianzas</label>
        </rules>
        <rules>
            <name>Regatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_TIPORI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conRegata</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit_Regata</targetReference>
            </connector>
            <label>Regatas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCodigoBeneficioCurso</name>
        <dataType>String</dataType>
        <expression>&quot;CUR&quot;&amp;{!$Record.CP_ANO__c}&amp;{!$Record.CP_CURSO__c}&amp;{!$Record.CP_NIVEL__c}</expression>
    </formulas>
    <formulas>
        <name>varCodigoBeneficioEvento</name>
        <dataType>String</dataType>
        <expression>&quot;MAC&quot;&amp;{!$Record.CP_NUMORI__c}</expression>
    </formulas>
    <formulas>
        <name>varCodigoBeneficioRegata</name>
        <dataType>String</dataType>
        <expression>&quot;REG&quot;&amp;{!$Record.CP_NUMORI__c}</expression>
    </formulas>
    <formulas>
        <name>varCodigoCesion</name>
        <dataType>String</dataType>
        <expression>&quot;CES&quot;&amp;{!$Record.CP_NUMORI__c}</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocio</name>
        <dataType>String</dataType>
        <expression>LPAD({!$Record.CP_ALUMNO__c}, 7, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>d.3 Crear Payments Tigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>d.3 Crear Payments Tigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Payment</name>
        <label>Crear Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Temporal_Coutas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Actualizar_Temporal_Cobro_Pagos_Error_DML</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.CP_IMPORTE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asiento_Contable__c</field>
            <value>
                <elementReference>$Record.CP_ASIENTO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>varBenefitAsiggmentGeneral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Banco__c</field>
            <value>
                <elementReference>$Record.CP_BANCO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Recuperar_Contrato_Licencias.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Record.CP_FECHA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entidad_Receptora__c</field>
            <value>
                <elementReference>$Record.CP_OTROS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medio_de_Pago__c</field>
            <value>
                <elementReference>$Record.CP_MEDPAGO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Pago__c</field>
            <value>
                <elementReference>$Record.CP_MOTIVO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Origen__c</field>
            <value>
                <elementReference>$Record.CP_NUMORI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secuencial_Pago__c</field>
            <value>
                <elementReference>$Record.CP_SEQ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Alumno__c</field>
            <value>
                <elementReference>$Record.CP_TIPALU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Origen__c</field>
            <value>
                <elementReference>$Record.CP_TIPORI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Beneficio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>varNumeroSocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assigment_Evento</name>
        <label>Recuperar Benefit Assigment Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_Assignment_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Evento.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assignment</name>
        <label>Recuperar Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_Alignment_Varios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assignment_Cesion</name>
        <label>Recuperar Benefit Assignment Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_Assignment_Cesion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Cesion.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assignment_Curso</name>
        <label>Recuperar Benefit Assignment Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_Assignment_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Curso.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assignment_Regata</name>
        <label>Recuperar Benefit Assignment Regata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_Assignment_Regata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Regata.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Cesion</name>
        <label>Recuperar Benefit Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Assignment_Cesion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCodigoCesion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Curso</name>
        <label>Recuperar Benefit Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Assignment_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCodigoBeneficioCurso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Evento</name>
        <label>Recuperar Benefit Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Assigment_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCodigoBeneficioEvento</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Regata</name>
        <label>Recuperar Benefit Regata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Assignment_Regata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCodigoBeneficioRegata</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Contrato_Licencias</name>
        <label>Recuperar Contrato Licencias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_de_Licencia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_NUMORI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Temporal_Cobro_Pagos_Error_DML</name>
        <label>Actualizar Temporal Cobro Pagos Error DML</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Cobros_Pagos_No_Encontrado</name>
        <label>Actualizar Temporal Cobros Pagos No Encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descriipcion_Error__c</field>
            <value>
                <stringValue>No encontrado Socio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Coutas</name>
        <label>Actualizar Temporal Coutas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaCarga__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>Crear_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Temporal_Cobro_Pagos__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varBenefitAsiggmentGeneral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
