force-app/main/default/flows/Monitor_Migracion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Actualizar_Estado_Encuadramiento</name>
        <label>Actualizar Estado Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Encuadramientos.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Encuadramientos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_estado_registro_temporal_curso</name>
        <label>Actualizar estado registro temporal curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Temporal_Cursos.Estado_c__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Temporal_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_Registro_Estado</name>
        <label>Actualizar Registro Estado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Matriculas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Matriculas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Numero_Sesiones</name>
        <label>Contar Numero Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numeroSesiones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recuperar_Todas_Sesiones_Cursos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Sesiones_Curso</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ejecucionMatriculasCompletado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ejecuci´n de Matriculas Completado</stringValue>
        </value>
    </constants>
    <constants>
        <name>errorModoNoDefinido</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Modo No Definido</stringValue>
        </value>
    </constants>
    <constants>
        <name>errorOperacionNoDefinida</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Operación No Definida</stringValue>
        </value>
    </constants>
    <constants>
        <name>errorProcesoNoDefinido</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceso No Definido</stringValue>
        </value>
    </constants>
    <constants>
        <name>mensajeBorradoCompletado</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Borrado Completado</stringValue>
        </value>
    </constants>
    <constants>
        <name>valorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Actualizar_Proceso</name>
        <label>Actualizar Proceso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actualizar_Matriculas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matriculas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Todas_Las_Matriculas</targetReference>
            </connector>
            <label>Actualizar Matriculas</label>
        </rules>
        <rules>
            <name>Actualizar_Encuadramientos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encuadramientos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Todas_los_Encuadramientos</targetReference>
            </connector>
            <label>Actualizar Encuadramientos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control_Modo_Cursos</name>
        <label>Control Modo Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_todos_Temporal_Cursos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modo_A_o_Curso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Modo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Año</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Todas_Sesiones_Cursos</targetReference>
            </connector>
            <label>Modo Año Curso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control_Modo_Matriculas</name>
        <label>Control Modo Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Modo_No_Configurado_Matriculas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modo_Total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Modo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Total</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Todas_Sesiones</targetReference>
            </connector>
            <label>Modo Total</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control_Operacion</name>
        <label>Cursos Control Operacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Operacion_Curso_No_Definida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Borrado_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Modo_Cursos</targetReference>
            </connector>
            <label>Borrado Cursos</label>
        </rules>
        <rules>
            <name>Ejecucion_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejecución</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Ejecucion_Ano_Matriculas_Completado</targetReference>
            </connector>
            <label>Ejecución Cursos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control_Procesos</name>
        <label>Control Procesos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Proceso_No_Definido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cursos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Operacion</targetReference>
            </connector>
            <label>Cursos</label>
        </rules>
        <rules>
            <name>Matriculas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Matriculas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Proceso__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Encuadramientos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matriculas_Control_Operacion</targetReference>
            </connector>
            <label>Matriculas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Benefit_Assigment</name>
        <label>Existen Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Proceso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Benefit_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Todos_Benefit_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Total_Benefit_Assignment</targetReference>
            </connector>
            <label>Si Existen Benefit Assigment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Benefit_Curso</name>
        <label>Existen Benefit Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_todos_Temporal_Cursos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_Benefits_Curso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Todos_Benefits_Curso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrar_todos_Beneficios_Cursos</targetReference>
            </connector>
            <label>Si existen Benefits Curso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Schedules_Assigment</name>
        <label>Existen Schedules Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Proceso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recupear_Todos_Schedules_Assigment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Total_Scheduled_Assigment</targetReference>
            </connector>
            <label>Si existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Schedules_Cursos</name>
        <label>Existen Schedules Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_todos_Temporal_Cursos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_Schedules_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Todos_Schedules_Curso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Total_Schedules_Cursos</targetReference>
            </connector>
            <label>Si existen Schedules Cursos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Sesiones</name>
        <label>Existen Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Proceso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_Sesiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Todas_Sesiones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Total_Sesiones</targetReference>
            </connector>
            <label>Si hay Sesiones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Sesiones_Curso</name>
        <label>Existen Sesiones Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_todos_Temporal_Cursos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_Sesiones_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Todas_Sesiones_Cursos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numeroSesiones</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Buffer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrado_Total_Sesiones_Cursos</targetReference>
            </connector>
            <label>Si hay Sesiones Cursos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matriculas_Control_Operacion</name>
        <label>Matriculas Control Operacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Operacion_Matriculas_No_Definido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Borrado_Matriculas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Control_Modo_Matriculas</targetReference>
            </connector>
            <label>Borrado Matriculas</label>
        </rules>
    </decisions>
    <description>Se incluye Borrado de Cursos</description>
    <environments>Default</environments>
    <formulas>
        <name>anoNumerico</name>
        <dataType>Number</dataType>
        <expression>value({!$Record.Ano_Procesado__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Monitor Migracion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monitor Migracion</label>
    <loops>
        <name>Recorrer_Encuadramientos</name>
        <label>Recorrer Encuadramientos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Todas_los_Encuadramientos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Estado_Encuadramiento</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Encuadramientos_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Matriculas</name>
        <label>Recorrer Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Todas_Las_Matriculas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_Registro_Estado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Modificar_Matriculas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Temporal_Cursos</name>
        <label>Recorrer Temporal Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_todos_Temporal_Cursos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_estado_registro_temporal_curso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Estado_Temporal_Cursos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Borrado_Total_Benefit_Assignment</name>
        <label>Borrado Total Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Proceso</targetReference>
        </connector>
        <inputReference>Recuperar_Todos_Benefit_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Total_Scheduled_Assigment</name>
        <label>Borrado Total Scheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Todos_Benefit_Assignment</targetReference>
        </connector>
        <inputReference>Recupear_Todos_Schedules_Assigment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Total_Schedules_Cursos</name>
        <label>Borrado Total Schedules Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Todos_Benefits_Curso</targetReference>
        </connector>
        <inputReference>Recuperar_Todos_Schedules_Curso</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Total_Sesiones</name>
        <label>Borrado Total Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recupear_Todos_Schedules_Assigment</targetReference>
        </connector>
        <inputReference>Recuperar_Todas_Sesiones</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrado_Total_Sesiones_Cursos</name>
        <label>Borrado Total Sesiones Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Todos_Schedules_Curso</targetReference>
        </connector>
        <inputReference>Recuperar_Todas_Sesiones_Cursos</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrar_todos_Beneficios_Cursos</name>
        <label>Borrar todos Beneficios Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_todos_Temporal_Cursos</targetReference>
        </connector>
        <inputReference>Recuperar_Todos_Benefits_Curso</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Recupear_Todos_Schedules_Assigment</name>
        <label>Recupear Todos Schedules Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Schedules_Assigment</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitScheduleAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todas_Las_Matriculas</name>
        <label>Recuperar Todas Las Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Matriculas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Matricula_Account_Benefit_Id__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todas_los_Encuadramientos</name>
        <label>Recuperar Todas los Encuadramientos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Encuadramientos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Encuadramientos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todas_Sesiones</name>
        <label>Recuperar Todas Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Sesiones</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todas_Sesiones_Cursos</name>
        <label>Recuperar Todas Sesiones Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Numero_Sesiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Ano_Inicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todos_Benefit_Assignment</name>
        <label>Recuperar Todos Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Benefit_Assigment</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todos_Benefits_Curso</name>
        <label>Recuperar Todos Benefits Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Benefit_Curso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Ano_Inicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Todos_Schedules_Curso</name>
        <label>Recuperar Todos Schedules Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Schedules_Cursos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Ano_Inicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_todos_Temporal_Cursos</name>
        <label>Recuperar todos Temporal Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Temporal_Cursos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </filters>
        <filters>
            <field>CU_ANO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ano_Inicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Cursos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Encuadramientos_record</name>
        <label>Actualizar Encuadramientos record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Borrado_Total_Encuadramiento_Completado</targetReference>
        </connector>
        <inputReference>Recorrer_Encuadramientos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Estado_Temporal_Cursos</name>
        <label>Actualizar Estado Temporal Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Borrado_Total_Cursos_Completado</targetReference>
        </connector>
        <inputReference>Recorrer_Temporal_Cursos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Borrado_Total_Cursos_Completado</name>
        <label>Borrado Total Cursos Completado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>mensajeBorradoCompletado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Borrado_Total_Encuadramiento_Completado</name>
        <label>Borrado Total Encuadramiento Completado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>mensajeBorradoCompletado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Borrado_Total_Matriculas_Completado</name>
        <label>Borrado Total Matriculas Completado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>mensajeBorradoCompletado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Ejecucion_Ano_Matriculas_Completado</name>
        <label>Copy 1 of Ejecucion Ano Matriculas Completado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>ejecucionMatriculasCompletado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Proceso_No_Definido</name>
        <label>Error Proceso No Definido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>errorProcesoNoDefinido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Modificar_Matriculas</name>
        <label>Modificar Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Borrado_Total_Matriculas_Completado</targetReference>
        </connector>
        <inputReference>Recuperar_Todas_Las_Matriculas</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Modo_No_Configurado_Matriculas</name>
        <label>Modo No Configurado Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>errorModoNoDefinido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Operacion_Curso_No_Definida</name>
        <label>Operacion Curso No Definida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>errorOperacionNoDefinida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Ejecucion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Operacion_Matriculas_No_Definido</name>
        <label>Operacion Matriculas No Definido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <elementReference>Operacion_Matriculas_No_Definido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Control_Procesos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Control_Migracion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>anoMatriculaText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listaRegistroMatriculas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matricula_Account_Benefit_Id__c</objectType>
    </variables>
    <variables>
        <name>numeroSesiones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordMatriculas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Matricula_Account_Benefit_Id__c</objectType>
    </variables>
    <variables>
        <name>recordTemporalCursos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos__c</objectType>
    </variables>
    <variables>
        <name>registrosProcesados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
