force-app/main/default/flows/sf1_4_1_Nueva_Actividad_Cesiones_Tripulante_Actualizar_Ocupacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Completado_a_Status</name>
        <label>Asignar Completado a Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recuperar_Session_Assets.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Session_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Completado_a_TRUE</name>
        <label>Asignar Completado a TRUE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recuperar_Benefit_Asset.Completo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Benefit_Asset_Completo_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Completado_a_TRUE</name>
        <label>Asignar Ocupacion Actual a Benefit Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recuperar_Benefit_Asset.Ocupaci_n__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Session_Assets.Capacidad_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Comprobar_Capacidad_M_xima</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Ocupaci_n_en_uno</name>
        <label>Incrementar Ocupación en uno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recuperar_Session_Assets.Capacidad_Actual__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Capacidad_M_xima</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobar_Capacidad_M_xima</name>
        <label>Comprobar Capacidad Máxima</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Session_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capacidad_Maxima_Igual_Ocupacion_Actual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Session_Assets.Capacidad_Maxima__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recuperar_Session_Assets.Capacidad_Actual__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Completado_a_Status</targetReference>
            </connector>
            <label>Capacidad Maxima Igual Ocupacion Actual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Comprobar_Capacidad_M_xima</name>
        <label>Comprobar Status Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Benefit_Asset_Completo_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Benefit_Session_Status_Completo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Session_Assets.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Completado_a_TRUE</targetReference>
            </connector>
            <label>Benefit Session Status Completo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>sf1.4.1 Nueva Actividad Cesiones Tripulante Actualizar Ocupacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.4.1 Nueva Actividad Cesiones Tripulante Actualizar Ocupacion</label>
    <loops>
        <name>Recorrer_Benefit_Disbursement</name>
        <label>Recorrer Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Disbursement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_Session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recuperar_Benefit_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Benefit_Asset</name>
        <label>Recuperar Benefit Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Asignar_Completado_a_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordBenefitAssignment.BenefitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programaci_n_de_Actividad_CINA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Session.BenefitSchedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Session_Assets.Asset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Disbursement</name>
        <label>Recuperar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Benefit_Disbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordBenefitAssignment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Session</name>
        <label>Recuperar Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Session_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Disbursement.BenefitSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Session_Assets</name>
        <label>Recuperar Session Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incrementar_Ocupaci_n_en_uno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Session.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Por Completar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session_Asset__c</object>
        <sortField>Asset__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Asset_Completo_TRUE</name>
        <label>Actualizar Benefit Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Recuperar_Benefit_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Session_Assets</name>
        <label>Actualizar Session Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Benefit_Disbursement</targetReference>
        </connector>
        <inputReference>Recuperar_Session_Assets</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Disbursement</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varRecordBenefitAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
</Flow>
