force-app/main/default/flows/sf1_Assignacion_Alumno_a_Curso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Registro_de_Actividad_OK</name>
        <label>Registro de Actividad OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Creaci_n_Caso_Actividad_No_Cesion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro de la Actividad creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Registro_de_Caso_OK</name>
        <label>Registro de Caso OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Comprobar_crear_Oportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro del Caso creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Account_a_Variable_Input</name>
        <label>Asignar Account a Variable Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selecci_n_Ocupaci_n_Socio_Dependant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_No_Socio_a_Tipo_Participante</name>
        <label>Asignar No Socio a Tipo Participante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTipoParticipante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conValor5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Account_a_Variable_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Socio_a_Tipo_Participante</name>
        <label>Asignar Socio a Tipo Participante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTipoParticipante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Account_a_Variable_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Status_Alumno_Pre_Inscrito</name>
        <label>Asignar Status Alumno Pre-Inscrito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conStatusPreInscrito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Status_Inscrito_Monitor</name>
        <label>Asignar Status Inscrito Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conStatusInscrito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Status_Inscrito_Tripulante_No_Navegada</name>
        <label>Asignar Status Inscrito Tripulante No Navegada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conStatusInscrito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Status_Patr_n_No_Navegada_Pre_Inscrito</name>
        <label>Asignar Status Patr贸n No Navegada Pre-Inscrito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conStatusPreInscrito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Status_Tripulante_Navegada_Pre_Inscrito</name>
        <label>Asignar Status Tripulante Navegada Pre-Inscrito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conStatusPreInscrito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>signar_Status_Inscrito_Patron_Navegada</name>
        <label>Asignar Status Inscrito Patron Navegada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatusFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conStatusInscrito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>parcial</name>
        <choiceText>Parcial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parcial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>total</name>
        <choiceText>Total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total</stringValue>
        </value>
    </choices>
    <constants>
        <name>conBenefitTypeOtros</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCategoriaNavegadas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Navegadas</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCreacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Creacion Oportunidad</stringValue>
        </value>
    </constants>
    <constants>
        <name>conEnListadeEspera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En lista de espera</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNombreAccountCINA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CINA - Centro Internacional de Navegaci贸n de la Isla de Arousa</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNoSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAlumno</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAsistente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Asistente</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionColaborador</name>
        <dataType>String</dataType>
        <value>
            <stringValue>090</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionJefedeBase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>010</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>030</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionPatron</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patron</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionTripulante</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tripulante</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSKUBonoCanje</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-CANJE</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusPreInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoActividadCesion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cesiones</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValor5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorCero</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conVarSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>varCaseStatusNew</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <name>varDisbursementQuantityUNO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Actividad_Ocupacion_Canjeable</name>
        <label>Comprobar Actividad Ocupacion Canjeable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actividad_Ocupacion_Canjeable</name>
            <conditionLogic>1 OR 2  OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAlumno</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAsistente</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionTripulante</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCategoriaNavegadas</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionPatron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conCategoriaNavegadas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_posible_canjear_bono_socio</targetReference>
            </connector>
            <label>Actividad Ocupacion Canjeable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Benefit_Assignment_se_ha_creado</name>
        <label>Comprobar Benefit Assignment se ha creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_se_ha_creado_Benefit_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sf1_2_Crear_Benefit_Assignment_ScreenFlow_Flow_1.varOuputBenefitAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registro_de_Actividad_OK</targetReference>
            </connector>
            <label>Si se ha creado Benefit Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Condiciones_Requeridas</name>
        <label>Comprobar Condiciones Requeridas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Que_ocupacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si las Cumple</defaultConnectorLabel>
        <rules>
            <name>No_Cumple_las_Condiciones_Requeridad</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) OR (5 AND 6))AND 7</conditionLogic>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Cuota_Obligatoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobar_Vigencia_Cuota_Licencia.varOutputCuotaActiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Licencia_Federativa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobar_Vigencia_Cuota_Licencia.varOutputLicenciaActiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Tipo_Actividad_Superada__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobar_Vigencia_Cuota_Licencia.varOutputNivelPrevioSuperado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionTripulante</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Socio_sin_Cuota_o_Licencia_Vigente</targetReference>
            </connector>
            <label>No Cumple las Condiciones Requeridad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_crear_Oportunidad</name>
        <label>Comprobar crear Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Tripulante_No_Creaci_n_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Inscrito_o_Inscrito_Monitor_Patron_Jefe_de_base</name>
            <conditionLogic>1 OR (2 AND(3 OR 4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>varStatusFinal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conStatusPreInscrito</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStatusFinal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conStatusInscrito</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionMonitor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionPatron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionJefedeBase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_3_Creacion_de_Oportunidad_y_Quota</targetReference>
            </connector>
            <label>Pre-Inscrito o Inscrito Monitor Patron Jefe de base</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_posible_canjear_bono_socio</name>
        <label>Es posible canjear bono socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_es_posible_Canjear_el_Bono</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_posible_canjear_Bono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account.Bono_Socio__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>conValorCero</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1_3_Creacion_de_Oportunidad_y_Quota.varOutputRecordPriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nueva_Actividad_Canje_del_Bono</targetReference>
            </connector>
            <label>Si es posible canjear Bono</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Actividades_Activas</name>
        <label>Existen Actividades Activas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Actividaes_Activas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Actividades_Activas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Actividades_Activas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mostrar_Lista_Actividades_Disponibles</targetReference>
            </connector>
            <label>Si Existen Actividades Activas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_ocupacion</name>
        <label>Que ocupacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ocupaci贸n no contemplada</defaultConnectorLabel>
        <rules>
            <name>Alumno_Asistente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAlumno</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAsistente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Status_Alumno_Pre_Inscrito</targetReference>
            </connector>
            <label>Alumno Asistente</label>
        </rules>
        <rules>
            <name>Monitor_Jefe_de_Base</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionMonitor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionJefedeBase</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionColaborador</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Status_Inscrito_Monitor</targetReference>
            </connector>
            <label>Monitor Jefe de Base Tripulante Colaborador</label>
        </rules>
        <rules>
            <name>Patron_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionPatron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCategoriaNavegadas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>signar_Status_Inscrito_Patron_Navegada</targetReference>
            </connector>
            <label>Patron Navegada</label>
        </rules>
        <rules>
            <name>Patron_No_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionPatron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conCategoriaNavegadas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Status_Patr_n_No_Navegada_Pre_Inscrito</targetReference>
            </connector>
            <label>Patron No Navegada</label>
        </rules>
        <rules>
            <name>Tripulante_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionTripulante</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCategoriaNavegadas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Status_Tripulante_Navegada_Pre_Inscrito</targetReference>
            </connector>
            <label>Tripulante Navegada</label>
        </rules>
        <rules>
            <name>Tripulante_No_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionTripulante</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conCategoriaNavegadas</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Status_Inscrito_Tripulante_No_Navegada</targetReference>
            </connector>
            <label>Tripulante No Navegada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Actividad</name>
        <label>Tipo de Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_un_Curso_Evento_Regata</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Vela Ligera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Crucero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Seco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regatas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eventos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Nivel Cero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voluntariados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navegadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Actividades_Activas</targetReference>
            </connector>
            <label>Es un Curso Evento Regata</label>
        </rules>
        <rules>
            <name>Es_una_Cesion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TablaTiposActividad.firstSelectedRow.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sf1_4_Nueva_Actividad_Cesiones</targetReference>
            </connector>
            <label>Es una Cesion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Socio_No_Socio</name>
        <label>Tipo Socio No Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conVarSocio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Socio_a_Tipo_Participante</targetReference>
            </connector>
            <label>Socio</label>
        </rules>
        <rules>
            <name>No_Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conNoSocio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_No_Socio_a_Tipo_Participante</targetReference>
            </connector>
            <label>No Socio</label>
        </rules>
    </decisions>
    <description>Cambio Crear Benefit Assignment Simple por Screenflow para seleccionar varias Calendarios</description>
    <dynamicChoiceSets>
        <name>picklistCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varoutputPickListStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickListBarco</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Codigo_Barco__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickListCategoria</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category</picklistField>
        <picklistObject>BenefitType</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Nueva Actividad creada para &quot;&amp;{!Recuperar_Account.Name}&amp;&quot;: Actividad: &quot;&amp;{!mostrarCursos.firstSelectedRow.Name}</expression>
    </formulas>
    <formulas>
        <name>varCaseTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Alta nueva actividad: &quot;&amp;{!mostrarCursos.firstSelectedRow.Name}</expression>
    </formulas>
    <formulas>
        <name>varCloseDatemas7dias</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>varNombreOportunidad</name>
        <dataType>String</dataType>
        <expression>{!mostrarCursos.firstSelectedRow.Name}&amp;&quot; &quot;&amp;text(DATEVALUE(now()))</expression>
    </formulas>
    <formulas>
        <name>varNombreProgramEnrollmentCompuesto</name>
        <dataType>String</dataType>
        <expression>{!varInputAccount.Name}&amp;&quot; &quot;&amp;text(datevalue({!mostrarCursos.firstSelectedRow.StartDateTime}))</expression>
    </formulas>
    <formulas>
        <name>varParentBenefit</name>
        <dataType>Boolean</dataType>
        <expression>if ({!varInputOcupacion}=&quot;Monitor&quot;,TRUE,if({!varInputOcupacion}=&quot;Jefe de Base&quot;,TRUE,FALSE))</expression>
    </formulas>
    <formulas>
        <name>varSKUBonoCanje</name>
        <dataType>String</dataType>
        <expression>text(year({!$Flow.CurrentDate}))&amp;&quot;-BONO-SOCIO-CANJE&quot;</expression>
    </formulas>
    <interviewLabel>sf1.Assignacion Alumno a Curso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.Assignacion Alumno a Curso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creaci_n_Caso_Actividad_No_Cesion</name>
        <label>Creaci贸n Caso Actividad No Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registro_de_Caso_OK</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actividad_CINA__c</field>
            <value>
                <elementReference>sf1_2_Crear_Benefit_Assignment_ScreenFlow_Flow_1.varOuputBenefitAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Recuperar_Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_Socio_No_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Actividades_Activas</name>
        <label>Recuperar Actividades Activas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Actividades_Activas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TablaTiposActividad.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefity_Type_Otros</name>
        <label>Recuperar Benefity Type Otros</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selecci_n_Tipo_Actividad</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCategory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Mostrar_Lista_Actividades_Disponibles</name>
        <label>Mostrar Lista Actividades Disponibles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>sf1_2_Crear_Benefit_Assignment_ScreenFlow_Flow_1</targetReference>
        </connector>
        <fields>
            <name>mostrarCursos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Benefit</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mostrar Actividades activas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Actividades_Activas</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-86fd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre del Curso&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Benefit Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDateTime&quot;,&quot;guid&quot;:&quot;column-edfb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fecha de Inicio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Plazas_Disponibles__c&quot;,&quot;guid&quot;:&quot;column-d03e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Plazas Alumnos Disponibles&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Plazas Disponibles&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Plazas_Disponibles_Monitores__c&quot;,&quot;guid&quot;:&quot;column-a334&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Plazas Monitores Disponibles&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Plazas Disponibles Monitores&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Lista_de_espera__c&quot;,&quot;guid&quot;:&quot;column-20db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Lista de Espera Alumnos&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Lista de espera&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Monitores_Lista_Espera__c&quot;,&quot;guid&quot;:&quot;column-5e6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Monitores Lista Espera&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Monitores Lista Espera&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Actividaes_Activas</name>
        <label>No Actividaes Activas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoExistenActivadesActivas</name>
            <fieldText>&lt;p&gt;No existen actividades activas para el tipo de actividad seleccionado :&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!TablaTiposActividad.firstSelectedRow.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_es_posible_Canjear_el_Bono</name>
        <label>No es posible Canjear el Bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noesposibleCanjearelbono</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;El Socio &lt;/span&gt;{!varInputAccount.Name} no tiene saldo disponible.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selecci_n_Ocupaci_n_Socio_Dependant</name>
        <label>Selecci贸n Ocupaci贸n Socio Dependant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recuperar_Benefity_Type_Otros</targetReference>
        </connector>
        <fields>
            <name>OcupacionCategoria</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>BenefitAssignment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Tipo_Alumno__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Ocupacion__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Tipo Participante</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Selecciona Ocupaci贸n</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Selecciona Categoria</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Categoria__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varInputTipoParticipante</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varInputOcupacion</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varInputCategory</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selecci_n_Tipo_Actividad</name>
        <label>Selecci贸n Tipo Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Comprobar_Vigencia_Cuota_Licencia</targetReference>
        </connector>
        <fields>
            <name>TablaTiposActividad</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BenefitType</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tipos Actividad</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Benefity_Type_Otros</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-48b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Benefit Type Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Category&quot;,&quot;guid&quot;:&quot;column-dc59&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Categoria&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cuota_Obligatoria__c&quot;,&quot;guid&quot;:&quot;column-2016&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cuota Obligatoria&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cuota Obligatoria&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Licencia_Federativa__c&quot;,&quot;guid&quot;:&quot;column-dd3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Licencia Federativa Obligatoria&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Licencia Federativa&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Seguro__c&quot;,&quot;guid&quot;:&quot;column-eb08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Seguro Obligatorio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Seguro&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Socio_sin_Cuota_o_Licencia_Vigente</name>
        <label>Socio sin Cuota o Licencia Vigente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_cuotaNovigente</name>
            <fieldText>&lt;p&gt;El Socio &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Recuperar_Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notienecuotavigente</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;No tiene Cuota Vigente&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comprobar_Vigencia_Cuota_Licencia.varOutputCuotaActiva</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_licenciaNovigente</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;No tiene Licencia Vigente&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comprobar_Vigencia_Cuota_Licencia.varOutputLicenciaActiva</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoSuperaNivelRequerido</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;No ha superado el nivel Anterior&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comprobar_Vigencia_Cuota_Licencia.varOutputNivelPrevioSuperado</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tripulante_No_Creaci_n_Oportunidad</name>
        <label>Tripulante No Creaci贸n Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ActividadSinOportunidad</name>
            <fieldText>&lt;p&gt;La actividad tipo {!varInputCategory} no genera oportunidad para  la ocupaci贸n : {!varInputOcupacion}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Comprobar_Vigencia_Cuota_Licencia</name>
        <label>Comprobar Vigencia Cuota Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Condiciones_Requeridas</targetReference>
        </connector>
        <flowName>sf5_0_Comprobar_Cuota_Licencia_Activa</flowName>
        <inputAssignments>
            <name>varInputAccount</name>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOcupacion</name>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputRecordBenefitType</name>
            <value>
                <elementReference>TablaTiposActividad.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Nueva_Actividad_Canje_del_Bono</name>
        <label>Nueva Actividad Canje del Bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>sf1_5_Nueva_Actividad_Canje_Bono</flowName>
        <inputAssignments>
            <name>varInputPricebookEntry</name>
            <value>
                <elementReference>X1_3_Creacion_de_Oportunidad_y_Quota.varOutputRecordPriceBookEntry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputQuote</name>
            <value>
                <elementReference>X1_3_Creacion_de_Oportunidad_y_Quota.varOutputRecordQuote</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sf1_2_Crear_Benefit_Assignment_ScreenFlow_Flow_1</name>
        <label>sf1.2 Crear Benefit Assignment ScreenFlow Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Benefit_Assignment_se_ha_creado</targetReference>
        </connector>
        <flowName>sf1_2_Crear_Benefit_Assignment_ScreenFlow</flowName>
        <inputAssignments>
            <name>varInputAccount</name>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputBenefit</name>
            <value>
                <elementReference>mostrarCursos.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCategoria</name>
            <value>
                <elementReference>varInputCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOcupacion</name>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputStatusText</name>
            <value>
                <elementReference>varStatusFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputTipoAlumno</name>
            <value>
                <elementReference>varInputTipoParticipante</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sf1_4_Nueva_Actividad_Cesiones</name>
        <label>sf1.4 Nueva Actividad Cesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>X1_4_Nueva_Actividad_Cesiones</flowName>
        <inputAssignments>
            <name>varInputAccount</name>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCategoria</name>
            <value>
                <elementReference>varInputCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOcupacion</name>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputTipoAlumno</name>
            <value>
                <elementReference>varInputTipoParticipante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordBenefitType</name>
            <value>
                <elementReference>TablaTiposActividad.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>X1_3_Creacion_de_Oportunidad_y_Quota</name>
        <label>1.3 Creacion de Oportunidad y Quota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Actividad_Ocupacion_Canjeable</targetReference>
        </connector>
        <flowName>sf1_3_Creacion_de_Oportunidad_y_Quota</flowName>
        <inputAssignments>
            <name>varInputBenefitAssignment</name>
            <value>
                <elementReference>sf1_2_Crear_Benefit_Assignment_ScreenFlow_Flow_1.varOuputBenefitAssignment</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBenefitAssigment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputTipoParticipante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaBenefitType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varMaximoBonoNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPorcentajePagoBon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProgramEnrolmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varRecordBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varStatusFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
