force-app/main/default/flows/sf1_3_Creacion_de_Oportunidad_y_Quota.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Oportunidad_Creada</name>
        <label>Oportunidad Creada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Comprobar_que_existen_productos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro de Oportunidad creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>urlRegistroCreadoOportunidad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>Crear_Oportunidad.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Account_Benefit_Assigment_a_variable_Account</name>
        <label>Asignar Account Benefit Assigment a variable Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Account_del_Benefit_Assigment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Benefit_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Account_Contrato_a_Variable_Account</name>
        <label>Asignar Account Contrato a Variable Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Contrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Producto</name>
        <label>Asignar Beneficios Producto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Productos_Alumno</name>
        <label>Asignar Beneficios Productos Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assigment_Alumno</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Productos_Jefe_de_Base</name>
        <label>Asignar Beneficios Productos Jefe de Base</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assigment_Jefe_Base</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Productos_Monitor</name>
        <label>Asignar Beneficios Productos Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assigment_Monitor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Productos_Patr_n_Navegada</name>
        <label>Asignar Beneficios Productos Patrón Navegada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assignment_Patr_n_Navegada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Productos_Patron_Cesion</name>
        <label>Asignar Beneficios Productos Patron Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assigment_Patron_Cesion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Beneficios_Productos_Tripulante_Navegada</name>
        <label>Asignar Beneficios Productos Tripulante Navegada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitProducto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Productos_Benefit_Assigment_Tripulante_Navegada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nombre_Opportunidad_Benefit</name>
        <label>Asignar Nombre Opportunidad Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNombreFinalOpportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreOpportunidadBenefit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nombre_Opportunidad_Contrato</name>
        <label>Asignar Nombre Opportunidad Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNombreFinalOpportunidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreOportunidadContrato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Pricebook_OutputRecord</name>
        <label>Asignar Pricebook OutputRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputRecordPriceBookEntry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recupear_PriceBook_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Quota_OutputRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Quota_OutputRecord</name>
        <label>Asignar Quota OutputRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputRecordQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Productos_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Status_Pendiente_de_Aprobaci_n_a_Contrato</name>
        <label>Asignar Status Pendiente de Aprobación a Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputContrato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Status_Contrato</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBenefitTypeOtros</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </constants>
    <constants>
        <name>conBonoSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Bono Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCompesacionJBase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Compensación Plus</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCompesacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Compensación Normal</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCreacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Creacion Oportunidad</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaBolsaViaje</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Bolsa Viaje</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaDevolucionFianza</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Devolución Fianza</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaProductoCesion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cesion</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaProductoCurso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Curso</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaProductoFianza</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fianza</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaProductoNavegada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Navegada</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAlumno</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitor</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>varDisbursementQuantityUNO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Input_Entrada</name>
        <label>Comprobar Input Entrada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input_de_entrada_Contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputContrato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Account</targetReference>
            </connector>
            <label>Input de entrada Contrato</label>
        </rules>
        <rules>
            <name>Input_de_Entrada_Benefit_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputBenefitAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Account_del_Benefit_Assigment</targetReference>
            </connector>
            <label>Input de Entrada Benefit Assigment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Input_Entrada_para_enlace</name>
        <label>Comprobar Input Entrada para enlace</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input_Contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputContrato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Contrato_con_Oportunidad</targetReference>
            </connector>
            <label>Input Contrato</label>
        </rules>
        <rules>
            <name>Input_Benefit_Assigment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputBenefitAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Benefit_Assigment_con_Oportunidad</targetReference>
            </connector>
            <label>Input Benefit Assigment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_que_existen_productos</name>
        <label>Comprobar que existen productos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Comprobar_Input_Entrada_para_enlace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Productos_Benefit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varListaBenefitProducto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Productos</targetReference>
            </connector>
            <label>Si Existen Productos Benefit</label>
        </rules>
        <rules>
            <name>Si_Existen_Productos_Contrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Producto_Contract_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recupear_PriceBook_Entry_Contrato</targetReference>
            </connector>
            <label>Si Existen Productos Contrato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Productos_asociados_al_Beneficio</name>
        <label>Existen Productos asociados al Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existen_Productos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Productos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varListaBenefitProducto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nombre_Opportunidad_Benefit</targetReference>
            </connector>
            <label>Si Existen Productos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Productos_asociados_al_Contrato</name>
        <label>Existen Productos asociados al Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existen_Productos_Contrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Productos_Contratos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Producto_Contract_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nombre_Opportunidad_Contrato</targetReference>
            </connector>
            <label>Si Existen Productos Contratos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Familia_Producto_Canjeable</name>
        <label>Familia Producto Canjeable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Productos_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Familia_Distinta_Fianza</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Productos.Product3Id__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Productos.Product3Id__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Productos.Product3Id__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Productos.Product3Id__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Pricebook_OutputRecord</targetReference>
            </connector>
            <label>Familia Canjeable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recuperar_Productos_por_Ocupacion</name>
        <label>Recuperar Productos por Ocupacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Productos_Benefit_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resto Ocupaciones Categorias</defaultConnectorLabel>
        <rules>
            <name>Productos_Monitor_o_Patr_n_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputBenefitAssignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>030</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Productos_Benefit_Assigment_Monitor</targetReference>
            </connector>
            <label>Productos Monitor</label>
        </rules>
        <rules>
            <name>Productos_Jefe_de_Base</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varInputBenefitAssignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>010</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputBenefitAssignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>020</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Productos_Benefit_Assigment_Jefe_Base</targetReference>
            </connector>
            <label>Productos Jefe de Base</label>
        </rules>
        <rules>
            <name>Productos_Patr_n_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patron</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navegadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Productos_Benefit_Assignment_Patr_n_Navegada</targetReference>
            </connector>
            <label>Productos Patrón Navegada</label>
        </rules>
        <rules>
            <name>Productos_Tripulante_Navegada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tripulante</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navegadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Productos_Benefit_Assigment_Tripulante_Navegada</targetReference>
            </connector>
            <label>Productos Tripulante Navegada</label>
        </rules>
        <rules>
            <name>Alumno</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alumno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Benefit_Assignment_Parent__r.Benefit_Assignment_Parent__r.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Vela Ligera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Crucero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Assignment.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Seco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Productos_Benefit_Assigment_Alumno</targetReference>
            </connector>
            <label>Alumno</label>
        </rules>
        <rules>
            <name>Patron_Cesion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputBenefitAssignment.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patron</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputBenefitAssignment.Categoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Productos_Benefit_Assigment_Patron_Cesion</targetReference>
            </connector>
            <label>Patron Cesion</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickListCategoria</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category</picklistField>
        <picklistObject>BenefitType</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>urlRegistroCreadoOportunidad</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Crear_Oportunidad.Id}</expression>
    </formulas>
    <formulas>
        <name>varAnoEnCurso</name>
        <dataType>String</dataType>
        <expression>text(year(today()))</expression>
    </formulas>
    <formulas>
        <name>varCloseDatemas7dias</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>varNombreOportunidadContrato</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Contrato.Name}&amp;&quot; &quot;&amp;text(today())</expression>
    </formulas>
    <formulas>
        <name>varNombreOpportunidadBenefit</name>
        <dataType>String</dataType>
        <expression> {!Recuperar_Benefit_Assignment.Benefit.Name}&amp;&quot; &quot;&amp;text(today())</expression>
    </formulas>
    <interviewLabel>sf1.3 Creacion de Oportunidad y Quota {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.3 Creacion de Oportunidad y Quota</label>
    <loops>
        <name>Recorrer_Productos</name>
        <label>Recorrer Productos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListaBenefitProducto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recupear_PriceBook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Sincronizacion_Quota_Oportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Oportunidad</name>
        <label>Crear Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varCloseDatemas7dias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Recuperar_Contrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreFinalOpportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Recuperar_Id_Pricebook_Standard.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Productos_Oportunidad</name>
        <label>Crear Productos Quota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Productos</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Recupear_PriceBook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Recorrer_Productos.Product3Id__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Crear_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Recupear_PriceBook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Productos_Quota_Contrato</name>
        <label>Crear Productos Quota Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Sincronizacion_Quota_Oportunidad_Contrato</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Recupear_PriceBook_Entry_Contrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Recuperar_Producto_Contract_Type.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Crear_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Recupear_PriceBook_Entry_Contrato.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Quote</name>
        <label>Crear Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Creada</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Recuperar_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>varCloseDatemas7dias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreFinalOpportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Crear_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Recuperar_Id_Pricebook_Standard.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Presented</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recupear_PriceBook_Entry</name>
        <label>Recupear PriceBook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Familia_Producto_Canjeable</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Productos.Product3Id__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Id_Pricebook_Standard.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recupear_PriceBook_Entry_Contrato</name>
        <label>Recupear PriceBook Entry Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Productos_Quota_Contrato</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Producto_Contract_Type.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Id_Pricebook_Standard.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Account_Contrato_a_Variable_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContrato.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Account_del_Benefit_Assigment</name>
        <label>Recuperar Account del Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Account_Benefit_Assigment_a_variable_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.EnrolleeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assignment</name>
        <label>Recuperar Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Productos_por_Ocupacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Contrato</name>
        <label>Recuperar Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Producto_Contract_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContrato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Id_Pricebook_Standard</name>
        <label>Recuperar Id Pricebook Standard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Input_Entrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Producto_Contract_Type</name>
        <label>Recuperar Producto Contract Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Productos_asociados_al_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Contrato.Contract_Type__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assigment_Alumno</name>
        <label>Recuperar Productos Benefit Assigment Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Productos_Alumno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conFamiliaProductoCurso</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assigment_Jefe_Base</name>
        <label>Recuperar Productos Benefit Assigment Jefe Base</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Productos_Jefe_de_Base</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conCompesacionJBase</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>conFamiliaBolsaViaje</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assigment_Monitor</name>
        <label>Recuperar Productos Benefit Assigment Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Productos_Monitor</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>conFamiliaBolsaViaje</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conCompesacionMonitor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assigment_Patron_Cesion</name>
        <label>Recuperar Productos Benefit Assigment Patron Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Productos_Patron_Cesion</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conFamiliaProductoCesion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conFamiliaProductoFianza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assigment_Tripulante_Navegada</name>
        <label>Recuperar Productos Benefit Assigment Tripulante Navegada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Productos_Tripulante_Navegada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conFamiliaProductoNavegada</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assignment</name>
        <label>Recuperar Productos Benefit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Producto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Productos_Benefit_Assignment_Patr_n_Navegada</name>
        <label>Recuperar Productos Benefit Assignment Patrón Navegada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Beneficios_Productos_Patr_n_Navegada</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Benefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>conFamiliaBolsaViaje</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conCompesacionMonitor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Assigment_con_Oportunidad</name>
        <label>Actualizar Benefit Assigment con Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefitAssignment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Crear_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Contrato_con_Oportunidad</name>
        <label>Actualizar Contrato con Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Contrato.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Crear_Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Sincronizacion_Quota_Oportunidad</name>
        <label>Actualizar Sincronizacion Quota Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Input_Entrada_para_enlace</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>Crear_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Sincronizacion_Quota_Oportunidad_Contrato</name>
        <label>Actualizar Sincronizacion Quota Oportunidad Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Input_Entrada_para_enlace</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>Crear_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Status_Contrato</name>
        <label>Actualizar Status Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputContrato</inputReference>
    </recordUpdates>
    <screens>
        <name>No_Existen_Productos</name>
        <label>No Existen Productos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Noexistenproductos</name>
            <fieldText>&lt;p&gt;No existen productos asociados a la actividad  {!varInputBenefitAssignment.Benefit.Name}&lt;/p&gt;&lt;p&gt;Consulte con el Administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Existen_Productos_Contrato</name>
        <label>No Existen Productos Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Asignar_Status_Pendiente_de_Aprobaci_n_a_Contrato</targetReference>
        </connector>
        <fields>
            <name>NoexistenproductosContrato</name>
            <fieldText>&lt;p&gt;No existen productos asociados al ltipo de contrato.  {!Recuperar_Contrato.Contract_Type__r.Name}&lt;/p&gt;&lt;p&gt;Se ha creado un contrato (Obligación) sin oportunidad asociada, ni por tanto posibilidad de pago.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Id_Pricebook_Standard</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputBenefitAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varInputContrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varListaBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaBenefitProducto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit_Product__c</objectType>
    </variables>
    <variables>
        <name>varNombreFinalOpportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputRecordPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varOutputRecordQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varProgramEnrolmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
</Flow>
