force-app/main/default/flows/sf1_2_Crear_Benefit_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>A_adir_participante_en_event_Relation</name>
        <label>Añadir participante en event Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordEventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Eventos_asociados_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputAccount.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEventRelation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Event_Relation_a_Lista_Event_Relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Assignment_a_variableOutput</name>
        <label>Asignar Benefit Assignment a variableOutput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOuputBenefitAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assignment_Creado</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Disbursement_a_Lista_de_Benefit_Disbursement</name>
        <label>Asignar Benefit Disbursement a Lista de Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitDisbursement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordBenefitDisbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Eventos_asociados_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Disbursement</name>
        <label>Asignar Datos Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.BenefitAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputAccount.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.DisbursedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDisbursementQuantityUNO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStartDateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndDateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.Estado_Evaluacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputStatusText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.ActualCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.Ocupacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Benefit_Disbursement_a_Lista_de_Benefit_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Event_Relation_a_Lista_Event_Relation</name>
        <label>Asignar Event Relation a Lista Event Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaEventRelation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordEventRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nivel_Alumno_Crucero</name>
        <label>Asignar Nivel Alumno Crucero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNivelActualAlumno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Nivel_Alumno_Crucero.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nivel_Alumno_Ligera</name>
        <label>Asignar Nivel Alumno Ligera</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNivelActualAlumno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Nivel_Alumno_Ligera.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nivel_Monitor</name>
        <label>Asignar Nivel Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNivelMonitor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Nivel_Monitor.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputOcupacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conOcupacionMonitor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Program_Enrolment_Creado</name>
        <label>Asignar Program Enrolment Creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varProgramEnrolmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Program_Enrolment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Program_Enrolment_Existen</name>
        <label>Asignar Program Enrolment Existen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varProgramEnrolmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Program_Enrolment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conCursoCrucero</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Curso Crucero</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCursoVelaLigera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Curso Vela Ligera</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAlumno</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>030</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoAlumnoCrucero</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno Crucero</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoAlumnoLigera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno Ligera</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitor</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTituloCina</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Titulo CINA</stringValue>
        </value>
    </constants>
    <constants>
        <name>varDisbursementQuantityUNO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_si_Existen_Eventos</name>
        <label>Comprobar Existe Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Evento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Eventos_asociados_Sesiones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_adir_participante_en_event_Relation</targetReference>
            </connector>
            <label>Si Existe Evento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Program_Enrolment</name>
        <label>Existe Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Program_Enrolment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Program_Enrolment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Program_Enrolment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Program_Enrolment_Existen</targetReference>
            </connector>
            <label>Si Existe Program Enrolment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Assets_asociados_al_Benefit</name>
        <label>Existen Assets asociados al Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Scheduled_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Asset_asociados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Benefit_Assignment_Asset</targetReference>
            </connector>
            <label>Si Existen Asset asociados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ocupacion</name>
        <label>Ocupacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alumno_Ligera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAlumno</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategoria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCursoVelaLigera</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Nivel_Alumno_Ligera</targetReference>
            </connector>
            <label>Alumno Ligera</label>
        </rules>
        <rules>
            <name>Alumno_Crucero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAlumno</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputCategoria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conCursoCrucero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Nivel_Alumno_Crucero</targetReference>
            </connector>
            <label>Alumno Crucero</label>
        </rules>
        <rules>
            <name>Monitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionMonitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Nivel_Monitor</targetReference>
            </connector>
            <label>Monitor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCompleto</name>
        <dataType>Boolean</dataType>
        <expression>if({!Recuperar_Benefit_Asset.Ocupaci_n__c}={!Recuperar_Benefit_Asset.Tripulantes__c},TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>varEndDateDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!Recorrer_Sesiones.EndDateTime})</expression>
    </formulas>
    <formulas>
        <name>varFechaInscripcion</name>
        <dataType>Date</dataType>
        <expression>if({!varInputStatusText}=&apos;Inscrito&apos;,{!$Flow.CurrentDate},null)</expression>
    </formulas>
    <formulas>
        <name>varFechaPreInscripcion</name>
        <dataType>Date</dataType>
        <expression>if(OR({!varInputStatusText}=&apos;Pre-Inscrito&apos;,{!varInputStatusText}=&apos;Lista de Espera&apos;),{!$Flow.CurrentDate},null)</expression>
    </formulas>
    <formulas>
        <name>varNombreProgramEnrollment</name>
        <dataType>String</dataType>
        <expression>{!varInputAccount.Name}&amp;&quot; &quot;&amp;text(datevalue({!varInputBenefit.StartDateTime}))</expression>
    </formulas>
    <formulas>
        <name>varNombreScheduleAssignment</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Benefit_Scheduled.Name}&amp;&quot;-&quot;&amp;{!varNombreProgramEnrollment}</expression>
    </formulas>
    <formulas>
        <name>varStartDateDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!Recorrer_Sesiones.StartDateTime})</expression>
    </formulas>
    <formulas>
        <name>varTipoEncuadramiento</name>
        <dataType>String</dataType>
        <expression>if({!varInputCategoria}=&apos;Regata&apos;,&apos;RG - Regata&apos;,
if({!varInputCategoria}=&apos;Bautismo&apos;,&apos;BA - Bautismo&apos;,
if(begins({!varInputCategoria} ,&apos;Curso&apos;),&apos;CU - Curso&apos;,null)
)
)</expression>
    </formulas>
    <interviewLabel>sf1. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.2 Crear Benefit Assignment</label>
    <loops>
        <name>Recorrer_Sesiones</name>
        <label>Recorrer Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Benefit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Disbursement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Benefit_Disbursement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Assignment</name>
        <label>Crear Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>varInputBenefit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Assignment_Parent__c</field>
            <value>
                <elementReference>varInputBenefitAssignmentParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Categoria__c</field>
            <value>
                <elementReference>varInputCategoria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>varNivelMonitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varInputBenefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrolleeId</field>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Encuadramiento__c</field>
            <value>
                <elementReference>varFechaInscripcion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>varFechaInscripcion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Preinscripcion__c</field>
            <value>
                <elementReference>varFechaPreInscripcion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nivel_Actual__c</field>
            <value>
                <elementReference>varNivelActualAlumno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>varProgramEnrolmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramEnrollmentId</field>
            <value>
                <elementReference>varProgramEnrolmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varInputBenefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varInputStatusText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Alumno__c</field>
            <value>
                <elementReference>varInputTipoAlumno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Encuadramiento__c</field>
            <value>
                <elementReference>varTipoEncuadramiento</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Assignment_Asset</name>
        <label>Crear Benefit Assignment Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Scheduled_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId__NotFound</field>
            <value>
                <elementReference>Recuperar_Benefit_Asset.Asset__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitAssignmentId__NotFound</field>
            <value>
                <elementReference>Crear_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveEndDate</field>
            <value>
                <elementReference>varInputBenefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>varInputBenefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignmentAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Disbursement</name>
        <label>Crear Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Event_Relation</targetReference>
        </connector>
        <inputReference>varListaBenefitDisbursement</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Event_Relation</name>
        <label>Crear Event Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Assignment_Creado</targetReference>
        </connector>
        <inputReference>varListaEventRelation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Program_Enrolment</name>
        <label>Crear Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Program_Enrolment_Creado</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>varInputBenefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreProgramEnrollment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>varInputBenefit.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>varInputBenefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Scheduled_Assignment</name>
        <label>Crear Scheduled Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Sesiones_Benefit</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitAssignmentId</field>
            <value>
                <elementReference>Crear_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitScheduleId</field>
            <value>
                <elementReference>Recuperar_Benefit_Scheduled.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varInputBenefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>varInputStatusText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreScheduleAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varInputBenefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitScheduleAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Benefit_Asset</name>
        <label>Recuperar Benefit Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Assets_asociados_al_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit_Asset__c</object>
        <sortField>Asset__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assignment_Creado</name>
        <label>Recuperar Benefit Assignment Creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_Assignment_a_variableOutput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Assignment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Scheduled</name>
        <label>Recuperar Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ocupacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Eventos_asociados_Sesiones</name>
        <label>Recuperar Eventos asociados Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_si_Existen_Eventos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Nivel_Alumno_Crucero</name>
        <label>Recuperar Nivel Alumno Crucero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Nivel_Alumno_Crucero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conTituloCina</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conTipoAlumnoCrucero</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Nivel__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Nivel_Alumno_Ligera</name>
        <label>Recuperar Nivel Alumno Ligera</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Nivel_Alumno_Ligera</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conTituloCina</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conTipoAlumnoLigera</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Nivel__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Nivel_Monitor</name>
        <label>Recuperar Nivel Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Nivel_Monitor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conTituloCina</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conTipoMonitor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Nivel__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Program_Enrolment</name>
        <label>Recuperar Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Program_Enrolment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputBenefit.ProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Sesiones_Benefit</name>
        <label>Recuperar Sesiones Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Scheduled_Assignment.BenefitScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Program_Enrolment</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varInputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>varInputBenefitAssignmentParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputCategoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputStatusText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputTipoAlumno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaEventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>varListaSessionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
    <variables>
        <name>varNivelActualAlumno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNivelMonitor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOuputBenefitAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varProgramEnrolmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varRecordEventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>varRecordSessionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
</Flow>
