force-app/main/default/flows/sf1_1_Creacion_Cesiones_Benefit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>A_adir_un_dia_fecha_Trabajo</name>
        <label>Añadir un dia fecha Trabajo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFechaTrabajo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaTrabajomasundia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaFechas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFechaTrabajo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Es_la_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_a_Output_flow</name>
        <label>Asignar Benefit a Output flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputRecordBenefit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit_para_varoutput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Sesion</name>
        <label>Asignar Datos Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecorBSession.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreSesion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaInicioSessionTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinSessionTM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Fecha_Inicial_a_Lista_Fechas</name>
        <label>Asignar Fecha Inicial a Lista Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFechaTrabajo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputFechaDesde</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaFechas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFechaTrabajo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_la_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBSession</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecorBSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBenefitTypeCesiones</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cesiones</stringValue>
        </value>
    </constants>
    <constants>
        <name>conDospuntos</name>
        <dataType>String</dataType>
        <value>
            <stringValue>:</stringValue>
        </value>
    </constants>
    <constants>
        <name>conProductCodeFianza</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FIANZA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUnSoloNivel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Un solo Nivel</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUoMDias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dias</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Es_la_Fecha_Fin</name>
        <label>Es la Fecha Fin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Sesiones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_la_fecha_Fin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFechaTrabajo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varInputFechaHasta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_adir_un_dia_fecha_Trabajo</targetReference>
            </connector>
            <label>No es la fecha Fin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Asset_Producto_Fianza</name>
        <label>Existe Asset Producto Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Benefit_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Exist_Asset_Fianza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Product_de_Asset_Fianza</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Productos_Fianza</targetReference>
            </connector>
            <label>Si Exist Asset Fianza</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_existen_datos_Obligatorios</name>
        <label>Existen datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Programa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Id_Unit_of_Mesure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Beneficio_Hijo</targetReference>
            </connector>
            <label>Existen</label>
        </rules>
    </decisions>
    <description>Sin crear Session Assets. Se deja al Trigger Flow 3.1 Benefit Session Crear Evento</description>
    <environments>Default</environments>
    <formulas>
        <name>varFechaFinHora</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputFechaHasta}) + (16/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaFinSessionTM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Crear_Sesiones})+(15/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaHoraInicio</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputFechaDesde}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaInicioSessionTM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Crear_Sesiones})+(9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaTrabajomasundia</name>
        <dataType>Date</dataType>
        <expression>{!varFechaTrabajo}+1</expression>
    </formulas>
    <formulas>
        <name>varFechaUltima</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varFechasRestante})</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficioHijo</name>
        <dataType>String</dataType>
        <expression>text(year({!varInputFechaDesde}))&amp;&apos; &apos;&amp;{!varInputLocation.Name} &amp;&apos; Cesión &apos;&amp;
{!varInputAssetBarco.Name}&amp;&apos; &apos;&amp;{!varInputAccount.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficioPadre</name>
        <dataType>String</dataType>
        <expression>text(year({!varInputFechaDesde}))&amp;&apos; &apos;&amp;{!varInputLocation.Name} &amp;&apos;  Cesión &apos;&amp;
{!varInputAssetBarco.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreBenefitAsset</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Benefit_para_varoutput.Name}&amp;&quot; &quot;&amp;{!varInputAssetBarco.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreBenefitProductoCesion</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Benefit_para_varoutput.Name}&amp;&quot; &quot;&amp;{!varInputAssetBarco.StockKeepingUnit}</expression>
    </formulas>
    <formulas>
        <name>varNombreBenefitProductoFianza</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Benefit_para_varoutput.Name}&amp;&quot; &quot;&amp;{!Recorrer_Productos_Fianza.StockKeepingUnit}</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendar</name>
        <dataType>String</dataType>
        <expression>text(year({!Obtener_Programa.StartDate}))&amp;&quot; &quot;&amp;{!Obtener_Programa.Location__r.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendario</name>
        <dataType>String</dataType>
        <expression>&quot;Calendario: &quot;&amp;{!varNombreBeneficioPadre}</expression>
    </formulas>
    <formulas>
        <name>varNombreProgram</name>
        <dataType>String</dataType>
        <expression>text(year({!varInputFechaDesde}))&amp;&apos; Cesiones &apos;&amp;{!varInputLocation.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreSesion</name>
        <dataType>String</dataType>
        <expression>Text({!Crear_Sesiones})&amp;&apos;:&apos;&amp;{!varNombreCalendario}</expression>
    </formulas>
    <formulas>
        <name>varNumeroAlumnosmenosPatron</name>
        <dataType>Number</dataType>
        <expression>{!varInputAssetBarco.Tripulantes__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>sf {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.1 Creacion Cesiones Benefit</label>
    <loops>
        <name>Crear_Sesiones</name>
        <label>Crear Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListaFechas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Productos_Fianza</name>
        <label>Recorrer Productos Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Product_de_Asset_Fianza</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_ProductId_de_Fianza</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Benefit_Scheduled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Crear_Benefit_Producto_Cesion</name>
        <label>Crear Benefit Producto Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Productos_Fianza</targetReference>
        </connector>
        <inputAssignments>
            <field>Benefit__c</field>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBenefitProductoFianza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_List__c</field>
            <value>
                <elementReference>Obtener_Id_Standar_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product3Id__c</field>
            <value>
                <elementReference>Recorrer_Productos_Fianza.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Beneficio_Hijo</name>
        <label>Crear Beneficio Hijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Benefit_Producto_Cesion</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>varInputBenefitType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varInputBenefitType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuota_Obligatoria__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_Federativa__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>varInputLocation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Monitores_Crucero__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Montiores_Ligera__c</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBeneficioHijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plazas_Maximo_Alumo__c</field>
            <value>
                <elementReference>varNumeroAlumnosmenosPatron</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>Recuperar_Id_Unit_of_Mesure.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Asset</name>
        <label>Crear Benefit Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_para_varoutput</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>varInputAssetBarco.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit__c</field>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBenefitAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupaci_n__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programaci_n_de_Actividad_CINA__c</field>
            <value>
                <elementReference>Crear_Benefit_Scheduled</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Producto_Cesion</name>
        <label>Crear Benefit Producto Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Product_de_Asset_Fianza</targetReference>
        </connector>
        <inputAssignments>
            <field>Benefit__c</field>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBenefitProductoCesion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_List__c</field>
            <value>
                <elementReference>Obtener_Id_Standar_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product3Id__c</field>
            <value>
                <elementReference>varInputAssetBarco.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Scheduled</name>
        <label>Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Fecha_Inicial_a_Lista_Fechas</targetReference>
        </connector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varInputBenefitType.Codigo_Nivel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultBenefitQuantity</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionEndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionStartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximo_Monitores__c</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaximumParticipantCount</field>
            <value>
                <elementReference>varInputAssetBarco.Tripulantes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreCalendario</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Session</name>
        <label>Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Benefit_Asset</targetReference>
        </connector>
        <inputReference>varListaBSession</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Id_Standar_Pricebook</name>
        <label>Obtener Id Standar Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Programa</name>
        <label>Obtener Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Calendario_Actual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreProgram</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_para_varoutput</name>
        <label>Recuperar Benefit para varoutput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Benefit_a_Output_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Calendario_Actual</name>
        <label>Recuperar Calendario Actual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_existen_datos_Obligatorios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreCalendar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Id_Unit_of_Mesure</name>
        <label>Recuperar Id Unit of Mesure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Id_Standar_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conUoMDias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Product_de_Asset_Fianza</name>
        <label>Recuperar Product de Asset Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Asset_Producto_Fianza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAssetBarco.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>StockKeepingUnit</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_ProductId_de_Fianza</name>
        <label>Recuperar ProductId de Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Crear_Benefit_Producto_Cesion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Productos_Fianza.StockKeepingUnit</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Id_Unit_of_Mesure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loteDeBenefitsParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>lotedeBScheduledParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>registroBenefitIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>registroBScheduledIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>varBeneficioPadreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDiasCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFechaInicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechasRestante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechaTrabajo</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdentificadoresBenefitType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputAssetBarco</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varInputBenefitType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varInputFechaDesde</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputFechaHasta</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>varIntNivelesCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varListaBSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varListaFechas</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaSessionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalCursoDia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Curso_Dia__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalNiveles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos_Niveles__c</objectType>
    </variables>
    <variables>
        <name>varOutputRecordBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>varRecorBSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitTyp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varRecordSessionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
    <variables>
        <name>varRecorSesionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
    <variables>
        <name>varSalesforceIdPadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
