force-app/main/default/flows/sf1_5_Nueva_Actividad_Canje_Bono.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>parcial</name>
        <choiceText>Parcial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parcial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>total</name>
        <choiceText>Total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Total</stringValue>
        </value>
    </choices>
    <constants>
        <name>conBenefitTypeOtros</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCreacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Creacion Oportunidad</stringValue>
        </value>
    </constants>
    <constants>
        <name>conEnListadeEspera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En lista de espera</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNombreAccountCINA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CINA - Centro Internacional de Navegación de la Isla de Arousa</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNoSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAlumno</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAsistente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Asistente</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionColaborador</name>
        <dataType>String</dataType>
        <value>
            <stringValue>090</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionJefedeBase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Jefe de Base</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>030</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionPatron</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patron</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSKUBonoCanje</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-CANJE</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inscrito</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusPreInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Inscrito</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoActividadCesion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cesiones</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValor5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorCero</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conVarSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>varDisbursementQuantityUNO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Aplicar_Bono</name>
        <label>Aplicar Bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_quiere_aplicar_el_Bono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Canjear_Bono</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comprobar_Cantidad_a_Canjear</targetReference>
            </connector>
            <label>Si quiere aplicar el Bono</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Cantidad_a_Canjear</name>
        <label>Comprobar Cantidad a Canjear</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Product_Canjear_Bono</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Mayor_que_Maximo_Bono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cantidad_o_Porcentaje_a_Canjear</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varInputPricebookEntry.Maximo_Pagable_Bono__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cantidad_a_Canjear_Mayor_que_el_m_ximo</targetReference>
            </connector>
            <label>Es Mayor que Maximo Bono</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varoutputPickListStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickListBarco</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Codigo_Barco__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickListCategoria</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category</picklistField>
        <picklistObject>BenefitType</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varCloseDatemas7dias</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>varParentBenefit</name>
        <dataType>Boolean</dataType>
        <expression>if ({!varInputOcupacion}=&quot;Monitor&quot;,TRUE,if({!varInputOcupacion}=&quot;Jefe de Base&quot;,TRUE,FALSE))</expression>
    </formulas>
    <formulas>
        <name>varSKUBonoCanje</name>
        <dataType>String</dataType>
        <expression>text(year({!$Flow.CurrentDate}))&amp;&quot;-BONO-SOCIO-CANJE&quot;</expression>
    </formulas>
    <interviewLabel>sf1.5 Nueva Actividad Canje Bono {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.5 Nueva Actividad Canje Bono</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Producto_Canje_Quote_Final</name>
        <label>Crear Producto Canje Quote Final</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_en_la_creacion_del_Producto_Canje</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Recuperar_PriceBook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Recuperar_Product_Canjear_Bono.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Cantidad_o_Porcentaje_a_Canjear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>varInputQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Recuperar_PriceBook_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_PriceBook_Entry</name>
        <label>Recuperar PriceBook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Producto_Canje_Quote_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Product_Canjear_Bono.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Product_Canjear_Bono</name>
        <label>Recuperar Product Canjear Bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_PriceBook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bono Socio</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CanjearBonoSocio</name>
        <label>Canjear Bono Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Aplicar_Bono</targetReference>
        </connector>
        <fields>
            <name>DeseaCanjear</name>
            <fieldText>&lt;h4&gt;Bono Disponible : {!varInputAccount.Bono_Socio__c}&lt;/h4&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;¿Desea canjear el Bono?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Canjear_Bono</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Canjear Bono</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CanjeoTotalParcial</name>
            <fieldText>&lt;p&gt;El máximo bono canjeable para el producto {!varInputPricebookEntry.Product2.Name}   &lt;/p&gt;&lt;p&gt;es de : {!varInputPricebookEntry.Maximo_Pagable_Bono__c}€&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Canjear_Bono</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cantidad_o_Porcentaje_a_Canjear</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varInputPricebookEntry.Maximo_Pagable_Bono__c</elementReference>
            </defaultValue>
            <fieldText>Cantidad a Canjear</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Canjear_Bono</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Si</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cantidad_a_Canjear_Mayor_que_el_m_ximo</name>
        <label>Cantidad a Canjear Mayor que el máximo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cantidadmayorquelmaximo</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;La Cantidad a canjear {!Cantidad_o_Porcentaje_a_Canjear} es mayor que el máximo permitido {!varInputPricebookEntry.Maximo_Pagable_Bono__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_en_la_creacion_del_Producto_Canje</name>
        <label>Error en la creacion del Producto Canje</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorproductocanje</name>
            <fieldText>&lt;p&gt;Se ha producido un error en la creación del producto canje bono de la cuota. Consulte con el Adminstrador&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CanjearBonoSocio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBenefitAssigment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBonoSocio</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varInputQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varInputTipoAlumno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaBenefitType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varMaximoBonoNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPorcentajePagoBon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProgramEnrolmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varRecordBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varStatusFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
