force-app/main/default/flows/sf4_1_Vincular_Participantes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>No_Existen_Participantes</name>
        <label>No Existen Participantes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No existen participantes disponibles</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>No_se_cumplen_condiciones_vinculacion</name>
        <label>No se cumplen condiciones vinculacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No se cumplen las condiciones para vincular participantes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Participantes_A_adidos_Correctamente</name>
        <label>Participantes Vinculados Correctamente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Participantes Vinculados Correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>A_adir_Benefit_Disbursement_Record_a_Lista</name>
        <label>Añadir Benefit Disbursement Record a Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBenefitDisbursement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordBenefitDisbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Benefit_Disbursement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_adir_Nombre_Account_a_colecci_n_data_table</name>
        <label>Añadir Nombre Account a colección data table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Partipantes_Candidatos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Partipantes_Candidatos.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.EnrolleeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Partipantes_Candidatos.EnrolleeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Propuesto_Monitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Nombre_de_Cuenta_del_EnrollId.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Ocupacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOcupacionParticipante</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Categoria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit.Categoria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Tipo_Actividad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit.Tipo_Actividad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Benefit_Assignment_Parent__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Benefit.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_a_Lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Asignment_de_salida</name>
        <label>Asignar Benefit Asignment de salida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListBenefitAssignmentSalida</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordBenefitAssigment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Recorrer_Benefit_Assignment_Seleccionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_Assignment_Record</name>
        <label>Asignar Benefit Assignment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encontrar_Seleccionada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Record_a_Lista</name>
        <label>Asignar Record a Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListBenefitAssigment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordBenefitAssigment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Partipantes_Candidatos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Tipo_Alumno_No_Socio</name>
        <label>Asignar Tipo Alumno No Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Tipo_Alumno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_adir_Nombre_Account_a_colecci_n_data_table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Tipo_Alumno_Socio</name>
        <label>Asignar Tipo Alumno Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Tipo_Alumno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_adir_Nombre_Account_a_colecci_n_data_table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_Benefit_Assignment_a_Benefit_Disbursement</name>
        <label>Asignar valores Benefit Assignment a Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.Ocupacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Benefit_Assignment_vinculados.Ocupacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Benefit_Disbursement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitDisbursement.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_adir_Benefit_Disbursement_Record_a_Lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_8</name>
        <label>Assignar Benefit Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Benefit_Assignment_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordBenefitAssigment.Fecha_Matriculacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Benefit_Asignment_de_salida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ocupaci_n_Participante_Asistente</name>
        <label>Ocupación Participante Asistente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOcupacionParticipante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conOcupacionAsistente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Partipantes_Candidatos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ocupaci_n_Participante_Tripulante</name>
        <label>Ocupación Participante Tripulante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOcupacionParticipante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conOcupacionTripulante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Partipantes_Candidatos</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conOcupacionAsistente</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Asistente</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionTripulante</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tripulante</stringValue>
        </value>
    </constants>
    <constants>
        <name>conRecordTypeNameSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Ocupaci_n</name>
        <label>Comprobar Ocupación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Ocupaci_n_Participante_Asistente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ocupaci_n_Tripulante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patron</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ocupaci_n_Participante_Tripulante</targetReference>
            </connector>
            <label>Ocupación Tripulante</label>
        </rules>
    </decisions>
    <decisions>
        <description>Estado Inscrito y no es participante de otro socio</description>
        <name>Cumple_condiciones_para_vincular_participantes</name>
        <label>Cumple condiciones para vincular participantes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_se_cumplen_condiciones_vinculacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_cumple_las_condiciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Participantes_Candidatos</targetReference>
            </connector>
            <label>Si cumple las condiciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_un_Benefit_Seleccionado</name>
        <label>Es un Benefit Seleccionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Encontrar_Seleccionada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_un_Benefit_Seleccionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Benefit_Assignment_Seleccionados.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_Benefit_Assignment_Seleccionados.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Benefit_Assignment_Record</targetReference>
            </connector>
            <label>Si es un Benefit Seleccionado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Participantes_Candidatos</name>
        <label>Existen Participantes Candidatos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Existen_Participantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_participantes_candidatos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Participantes_Candidatos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comprobar_Ocupaci_n</targetReference>
            </connector>
            <label>Si existen participantes candidatos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Alumno</name>
        <label>Tipo de Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Tipo_Alumno_No_Socio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Nombre_de_Cuenta_del_EnrollId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recuperar_Record_Type_Socio.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Tipo_Alumno_Socio</targetReference>
            </connector>
            <label>Socio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <expression>datetimevalue({!Recorrer_Benefit_Assignment_vinculados.EndDateTime})</expression>
    </formulas>
    <formulas>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <expression>datetimevalue({!Recorrer_Benefit_Assignment_vinculados.StartDateTime})</expression>
    </formulas>
    <interviewLabel>sf4.1 Vincular Participantes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf4.1 Vincular Participantes</label>
    <loops>
        <name>Encontrar_Seleccionada</name>
        <label>Encontrar Seleccionada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListBenefitAssigment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Es_un_Benefit_Seleccionado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_Benefit_Assignment_Seleccionados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Benefit_Assignment_Seleccionados</name>
        <label>Recorrer Benefit Assignment Seleccionados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>tablaParticpantes.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Encontrar_Seleccionada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Benefit_Assignment_Padre</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Benefit_Assignment_vinculados</name>
        <label>Recorrer Benefit Assignment vinculados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListBenefitAssignmentSalida</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_Benefit_Disbursement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Benefit_Disbursement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Benefit_Disbursement</name>
        <label>Recorrer Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Disbursement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_valores_Benefit_Assignment_a_Benefit_Disbursement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_Benefit_Assignment_vinculados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Partipantes_Candidatos</name>
        <label>Recorrer Partipantes Candidatos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Participantes_Candidatos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_Nombre_de_Cuenta_del_EnrollId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Seleccionar_Participantes_a_vincular</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Recuperar_Benefit</name>
        <label>Recuperar  Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cumple_condiciones_para_vincular_participantes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Benefit_Assignment_Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Disbursement</name>
        <label>Recuperar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Benefit_Disbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Benefit_Assignment_vinculados.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Ocupacion__c</queriedFields>
        <queriedFields>BenefitAssignmentId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Nombre_de_Cuenta_del_EnrollId</name>
        <label>Recuperar Nombre de Cuenta del EnrollId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_de_Alumno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Partipantes_Candidatos.EnrolleeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Participantes_Candidatos</name>
        <label>Recuperar Participantes Candidatos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Participantes_Candidatos</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit.BenefitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Benefit_Assignment_Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tripulante</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asistente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <queriedFields>EnrolleeId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Propuesto_Monitor__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Record_Type_Socio</name>
        <label>Recuperar Record Type Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conRecordTypeNameSocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Assignment_Padre</name>
        <label>Actualizar Benefit Assignment Padre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Benefit_Assignment_vinculados</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erroractulizarlainscripcionpadre</targetReference>
        </faultConnector>
        <inputReference>varListBenefitAssignmentSalida</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Disbursement</name>
        <label>Actualizar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Participantes_A_adidos_Correctamente</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erroractulizarlaasistencia</targetReference>
        </faultConnector>
        <inputReference>varListaBenefitDisbursement</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>erroractulizarlaasistencia</name>
        <label>erroractulizarlaasistencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_errorinscripcionpadre</name>
            <fieldText>&lt;p&gt;Se ha producido un error en la actualización de la asistencia. Consulte con el Administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>erroractulizarlainscripcionpadre</name>
        <label>erroractulizarlainscripcionpadre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorinscripcionpadre</name>
            <fieldText>&lt;p&gt;Se ha producido un error en la actualización de la inscripción padre. Consulte con el Administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccionar_Participantes_a_vincular</name>
        <label>Seleccionar Participantes a vincular</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recorrer_Benefit_Assignment_Seleccionados</targetReference>
        </connector>
        <fields>
            <name>tablaParticpantes</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BenefitAssignment</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Participantes a Vincular</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varListBenefitAssigment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2c1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Identificador de Inscripción&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Propuesto_Monitor__c&quot;,&quot;guid&quot;:&quot;column-e479&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Participante&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Propuesto Monitor&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Ocupacion__c&quot;,&quot;guid&quot;:&quot;column-83b1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Ocupación&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Ocupacion&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Tipo_Actividad__c&quot;,&quot;guid&quot;:&quot;column-0452&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tipo Actividad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Tipo Actividad&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StartDateTime&quot;,&quot;guid&quot;:&quot;column-50c5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fecha Inicio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Record_Type_Socio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Encontrar_Seleccionada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListBenefitAssigment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varListBenefitAssignmentSalida</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varOcupacionParticipante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordBenefitAssigment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
</Flow>
