force-app/main/default/flows/sf5_0_Comprobar_Cuota_Licencia_Activa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Cuota_Activa_Cierto_a_salida</name>
        <label>Asignar Cuota Activa Cierto a salida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputCuotaActiva</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Licencia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Licencia_Activa_salida_a_true</name>
        <label>Asignar Licencia Activa salida a true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputLicenciaActiva</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_Titulo_Vigente_Alumno_o_Monitor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Titulo_Activo_a_true</name>
        <label>Asignar Titulo Activo a true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputNivelPrevioSuperado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Titulo_Activo_a_true_Monitor</name>
        <label>Asignar Titulo Activo a true Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutputNivelPrevioSuperado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>conOcupacionAlumno</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitor</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionPatron</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patron</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionTripulante</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tripulante</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Cuota</name>
        <label>Comprobar Cuota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Comprobar_Licencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Comprobar Cuota</defaultConnectorLabel>
        <rules>
            <name>Si_comprobar_Cuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRecordBenefitType.Cuota_Obligatoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Cuota_Vigente</targetReference>
            </connector>
            <label>Si comprobar Cuota</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Cuota_Activa</name>
        <label>Comprobar Cuota Activa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Comprobar_Licencia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_Cuota_Activa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Cuota_Vigente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cuota_Activa_Cierto_a_salida</targetReference>
            </connector>
            <label>Si tiene Cuota Activa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Licencia</name>
        <label>Comprobar Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Comprobar_Titulo_Vigente_Alumno_o_Monitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No comprobar Licencia</defaultConnectorLabel>
        <rules>
            <name>Si_comprobar_Licencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRecordBenefitType.Licencia_Federativa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Licencia_Vigente</targetReference>
            </connector>
            <label>Si comprobar Licencia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Titulo_Vigente_Alumno_o_Monitor</name>
        <label>Comprobar Titulo Vigente Alumno o Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No comprobar Titulo Vigente</defaultConnectorLabel>
        <rules>
            <name>Si_comprobar_Titulo_Vigente_Alumno</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varInputRecordBenefitType.Titulo_obligatorio_Alumno_Tripulante__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionAlumno</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionTripulante</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Titulo_Vigente</targetReference>
            </connector>
            <label>Si comprobar Titulo Vigente Alumno</label>
        </rules>
        <rules>
            <name>Si_Comprobar_Titulo_Vigente_Monitor</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varInputRecordBenefitType.Titulo_obligatorio_Monitor_Patron__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionMonitor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionPatron</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Titulo_Vigente_Monitor</targetReference>
            </connector>
            <label>Si Comprobar Titulo Vigente Monitor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Titulo_Activo_para_el_Benefit_Type_de_Entrada</name>
        <label>Existe Titulo Activo para el Benefit Type de Entrada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe_Titulo_CINA_Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Titulo_Vigente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Titulo_Activo_a_true</targetReference>
            </connector>
            <label>Si existe Titulo CINA Activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Titulo_Activo_para_el_Benefit_Type_de_Entrada_Monitor</name>
        <label>Existe Titulo Activo para el Benefit Type de Entrada Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe_Titulo_CINA_Activo_Monitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Titulo_Vigente_Monitor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Titulo_Activo_a_true_Monitor</targetReference>
            </connector>
            <label>Si existe Titulo CINA Activo Monitor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Licencias_Activas_para_ese_account</name>
        <label>Existen Licencias Activas para ese account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Comprobar_Titulo_Vigente_Alumno_o_Monitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_licencias_activas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Licencia_Vigente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Licencia_Activa_salida_a_true</targetReference>
            </connector>
            <label>Si existen licencias activas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>sf5.0 Comprobar Cuota Licencia Activa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf5.0 Comprobar Cuota Licencia Activa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Recuperar_Cuota_Vigente</name>
        <label>Recuperar Cuota Vigente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Cuota_Activa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cuota</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Licencia_Vigente</name>
        <label>Recuperar Licencia Vigente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Licencias_Activas_para_ese_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Licencia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Titulo_Vigente</name>
        <label>Recuperar Titulo Vigente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Titulo_Activo_para_el_Benefit_Type_de_Entrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputRecordBenefitType.Titulo_obligatorio_Alumno_Tripulante__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Titulo_Vigente_Monitor</name>
        <label>Recuperar Titulo Vigente Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Titulo_Activo_para_el_Benefit_Type_de_Entrada_Monitor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputRecordBenefitType.Titulo_obligatorio_Monitor_Patron__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_Cuota</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputRecordBenefitType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varOutputCuotaActiva</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOutputLicenciaActiva</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOutputNivelPrevioSuperado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
