force-app/main/default/flows/sf_1_2_Nueva_Obligacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Caso_Creado_OK</name>
        <label>Caso Creado OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro del Caso creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>Crear_Caso_Asociado_Obligaci_n.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>showToast_Action_1</name>
        <label>showToast Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>warning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>varTipoAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Contrato_Salida_Cuota</name>
        <label>Asignar Contrato Salida Cuota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSalidaContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_1_Nueva_Cuota.varOutputContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Contrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Contrato_Salida_Licencia</name>
        <label>Asignar Contrato Salida Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSalidaContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sf1_2_2_Nueva_Licencias_Flow_1.varOutputContract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Contrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Contrato_Salida_Seguro</name>
        <label>Asignar Contrato Salida Seguro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSalidaContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sf1_2_3_Nuevo_Seguro.varContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Contrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Obligaci_n_Socio_Licencia_o_Cuota</name>
        <label>Asignar Obligación Socio Licencia o Cuota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varObligacionSeleccionada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obligacion2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obligacion_a_Crear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_obligacion_No_Socio_Licencia</name>
        <label>Asignar obligacion No Socio - Licencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varObligacionSeleccionada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requisito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obligacion_a_Crear</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cuota</name>
        <choiceText>Cuota</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cuota</stringValue>
        </value>
    </choices>
    <choices>
        <name>Licencia</name>
        <choiceText>Licencia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Licencia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seguro</name>
        <choiceText>Seguro</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>conRecordTypeNameSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Socio_No_Socio</name>
        <label>Comprobar Socio No Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Seleccion_Obligacion_No_Socio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conRecordTypeNameSocio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleccion_Obligacion</targetReference>
            </connector>
            <label>Es Socio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Producto_asociado_al_tipo_de_contrato</name>
        <label>Existe Producto asociado al tipo de contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Caso_Asociado_Obligaci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_Producto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Contrato.Contract_Type__r.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_3_Creacion_Oportunidad_y_Quota</targetReference>
            </connector>
            <label>Existe Producto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Obligacion_a_Crear</name>
        <label>Obligacion a Crear</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>showToast_Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solo_Cuota</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObligacionSeleccionada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cuota</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_1_Nueva_Cuota</targetReference>
            </connector>
            <label>Solo Cuota</label>
        </rules>
        <rules>
            <name>Solo_Licencia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varObligacionSeleccionada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Licencia</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sf1_2_2_Nueva_Licencias_Flow_1</targetReference>
            </connector>
            <label>Solo Licencia</label>
        </rules>
        <rules>
            <name>Solo_Seguro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObligacionSeleccionada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Seguro</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sf1_2_3_Nuevo_Seguro</targetReference>
            </connector>
            <label>Solo Seguro</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varEleccionObligacion</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>varSubjectCaso</name>
        <dataType>String</dataType>
        <expression>&quot;Alta nueva obligación : &quot;&amp;{!Recuperar_Contrato.Name}</expression>
    </formulas>
    <formulas>
        <name>varTipoAccount</name>
        <dataType>String</dataType>
        <expression>&quot;Obligación no permitida para &quot;&amp;{!Recuperar_Account.RecordType.Name}</expression>
    </formulas>
    <interviewLabel>sf 1.2 Nueva Obligacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf 1.2 Nueva Obligacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Caso_Asociado_Obligaci_n</name>
        <label>Crear Caso Asociado Obligación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Caso_Creado_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorcreacioncasoObligacion</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Recuperar_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Recuperar_Contrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubjectCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Socio_No_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Contrato</name>
        <label>Recuperar Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Producto_asociado_al_tipo_de_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalidaContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorcreacioncasoObligacion</name>
        <label>ErrorcreacioncasoObligacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorcreacioncasooblig</name>
            <fieldText>&lt;p&gt;Se ha producido un error en la creación del caso obligación. Consulte con el Adminstrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccion_Obligacion</name>
        <label>Seleccion Obligacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignar_Obligaci_n_Socio_Licencia_o_Cuota</targetReference>
        </connector>
        <fields>
            <name>selecionarObligacion</name>
            <fieldText>&lt;h2&gt;Seleccione que obligación desea crear : &lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Obligacion2</name>
            <choiceReferences>Cuota</choiceReferences>
            <choiceReferences>Licencia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Obligacion</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccion_Obligacion_No_Socio</name>
        <label>Seleccion Obligacion No Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asignar_obligacion_No_Socio_Licencia</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_selecionarObligacion</name>
            <fieldText>&lt;h2&gt;Seleccione que obligación desea crear : &lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requisito</name>
            <choiceReferences>Licencia</choiceReferences>
            <choiceReferences>Seguro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requisito</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>sf1_2_2_Nueva_Licencias_Flow_1</name>
        <label>sf1.2.2 Nueva Licencias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Contrato_Salida_Licencia</targetReference>
        </connector>
        <flowName>sf1_2_2_Nueva_Licencias</flowName>
        <inputAssignments>
            <name>varRecordAccount</name>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>sf1_2_3_Nuevo_Seguro</name>
        <label>sf1.2.3 Nuevo Seguro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Contrato_Salida_Seguro</targetReference>
        </connector>
        <flowName>sf1_2_3_Nuevo_Seguro</flowName>
        <inputAssignments>
            <name>varRecordAccount</name>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1_3_Creacion_Oportunidad_y_Quota</name>
        <label>1.3 Creacion Oportunidad y Quota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Caso_Asociado_Obligaci_n</targetReference>
        </connector>
        <flowName>sf1_3_Creacion_de_Oportunidad_y_Quota</flowName>
        <inputAssignments>
            <name>varInputContrato</name>
            <value>
                <elementReference>Recuperar_Contrato</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X2_1_Nueva_Cuota</name>
        <label>2.1 Nueva Cuota</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Contrato_Salida_Cuota</targetReference>
        </connector>
        <flowName>sf1_2_1_Nueva_Cuota</flowName>
        <inputAssignments>
            <name>varRecordAccount</name>
            <value>
                <elementReference>Recuperar_Account</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObligacionSeleccionada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalidaContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
