force-app/main/default/flows/tf1_9_Actualizar_Benefit_Assignment_related_Lista_Espera_Pre_Inscrito.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <customErrors>
        <name>No_existen_Plazas</name>
        <label>No existen Plazas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>No existen plazas libres para el calendario de la Actividad .</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Existen_Plazas_Disponibles</name>
        <label>Existen Plazas Disponibles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_existen_Plazas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Plazas</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (4 AND 5) OR( 6 AND (7 OR 8 OR 9 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Calendar.Plazas_Disponibles__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alumno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tripulante</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Calendar.MaximumParticipantCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asistente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Calendar.Plazas_Disponibles_Monitores__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>030</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patron</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>020</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ocupacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>010</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Benefit_Scheduled_Asigment</targetReference>
            </connector>
            <label>Si Existen Plazas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>tf1.9 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf1.9 Actualizar Benefit Assignment related Lista Espera Pre-Inscrito -</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Benefit_Calendar</name>
        <label>Recuperar Benefit Calendar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Plazas_Disponibles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Scheduled_Assignment.BenefitSchedule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Scheduled_Assignment</name>
        <label>Recuperar Benefit Scheduled Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Calendar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitScheduleAssignment</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Disbursement</name>
        <label>Actualizar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DisbursementStatus</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.BenefitDisbursementBenefitAssignments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Scheduled_Asigment</name>
        <label>Actualizar Benefit Scheduled Asigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Benefit_Disbursement</targetReference>
        </connector>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.BenefitScheduleAssignmentBenefitAssignment</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled_Assignment</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND (3 OR 4 OR 5 OR 6))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>030</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patron</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>010</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>020</stringValue>
            </value>
        </filters>
        <object>BenefitAssignment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNombreCalendario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
