force-app/main/default/flows/tf1_3_Actualizar_Completado_Benefit_Assignment_Patron.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Enviar_Email_Resultado_Evaluaci_n</name>
        <label>Enviar Email Resultado Negativo Devolucion Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Actualizar_Benefit_Assignment_Negativo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fernando.toca@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varNombreCurso</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Estimado/a: {!Recuperar_Account.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Le comunicamos que la fianza que despósito en la cesión  &lt;strong&gt;{!varNombreCurso} &lt;/strong&gt;terminado el pasado {!Recuperar_Benefit_Assigment.Benefit.EndDateTime} en la {!Recuperar_Benefit_Assigment.Benefit.Location__r.Name} será utilizada en la reporación del barco {!$Record.Asset__r.Name} dañado&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sin otro particular, recibe un cordial saludo&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Email_Resultado_Evaluaci_n</name>
        <label>Enviar Email Resultado Evaluación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Actualizar_Benefit_Assigment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>fernando.toca@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varNombreCurso</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Estimado/a: {!Recuperar_Account.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Le comunicamos que la fianza que despósito en la cesión  &lt;strong&gt;{!varNombreCurso} &lt;/strong&gt;terminado el pasado {!Recuperar_Benefit_Assigment.Benefit.EndDateTime} en la {!Recuperar_Benefit_Assigment.Benefit.Location__r.Name} ser procesada en los siguientes dias&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;Sin otro particular, recibe un cordial saludo&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Estado_Evaluacion_Apto</name>
        <label>Estado Evaluacion Final Apto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varResultadoFinalEvaluacionApto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Evaluaciones_Completadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Estado_Evaluacion_Final_No_Apto</name>
        <label>Estado Evaluacion Final No Apto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varResultadoFinalEvaluacionApto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Evaluaciones_Completadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementar_Contador_Dias_Asistencia</name>
        <label>Incrementar Contador Dias Asistencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDiasAsistencia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>convalorunonumerico</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resultado_Evaluacion_Asistencia</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conComentariosPago</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pago ficticio para reflejar el abono a un socio por su participación como voluntario en una actividad ya sea como monitor, colaborador, etc</stringValue>
        </value>
    </constants>
    <constants>
        <name>conContractTermMaximo</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conErrorAssitencias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Comprueba que las asistencias estas Completadas, el estado de las Evaluaciones Completas y existen resultados Evaluacón</stringValue>
        </value>
    </constants>
    <constants>
        <name>conErrorEvaluaciones</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existen resultados de la evaluación del Alumno NO APTO</stringValue>
        </value>
    </constants>
    <constants>
        <name>conErrorEvaluacionesNoCompletadas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existen evaluaciones pendiente para esta Actividad.</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFamiliaDevolucionFianza</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Devolución Fianza</stringValue>
        </value>
    </constants>
    <constants>
        <name>conProductSKUCompensacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-COMPENSACION-DIA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorCero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>convalorunonumerico</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <customErrors>
        <name>Mensaje_Error_Asistencias_No_Completadas</name>
        <label>Mensaje Error Asistencias No Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!conErrorAssitencias}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Existen_Asistencias_Completadas</name>
        <label>Existen Asistencias Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mensaje_Error_Asistencias_No_Completadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_Asistencias_Completadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Disbursement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_Evaluacion_Apto</targetReference>
            </connector>
            <label>Si existen Asistencias Completadas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resultado_Evaluacion_Asistencia</name>
        <label>Resultado Evaluacion Asistencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Evaluaciones_Completadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Apto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Evaluaciones_Completadas.Resultado_Evaluacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Apto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_Evaluacion_Final_No_Apto</targetReference>
            </connector>
            <label>No Apto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resultado_Final_Evaluacion</name>
        <label>Resultado Final Evaluacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_evaluaciones_Pendientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResultadoFinalEvaluacionApto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Quote_Line_Item_Devolucion</targetReference>
            </connector>
            <label>Apto</label>
        </rules>
        <rules>
            <name>No_Apto_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResultadoFinalEvaluacionApto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enviar_Email_Resultado_Evaluaci_n</targetReference>
            </connector>
            <label>No Apto final</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varListPricePositivo</name>
        <dataType>Currency</dataType>
        <expression>{!Recuperar_Price_Book_Entry.UnitPrice}*(-1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varNombreCurso</name>
        <dataType>String</dataType>
        <expression>&quot;Resultado del curso &quot;&amp;{!$Record.Benefit.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreTitulo</name>
        <dataType>String</dataType>
        <expression>{!$Record.ProgramEnrollment.Account.Name}&amp;&quot; &quot;&amp;{!Recuperar_Benefit_Assigment.Benefit.BenefitType.Name}&amp;&quot; &quot;&amp;text(year({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>varSuperadoCursoSiNo</name>
        <dataType>String</dataType>
        <expression>if({!varResultadoFinalEvaluacionApto}==true, &apos;SI&apos;, &apos;NO&apos;)</expression>
    </formulas>
    <interviewLabel>tf1.3 Actualizar Completado Benefit Assignment Patron {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf1.3 Actualizar Completado Benefit Assignment Patron</label>
    <loops>
        <name>Recorrer_Evaluaciones_Completadas</name>
        <label>Recorrer Evaluaciones Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Disbursement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Incrementar_Contador_Dias_Asistencia</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Resultado_Final_Evaluacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Quote_Line_Item_Devolucion</name>
        <label>Crear Quote Line Item Devolucion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_una_Devoluci_n_de_la_Fianza</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Recuperar_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Recuperar_Producto_Devoluci_n_Benefit.Product3Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>convalorunonumerico</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Recuperar_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Recuperar_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_una_Devoluci_n_de_la_Fianza</name>
        <label>Crear una Devolución de la Fianza</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_Email_Resultado_Evaluaci_n</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ProgramEnrollment.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>varListPricePositivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>conComentariosPago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Origen__c</field>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Disbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProgramEnrollment.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assigment</name>
        <label>Recuperar Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Producto_Devoluci_n_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Disbursement</name>
        <label>Recuperar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Asistencias_Completadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Oportunidad</name>
        <label>Recuperar Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Price_Book_Entry</name>
        <label>Recuperar Price Book Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Producto_Devoluci_n_Benefit.Product3Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_PriceBook_Standard.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_PriceBook_Standard</name>
        <label>Recuperar PriceBook Standard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Producto_Devoluci_n_Benefit</name>
        <label>Recuperar Producto Devolución Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit_Assigment.BenefitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Familia_Producto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conFamiliaDevolucionFianza</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Quote</name>
        <label>Recuperar Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Oportunidad.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Assigment</name>
        <label>Actualizar Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Dias_Asistencia_al_Curso__c</field>
            <value>
                <elementReference>varDiasAsistencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Devolucion_Fianza__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Fianza__c</field>
            <value>
                <stringValue>CS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Assignment_Negativo</name>
        <label>Actualizar Benefit Assignment Negativo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Dias_Asistencia_al_Curso__c</field>
            <value>
                <elementReference>varDiasAsistencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_PriceBook_Standard</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patron</stringValue>
            </value>
        </filters>
        <filters>
            <field>Categoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cesiones</stringValue>
            </value>
        </filters>
        <object>BenefitAssignment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Encontrar_Evaluacion_Pendiente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>currentItem_Resultado_de_la_Evaluacion_Apto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varDiasAsistencia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailFernando</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fernando.toca@gmail.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varResultadoFinalEvaluacionApto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
