force-app/main/default/flows/tf1_2_Actualizar_a_Completado_Benefit_Assigment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>A_adir_uno_a_cantidad</name>
        <label>Añadir uno a cantidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCantidadFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_Dias_Completados.DisbursedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Dias_Completados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Acumular_Recompensa_en_Bono_Account</name>
        <label>Acumular Recompensa en Bono Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recuperar_Enrolle_en_Benefit_Assigment.Bono_Socio__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vartotalQuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Pago_Ficticio_Abono_Voluntario</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conComentarioPagoGastos</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pago real para reflejar los gastos a abonar a socio por su participación como voluntario en una actividad ya sea como monitor, colaborador, etc</stringValue>
        </value>
    </constants>
    <constants>
        <name>conComentariosPagoVoluntario</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pago ficticio para reflejar el abono a un socio por su participación como voluntario en una actividad ya sea como monitor, colaborador, etc</stringValue>
        </value>
    </constants>
    <constants>
        <name>conErrorNoexistenAsistenciasCompletadas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No existen Asistencias Completadas</stringValue>
        </value>
    </constants>
    <constants>
        <name>conLocationAtazar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Base Atazar</stringValue>
        </value>
    </constants>
    <constants>
        <name>conProductSKUCompensacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-COMPENSACION-DIA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorCero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>convalorunonumerico</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <customErrors>
        <name>Error_No_Existend_asistencias_Completadas</name>
        <label>Error No Existend asistencias Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!conErrorNoexistenAsistenciasCompletadas}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Comprobar_Aplicaci_n_Dia_o_Aplicacion_Curso</name>
        <label>Comprobar Aplicación Dia o Aplicacion Curso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aplicaci_n_Dia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Quote_Line_Items.Product2.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bolsa Viaje Curso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Quantity_del_Quote_Line_Item</targetReference>
            </connector>
            <label>Aplicación Dia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exsiten_Asistencias_Completadas</name>
        <label>Exsiten Asistencias Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_No_Existend_asistencias_Completadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Scheduled_de_BScheduled_Assigment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Dias_Completados</targetReference>
            </connector>
            <label>Si existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Producto_de_Compensaci_n</name>
        <label>Producto de Compensación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Pago_Real_Gastos_Voluntario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_producto_de_compensaci_n</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Quote_Line_Items.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compensación Normal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recorrer_Quote_Line_Items.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compensación Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acumular_Recompensa_en_Bono_Account</targetReference>
            </connector>
            <label>Si es producto de compensación</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varTipoOrigen</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS(
        LOWER( TEXT({!$Record.Benefit.BenefitType.Category}) ), 
        &quot;Curso&quot;
    ), 
    &quot;Curso&quot;, 
    &quot;Evento&quot;
)</expression>
    </formulas>
    <formulas>
        <name>vartotalQuoteLineItem</name>
        <dataType>Currency</dataType>
        <expression>{!varCantidadFinal}*{!Recorrer_Quote_Line_Items.ListPrice}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>tf1.2 Actualizar a Completado Benefit Assigment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf1.2 Actualizar a Completado Benefit Assigment Monitor JB</label>
    <loops>
        <name>Recorrer_Dias_Completados</name>
        <label>Recorrer Dias Completados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Scheduled_de_BScheduled_Assigment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>A_adir_uno_a_cantidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recuperar_Oportunidad_Asociada_BA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Quote_Line_Items</name>
        <label>Recorrer Quote Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Quote_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comprobar_Aplicaci_n_Dia_o_Aplicacion_Curso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Benefit_Assignment_Dias</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Pago_Ficticio_Abono_Voluntario</name>
        <label>Crear Pago Ficticio Abono Voluntario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.EnrolleeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>vartotalQuoteLineItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>conComentariosPagoVoluntario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Pago_Real_Gastos_Voluntario</name>
        <label>Crear Pago Real Gastos Voluntario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.EnrolleeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>vartotalQuoteLineItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>conComentarioPagoGastos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Origen__c</field>
            <value>
                <stringValue>CU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Benefit_Scheduled_de_BScheduled_Assigment</name>
        <label>Recuperar Benefit Scheduled de BScheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exsiten_Asistencias_Completadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Enrolle_en_Benefit_Assigment</name>
        <label>Recuperar Enrolle en Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Scheduled_de_BScheduled_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EnrolleeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Oportunidad_Asociada_BA</name>
        <label>Recuperar Oportunidad Asociada BA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Quote_Sync_con_la_Oporutnidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Quote_Line_Item</name>
        <label>Recuperar Quote Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Quote_Sync_con_la_Oporutnidad.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Quote_Sync_con_la_Oporutnidad</name>
        <label>Recuperar Quote Sync con la Oporutnidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Oportunidad_Asociada_BA.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Assignment_Dias</name>
        <label>Actualizar Benefit Assignment Dias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Quota_a_Cerrada</targetReference>
        </connector>
        <inputAssignments>
            <field>Dias_Asistencia_al_Curso__c</field>
            <value>
                <elementReference>varCantidadFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Cobro__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Bono_del_Socio</name>
        <label>Actualizar Bono del Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Recuperar_Enrolle_en_Benefit_Assigment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Opportunidad_a_cerrada</name>
        <label>Actualizar Opportunidad a cerrada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Bono_del_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Oportunidad_Asociada_BA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Quantity_del_Quote_Line_Item</name>
        <label>Actualizar Quantity del Quote Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Producto_de_Compensaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_Quote_Line_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>varCantidadFinal</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Quota_a_Cerrada</name>
        <label>Actualizar Quota a Aceptada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Opportunidad_a_cerrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Quote_Sync_con_la_Oporutnidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Enrolle_en_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR (5 AND 6))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>030</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>090</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>010</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patron</stringValue>
            </value>
        </filters>
        <filters>
            <field>Categoria__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Navegadas</stringValue>
            </value>
        </filters>
        <object>BenefitAssignment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varBolsaViajeProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCantidadFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCompensacionProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
