force-app/main/default/flows/tf1_7_Actualizar_Completado_Benefit_Assignment_Asistente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Incrementar_Contador_Dias_Asistencia</name>
        <label>Incrementar Contador Dias Asistencia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDiasAsistencia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>convalorunonumerico</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Evaluaciones_Completadas</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conComentariosPago</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pago ficticio para reflejar el abono a un socio por su participación como voluntario en una actividad ya sea como monitor, colaborador, etc</stringValue>
        </value>
    </constants>
    <constants>
        <name>conContractTermMaximo</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conErrorAssitencias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Comprueba que las asistencias estas Completadas, el estado de las Evaluaciones Completas y existen resultados Evaluacón</stringValue>
        </value>
    </constants>
    <constants>
        <name>conErrorEvaluaciones</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existen resultados de la evaluación del Alumno NO APTO</stringValue>
        </value>
    </constants>
    <constants>
        <name>conErrorEvaluacionesNoCompletadas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existen evaluaciones pendiente para esta Actividad.</stringValue>
        </value>
    </constants>
    <constants>
        <name>conProductSKUCompensacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-COMPENSACION-DIA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorCero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>convalorunonumerico</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <customErrors>
        <name>Mensaje_Error_Asistencias_No_Completadas</name>
        <label>Mensaje Error Asistencias No Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!conErrorAssitencias}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Existen_Asistencias_Completadas</name>
        <label>Existen Asistencias Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Mensaje_Error_Asistencias_No_Completadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_Asistencias_Completadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit_Disbursement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Evaluaciones_Completadas</targetReference>
            </connector>
            <label>Si existen Asistencias Completadas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCategoria</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!Recuperar_Benefit_Assigment.Categoria__c},&quot;Cesiones&quot;),&quot;CS&quot;,
if(ISPICKVAL({!Recuperar_Benefit_Assigment.Categoria__c},&quot;Regatas&quot;),&quot;RG&quot;,
&quot;BA&quot;))</expression>
    </formulas>
    <formulas>
        <name>varNombreCurso</name>
        <dataType>String</dataType>
        <expression>&quot;Resultado del curso &quot;&amp;{!$Record.Benefit.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreTitulo</name>
        <dataType>String</dataType>
        <expression>{!$Record.ProgramEnrollment.Account.Name}&amp;&quot; &quot;&amp;{!Recuperar_Benefit_Assigment.Benefit.BenefitType.Name}&amp;&quot; &quot;&amp;text(year({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>varSuperadoCursoSiNo</name>
        <dataType>String</dataType>
        <expression>if({!varResultadoFinalEvaluacionApto}==true, &apos;SI&apos;, &apos;NO&apos;)</expression>
    </formulas>
    <interviewLabel>tf1.7 Actualizar Completado Benefit Assignment - Asistente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf1.7 Actualizar Completado Benefit Assignment - Asistente</label>
    <loops>
        <name>Recorrer_Evaluaciones_Completadas</name>
        <label>Recorrer Evaluaciones Completadas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Benefit_Disbursement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Incrementar_Contador_Dias_Asistencia</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Benefit_Assigment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit_Disbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProgramEnrollment.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Assigment</name>
        <label>Recuperar Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit_Disbursement</name>
        <label>Recuperar Benefit Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Asistencias_Completadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitDisbursement</object>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Assigment</name>
        <label>Actualizar Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Dias_Asistencia_al_Curso__c</field>
            <value>
                <elementReference>varDiasAsistencia</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asistente</stringValue>
            </value>
        </filters>
        <object>BenefitAssignment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Encontrar_Evaluacion_Pendiente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>currentItem_Resultado_de_la_Evaluacion_Apto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varDiasAsistencia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailFernando</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>fernando.toca@gmail.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varResultadoFinalEvaluacionApto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
