force-app/main/default/flows/tf1_1_Actualizar_Asistencia_Monitor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <constants>
        <name>conProductSKUCompensacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-COMPENSACION-DIA</stringValue>
        </value>
    </constants>
    <constants>
        <name>convalorunonumerico</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>tf1.1 Actualizar Asistencia Monitor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf1.1 Actualizar Asistencia Monitor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Benefit_Assigment</name>
        <label>Recuperar Benefit Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Benefit_Schedule_Assignemet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BenefitAssignmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Benefit_Schedule_Assignemet</name>
        <label>Actualizar Benefit Schedule Assignemet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitAssignmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BenefitAssignmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>BenefitScheduleAssignment</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Benefit_Assigment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>DisbursementStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>030</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>090</stringValue>
            </value>
        </filters>
        <object>BenefitDisbursement</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCantidadFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
