force-app/main/default/flows/tf3_1_Benefit_Session_Crear_Evento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Record_Sesion_Actividad_a_Lista_Sesion_Actividad</name>
        <label>Asignar Record Sesion Actividad a Lista Sesion Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaSessionAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordSesionActivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Recursos_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_Session_Activo</name>
        <label>Asignar valores Session Activo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Benefit_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Recursos_Actividad.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Capacidad_Maxima__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Recursos_Actividad.Tripulantes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Capacidad_Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_Sesion_Actividad_a_Lista_Sesion_Actividad</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>No_existen_Recursos_asociados_el_Calendario</name>
        <label>No existen Recursos asociados el Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>No existen Recursos (Barcos) asociados a este Calendario {!Recuperara_Calendario.Name}. Consulta el Adminstrador</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Existen_Recursos_Calendario_actividad</name>
        <label>Existen Recursos Calendario actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_existen_Recursos_asociados_el_Calendario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Recursos_Calendario_Actividad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Recursos_Actividad</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varFechaSessionDate</name>
        <dataType>Date</dataType>
        <expression>datevalue({!$Record.StartDateTime})</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendario</name>
        <dataType>String</dataType>
        <expression>{!$Record.BenefitSchedule.Benefit.Location__r.Name}</expression>
    </formulas>
    <interviewLabel>tf3.1 Benefit Session Crear Evento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf3.1 Benefit Session Crear Evento</label>
    <loops>
        <name>Recorrer_Recursos_Actividad</name>
        <label>Recorrer Recursos Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Recursos_Calendario_Actividad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_valores_Session_Activo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Session_Activo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_evento_en_calendario</name>
        <label>Crear evento en calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>$Record.BenefitSchedule.Benefit.Program.Location__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Recuperara_Calendario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Session_Activo</name>
        <label>Crear Session Activo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varListaSessionAsset</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Recursos_Calendario_Actividad</name>
        <label>Recuperar Recursos Calendario Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Recursos_Calendario_actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Programaci_n_de_Actividad_CINA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BenefitScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit_Asset__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperara_Calendario</name>
        <label>Recuperara Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_evento_en_calendario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreCalendario</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperara_Calendario</targetReference>
        </connector>
        <object>BenefitSession</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Delay_5_minutes</name>
            <connector>
                <targetReference>Recuperar_Recursos_Calendario_Actividad</targetReference>
            </connector>
            <label>Delay 5 minutes</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varListaSessionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
    <variables>
        <name>varRecordSesionActivo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
</Flow>
