force-app/main/default/flows/tf5_0_Actualizar_Benefit_Scheduled_Participant_Curso_Nivel_N.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Revisar_Tipo_de_Actividad</name>
        <label>Revisar Tipo de Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resto Actividades</defaultConnectorLabel>
        <rules>
            <name>Curso_Nivel_N_Alumnos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Vela Ligera</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Crucero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regatas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Navegadas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesiones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bautismos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Seco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Benefit_Scheduled_Participant_Alumnos</targetReference>
            </connector>
            <label>Curso Nivel N Alumnos</label>
        </rules>
        <rules>
            <name>Curso_Nivel_Cero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curso Nivel Cero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Benefit_Scheduled_Participant_Monitores</targetReference>
            </connector>
            <label>Curso Nivel Cero</label>
        </rules>
        <rules>
            <name>Evento_Voluntariado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eventos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit.BenefitType.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voluntariados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Benefit_Scheduled_Participant_Eventos</targetReference>
            </connector>
            <label>Evento Voluntariado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varTotalMonitores</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Benefit.Maximo_Monitores_Crucero__c}+{!$Record.Benefit.Maximo_Montiores_Ligera__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>tf5.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf5.0 Actualizar Benefit Scheduled Participant - Curso Nivel N</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Benefit_Scheduled_Participant_Alumnos</name>
        <label>Actualizar Benefit Scheduled Participant Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Maximo_Monitores__c</field>
            <value>
                <elementReference>varTotalMonitores</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaximumParticipantCount</field>
            <value>
                <elementReference>$Record.Benefit.Plazas_Maximo_Alumo__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Scheduled_Participant_Eventos</name>
        <label>Actualizar Benefit Scheduled Participant Eventos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>MaximumParticipantCount</field>
            <value>
                <elementReference>$Record.Benefit.Maximo_Personas_Curso__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Benefit_Scheduled_Participant_Monitores</name>
        <label>Actualizar Benefit Scheduled Participant Monitores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Maximo_Monitores__c</field>
            <value>
                <elementReference>varTotalMonitores</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Revisar_Tipo_de_Actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BenefitSchedule</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
