force-app/main/default/flows/tf7_0_Session_Asset_Created_after_Calendar_resource_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Asignar_Record_Evento_a_Lista_Evento</name>
        <label>Asignar Record Evento a Lista Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaEvento</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordEvento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Sesiones_Calendario_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Record_Sesion_Actividad_a_Lista_Sesion_Actividad</name>
        <label>Asignar Record Sesion Actividad a Lista Sesion Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaSessionAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordSesionActivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_Evento_a_Lista_Evento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_Evento</name>
        <label>Asignar valores Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordEvento.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Calendario_Actividad.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEvento.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Calendario_Actividad.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEvento.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperara_Calendario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEvento.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Calendario_Actividad.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordEvento.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Calendario_Actividad.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_Sesion_Actividad_a_Lista_Sesion_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_valores_Session_Activo</name>
        <label>Asignar valores Session Activo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Benefit_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Calendario_Actividad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Capacidad_Maxima__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.Tripulantes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Capacidad_Actual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCapacidadvariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordSesionActivo.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varstatusvariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_valores_Evento</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>No_existen_Sesiones_asociados_el_Calendario</name>
        <label>No existen Sesiones asociados el Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>No existen Sesiones  asociados a este Calendario: {!$Record.Programaci_n_de_Actividad_CINA__c} Consulta con  el Administrador.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Existen_Sesiones_Calendario_actividad</name>
        <label>Existen Sesiones Calendario actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_existen_Sesiones_asociados_el_Calendario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existen</defaultConnectorLabel>
        <rules>
            <name>Si_Existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Sesiones_Calendario_Actividad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Sesiones_Calendario_Actividad</targetReference>
            </connector>
            <label>Si Existen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCapacidadvariable</name>
        <dataType>Number</dataType>
        <expression>if(ISPICKVAL({!$Record.Benefit__r.BenefitType.Category},&apos;Cesiones&apos;),1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varNombreCalendario</name>
        <dataType>String</dataType>
        <expression>{!$Record.Benefit__r.Location__r.Name}</expression>
    </formulas>
    <formulas>
        <name>varNuevoNombreActivoAssset</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;&quot; &quot;&amp;{!$Record.Asset__r.Name}</expression>
    </formulas>
    <formulas>
        <name>varstatusvariable</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.Benefit__r.BenefitType.Category},&apos;Cesiones&apos;),&apos;Por Completar&apos;,&apos;Reservado&apos;)</expression>
    </formulas>
    <interviewLabel>tf7.0 Session Asset Created after Calendar resource creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tf7.0 Session Asset Created after Calendar resource creation</label>
    <loops>
        <name>Recorrer_Sesiones_Calendario_Actividad</name>
        <label>Recorrer Sesiones Calendario Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Calendario_Actividad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_valores_Session_Activo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Session_Activo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_evento_en_calendario</name>
        <label>Crear evento en calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Nombre_Session_Asset</targetReference>
        </connector>
        <inputReference>varListaEvento</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Session_Activo</name>
        <label>Crear Session Activo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_evento_en_calendario</targetReference>
        </connector>
        <inputReference>varListaSessionAsset</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Sesiones_Calendario_Actividad</name>
        <label>Recuperar Sesiones Calendario Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperara_Calendario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programaci_n_de_Actividad_CINA__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperara_Calendario</name>
        <label>Recuperara Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Sesiones_Calendario_actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreCalendario</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Nombre_Session_Asset</name>
        <label>Actualizar Nombre Session Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNuevoNombreActivoAssset</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Sesiones_Calendario_Actividad</targetReference>
        </connector>
        <object>Benefit_Asset__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varListaEvento</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varListaSessionAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
    <variables>
        <name>varRecordEvento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varRecordSesionActivo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Asset__c</objectType>
    </variables>
</Flow>
