force-app/main/default/flows/X1_3_Creacion_Accounts_Autolauched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Actualizar_Estado_Control_Migracion</name>
        <label>Actualizar Estado Control Migracion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Actualizar_Estado_Temporal_Alumno</name>
        <label>Actualizar Estado Temporal Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Alumnos.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Alumnos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Account_Id</name>
        <label>Asignar Account Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Lista_Account.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Filtrar_Lista_Alumnos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Lista_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Alumno</name>
        <label>Asignar Datos Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombrelowercase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApellidoslowercase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Ano_Alta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_ANOALTA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Documento_Identidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_NIF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Tipo_Documento_Identidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NIF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Documento_Valido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_NIF_OK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Bono_Socio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_BONOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Fecha_Inicio_Bono__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_FECBON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_SEXO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Old_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_STATUS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_CODPOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_FECNAC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Numero_Socio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumeroSocioCompuesto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDireccionConcatenada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Alumnos.AL_PAIS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Record_Account_Lista</name>
        <label>Asignar Record Account Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Estado_Temporal_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Telefonos_Alumno</name>
        <label>Asignar Telefonos Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recuperar_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Telefonos_Alumno</name>
        <label>Asignar Telefono Fijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_No_Preferido_Account_Other_Email</name>
        <label>Correo No Preferido Account Other Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.Other_Email__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recuperar_Correos.EM_EMILIO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Preferido_Account_Email</name>
        <label>Correo Preferido Account Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Emails.EM_EMILIO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Emails</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filtrar_Lista_Alumnos</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtrar Lista Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filtrar_Lista_Alumnos</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varListaAccount</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filtrar_Lista_Alumnos.Numero_Socio__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varNumeroSocio</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Asignar_Account_Id</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordenar_Email</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Correos</collectionReference>
        <connector>
            <targetReference>Recorrer_Emails</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>EM_EMILIO__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Ordenar_Telefonos</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar Telefonos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Telefonos_Alumno</collectionReference>
        <connector>
            <targetReference>Recorrer_Telefonos</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>TL_NUMEROS__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Recuperar_Correos</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Recuperar Correos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Recuperar_Correos</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Emails</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Recuperar_Correos.EM_ALUMNO__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Recorrer_Alumnos.AL_ALUMNO__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Ordenar_Email</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Recuperar_Telefonos_Alumno</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Recuperar Telefonos Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Recuperar_Telefonos_Alumno</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Telefonos</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Recuperar_Telefonos_Alumno.TL_ALUMNO__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Recorrer_Alumnos.AL_ALUMNO__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Ordenar_Telefonos</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>conRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012J9000000sgeaIAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoTelefonoMovil</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MOV</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Preferencias_Email</name>
        <label>Preferencias Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Correo_No_Preferido_Account_Other_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correo_Preferido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Emails.EM_PREFER__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_Preferido_Account_Email</targetReference>
            </connector>
            <label>Correo Preferido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefono_Movil_o_Fijo</name>
        <label>Telefono Movil o Fijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telefono_Fijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Telefonos.TL_TIPO__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asignar_Telefonos_Alumno</targetReference>
            </connector>
            <label>Telefono Fijo</label>
        </rules>
        <rules>
            <name>Telefono_Movil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Telefonos.TL_TIPO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conTipoTelefonoMovil</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Telefonos_Alumno</targetReference>
            </connector>
            <label>Telefono Movil</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varApellidoslowercase</name>
        <dataType>String</dataType>
        <expression>INITCAP({!Recorrer_Alumnos.SF_APELLIDOS__c})</expression>
    </formulas>
    <formulas>
        <name>varBufferControlMigracion</name>
        <dataType>Number</dataType>
        <expression>{!varInputControlMigracion.Buffer__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varDireccionConcatenada</name>
        <dataType>String</dataType>
        <expression>{!Recorrer_Alumnos.AL_DIR1__c}&amp;&quot; &quot;&amp;{!Recorrer_Alumnos.AL_DIR2__c}</expression>
    </formulas>
    <formulas>
        <name>varNombrelowercase</name>
        <dataType>String</dataType>
        <expression>INITCAP({!Recorrer_Alumnos.SF_NOMBRE__c})</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocio</name>
        <dataType>String</dataType>
        <expression>&quot;NS-0&quot;&amp;{!Recorrer_Lista_Account.AL_ALUMNO__c}</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocioCompuesto</name>
        <dataType>String</dataType>
        <expression>&quot;NS-0&quot;&amp;{!Recorrer_Alumnos.AL_ALUMNO__c}</expression>
    </formulas>
    <interviewLabel>1.3 Creacion Accounts Autolauched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1.3 Creacion Accounts Autolauched Flow</label>
    <loops>
        <name>Recorrer_Alumnos</name>
        <label>Recorrer Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Alumnos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Alumno</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Emails</name>
        <label>Recorrer Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Correos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Preferencias_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_Record_Account_Lista</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Lista_Account</name>
        <label>Recorrer Lista Temporal Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Alumnos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filtrar_Lista_Alumnos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Lista_Temporal_Alumnos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Telefonos</name>
        <label>Recorrer Telefonos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Telefonos_Alumno</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Telefono_Movil_o_Fijo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recuperar_Correos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Account</name>
        <label>Crear Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recorrer_Lista_Account</targetReference>
        </connector>
        <inputReference>varListaAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Alumnos</name>
        <label>Recuperar Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Telefonos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Alumnos__c</object>
        <sortField>AL_ALUMNO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Emails</name>
        <label>Recuperar Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Alumnos</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Emails__c</object>
        <sortField>EM_ALUMNO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Telefonos</name>
        <label>Recuperar Telefonos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Emails</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Telefonos__c</object>
        <sortField>TL_ALUMNO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Lista_Temporal_Alumnos</name>
        <label>Actualizar Lista Temporal Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Control_Migracion</targetReference>
        </connector>
        <inputReference>Recuperar_Alumnos</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Alumnos</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Filtrar_Lista_Alumnos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Ordenar_Emails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>temporal_Emails__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Recuperar_Correos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>temporal_Emails__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Recuperar_Telefonos_Alumno</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>temporal_Telefonos__c</objectType>
    </variables>
    <variables>
        <name>varInputControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varListaAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varRecordAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
