force-app/main/default/flows/X1_4_Nueva_Actividad_Cesiones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Registros_Caso_Patr_n_OK</name>
        <label>Registros Caso Patrón  OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>X1_3_Creacion_de_Opportunidad_y_Quota_Cesion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro del Caso creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>Crear_Caso_Patr_n.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Registros_Caso_Tripulante_OK</name>
        <label>Registros Caso Tripulante  OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro del Caso creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>Crear_Caso_Tripulante.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Registros_cesion_tripulante_OK</name>
        <label>Registros cesion  tripulante OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Crear_Caso_Tripulante</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro de la Cesión creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Registros_cesion_y_oportunidad_OK</name>
        <label>Registros cesion  OK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Crear_Caso_Patr_n</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Registro de la Cesión creado correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <constants>
        <name>conBenefitTypeOtros</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </constants>
    <constants>
        <name>conCreacion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Creacion Oportunidad</stringValue>
        </value>
    </constants>
    <constants>
        <name>conEnListadeEspera</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En lista de espera</stringValue>
        </value>
    </constants>
    <constants>
        <name>conNombreAccountCINA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CINA - Centro Internacional de Navegación de la Isla de Arousa</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionAlumno</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alumno</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionJefedeBase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Jefe de Base</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionMonitor</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitor</stringValue>
        </value>
    </constants>
    <constants>
        <name>conOcupacionTripulante</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tripulante</stringValue>
        </value>
    </constants>
    <constants>
        <name>conProductCodeCesion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CESION</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSKUBonoCanje</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BONO-SOCIO-CANJE</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSocio</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Socio</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <name>conStatusPreInscrito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrolled</stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoActividadCesion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cesiones</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorCero</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Existen_Fechas_Libres</name>
        <label>Comprobar Existen Fechas Libres</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>sf1_1_Creacion_Cesiones_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Existen_Fechas_Libres</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Sesiones_asociadas_al_barco</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_hay_Disponibilidad_del_Barco</targetReference>
            </connector>
            <label>No Existen Fechas Libres</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Ocupacion</name>
        <label>Comprobar Ocupacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Cesiones_Activas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es Tripulante</defaultConnectorLabel>
        <rules>
            <name>No_es_Tripulante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputOcupacion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conOcupacionTripulante</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Barcos_Asset</targetReference>
            </connector>
            <label>No es Tripulante</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_posible_Canjear_Bono_Socio</name>
        <label>Es posible Canjear Bono Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_es_posible_canjear_el_bono</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_posible_canjear_Bono_Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputAccount.Bono_Socio__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1_3_Creacion_de_Opportunidad_y_Quota_Cesion.varOutputRecordPriceBookEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nueva_Actividad_CanjeBono</targetReference>
            </connector>
            <label>Si es posible canjear Bono Socio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Cesiones_Activas</name>
        <label>Existen Cesiones Activas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_existen_sesiones_activas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen_cesiones_activas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Cesiones_Activas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selecciones_Cesion_Activa</targetReference>
            </connector>
            <label>Si existen cesiones activas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_creado_la_actividad_cesion</name>
        <label>Se ha creado la actividad cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Creaci_n_Actividad_Cesion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se ha creado</defaultConnectorLabel>
        <rules>
            <name>si_se_ha_creado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sf1_1_Creacion_Cesiones_Benefit.varOutputRecordBenefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Benefit_Assigment_ScreenFlow</targetReference>
            </connector>
            <label>si se ha creado</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCSOcupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ocupacion__c</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varoutputPickListStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>BenefitAssignment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varPickListBarco</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Codigo_Barco__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Nueva Actividad creada para &quot;&amp;{!varInputAccount.Name}&amp;&quot;: Actividad: &quot;&amp;{!sf1_1_Creacion_Cesiones_Benefit.varOutputRecordBenefit.Name}</expression>
    </formulas>
    <formulas>
        <name>varCaseSubjectTripulante</name>
        <dataType>String</dataType>
        <expression>&quot;Nueva Actividad creada para &quot;&amp;{!varInputAccount.Name}&amp;&quot;: Actividad: &quot;&amp;{!CesionesActivas.firstSelectedRow.Name}</expression>
    </formulas>
    <formulas>
        <name>varSKUBonoCanje</name>
        <dataType>String</dataType>
        <expression>text(year({!$Flow.CurrentDate}))&amp;&quot;-BONO-SOCIO-CANJE&quot;</expression>
    </formulas>
    <interviewLabel>1.4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sf1.4 Nueva Actividad Cesiones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Caso_Patr_n</name>
        <label>Crear Caso Patrón</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registros_Caso_Patr_n_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_la_creaci_n_caso_Patr_n</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actividad_CINA__c</field>
            <value>
                <elementReference>Crear_Benefit_Assigment_ScreenFlow.varOuputBenefitAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varInputAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Caso_Tripulante</name>
        <label>Crear Caso Tripulante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registros_Caso_Tripulante_OK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_la_creaci_n_caso_Tripulante</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varInputAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actividad_CINA__c</field>
            <value>
                <elementReference>X1_2_Crear_Benefit_Assignment_Screen_Flow_Tripulacion.varOuputBenefitAssignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varInputAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varCaseSubjectTripulante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_AccountId_CINA</name>
        <label>Recuperar AccountId CINA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Localizaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conNombreAccountCINA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_BA_Patr_n_Cesi_n_Seleccionada</name>
        <label>Recuperar BA Patrón Cesión Seleccionada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1_2_Crear_Benefit_Assignment_Screen_Flow_Tripulacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CesionesActivas.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ocupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patron</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Barcos_Asset</name>
        <label>Recuperar Barcos Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccion_Barcos_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_AccountId_CINA.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>seleccionLocalizacion.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>conProductCodeCesion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Cesiones_Activas</name>
        <label>Recuperar Cesiones Activas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Cesiones_Activas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordBenefitType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>seleccionLocalizacion.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Fecha_desde_de_la_Cesi_n</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fecha_Hasta_de_la_Cesion</elementReference>
            </value>
        </filters>
        <filters>
            <field>BenefitStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Plazas_Disponibles__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Localizaciones</name>
        <label>Recuperar Localizaciones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccion_Parametros_Cesion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Sesiones_asociadas_al_barco</name>
        <label>Recuperar Sesiones asociadas al barco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Existen_Fechas_Libres</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_seleccionBarcosAsset.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_la_Cesion__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Fecha_desde_de_la_Cesi_n</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fecha_de_la_Cesion__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fecha_Hasta_de_la_Cesion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Creaci_n_Actividad_Cesion</name>
        <label>Error Creación Actividad Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Erroractividadcesion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;Se ha producido un error en la creación de la actividad cesión. Consulte con el Adminstrador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_en_la_creaci_n_caso_Patr_n</name>
        <label>Error en la creación caso - Patrón</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorcasopatron</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Se ha producido un error en la creación del caso nueva cesión patrón. Consulte con el Adminstrador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_en_la_creaci_n_caso_Tripulante</name>
        <label>Error en la creación caso - Tripulante</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errorcasotripulante</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;Se ha producido un error en la creación del caso nueva cesión tripulante. Consulte con el Adminstrador.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_es_posible_canjear_el_bono</name>
        <label>No es posible canjear el bono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Noesposiblecanjearelbono</name>
            <fieldText>&lt;p&gt;El Socio {!varInputAccount.Name} no tiene saldo disponible&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_existen_sesiones_activas</name>
        <label>No existen sesiones activas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Noexistenseiones</name>
            <fieldText>&lt;p&gt;No existen cesiones activas para la sede {!CesionesActivas.firstSelectedRow.Location__r.Name} y las fechas seleccionadas.&lt;/p&gt;&lt;p&gt;Selecciones otras fechas y/o sede.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_hay_Disponibilidad_del_Barco</name>
        <label>No hay Disponibilidad del Barco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Seleccion_Parametros_Cesion</targetReference>
        </connector>
        <fields>
            <name>NoExistenFechas</name>
            <fieldText>&lt;p&gt;No existen barcos del tipo seleccionado disponibles en  para la fecha seleccionada.&lt;/p&gt;&lt;p&gt;Por favor elija otra fecha u otro barco.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Volver a Seleccionar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccion_Barcos_Location</name>
        <label>Seleccion Barcos Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recuperar_Sesiones_asociadas_al_barco</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_parametrosCesion</name>
            <fieldText>&lt;p&gt;Configuración de la Cesión: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_seleccionBarcosAsset</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Barco</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Barcos_Asset</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-58d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre del Barco&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Codigo_Barco__c&quot;,&quot;guid&quot;:&quot;column-e597&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Código Barco&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Codigo Barco&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SerialNumber&quot;,&quot;guid&quot;:&quot;column-3ea1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Matricula&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StockKeepingUnit&quot;,&quot;guid&quot;:&quot;column-5ca3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product SKU&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seleccion_Parametros_Cesion</name>
        <label>Seleccion Parametros Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Comprobar_Ocupacion</targetReference>
        </connector>
        <fields>
            <name>parametrosCesion</name>
            <fieldText>&lt;p&gt;Configuración de la Cesión: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>seleccionLocalizacion</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Location</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Localizaciones</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Localizaciones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8d24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Localización&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Location Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Codigo__c&quot;,&quot;guid&quot;:&quot;column-b840&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Código anterior&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Codigo&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fecha_desde_de_la_Cesi_n</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Fecha desde de la Cesión</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fecha_Hasta_de_la_Cesion</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Fecha_desde_de_la_Cesi_n</elementReference>
            </defaultValue>
            <fieldText>Fecha Hasta de la Cesion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selecciones_Cesion_Activa</name>
        <label>Selecciones Cesion Activa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recuperar_BA_Patr_n_Cesi_n_Seleccionada</targetReference>
        </connector>
        <fields>
            <name>CesionesActivas</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Benefit</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cesiones Activas en esa Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Recuperar_Cesiones_Activas</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1324&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nombre Cesión&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Benefit Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDateTime&quot;,&quot;guid&quot;:&quot;column-6843&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Fecha Inicio&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Maximo_Plazas__c&quot;,&quot;guid&quot;:&quot;column-6e47&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capadidad&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Maximo Plazas&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Inscritos__c&quot;,&quot;guid&quot;:&quot;column-45ca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Inscritos&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Inscritos&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Plazas_Disponibles__c&quot;,&quot;guid&quot;:&quot;column-a2be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Plazas Disponibles&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Plazas Disponibles&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_AccountId_CINA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Crear_Benefit_Assigment_ScreenFlow</name>
        <label>Crear Benefit Assigment ScreenFlow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registros_cesion_y_oportunidad_OK</targetReference>
        </connector>
        <flowName>sf1_2_Crear_Benefit_Assignment_ScreenFlow</flowName>
        <inputAssignments>
            <name>varInputAccount</name>
            <value>
                <elementReference>varInputAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputBenefit</name>
            <value>
                <elementReference>sf1_1_Creacion_Cesiones_Benefit.varOutputRecordBenefit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCategoria</name>
            <value>
                <elementReference>varInputCategoria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOcupacion</name>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputStatusText</name>
            <value>
                <elementReference>conStatusPreInscrito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputTipoAlumno</name>
            <value>
                <elementReference>varInputTipoAlumno</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Nueva_Actividad_CanjeBono</name>
        <label>Nueva Actividad CanjeBono</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>sf1_5_Nueva_Actividad_Canje_Bono</flowName>
        <inputAssignments>
            <name>varInputPricebookEntry</name>
            <value>
                <elementReference>X1_3_Creacion_de_Opportunidad_y_Quota_Cesion.varOutputRecordPriceBookEntry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputQuote</name>
            <value>
                <elementReference>X1_3_Creacion_de_Opportunidad_y_Quota_Cesion.varOutputRecordQuote</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>sf1_1_Creacion_Cesiones_Benefit</name>
        <label>sf1.1 Creacion Cesiones Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Se_ha_creado_la_actividad_cesion</targetReference>
        </connector>
        <flowName>sf1_1_Creacion_Cesiones_Benefit</flowName>
        <inputAssignments>
            <name>varInputAccount</name>
            <value>
                <elementReference>varInputAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputAssetBarco</name>
            <value>
                <elementReference>Copy_1_of_seleccionBarcosAsset.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputBenefitType</name>
            <value>
                <elementReference>varRecordBenefitType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputFechaDesde</name>
            <value>
                <elementReference>Fecha_desde_de_la_Cesi_n</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputFechaHasta</name>
            <value>
                <elementReference>Fecha_Hasta_de_la_Cesion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputLocation</name>
            <value>
                <elementReference>seleccionLocalizacion.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1_2_Crear_Benefit_Assignment_Screen_Flow_Tripulacion</name>
        <label>1.2 Crear Benefit Assignment Screen Flow Tripulacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1_4_1_Cesiones_Tripulante_Actualizar_Ocupaciones</targetReference>
        </connector>
        <flowName>sf1_2_Crear_Benefit_Assignment_ScreenFlow</flowName>
        <inputAssignments>
            <name>varInputAccount</name>
            <value>
                <elementReference>varInputAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputBenefit</name>
            <value>
                <elementReference>CesionesActivas.firstSelectedRow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputBenefitAssignmentParent</name>
            <value>
                <elementReference>Recuperar_BA_Patr_n_Cesi_n_Seleccionada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputCategoria</name>
            <value>
                <elementReference>varInputCategoria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputOcupacion</name>
            <value>
                <elementReference>varInputOcupacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputStatusText</name>
            <value>
                <elementReference>conStatusInscrito</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputTipoAlumno</name>
            <value>
                <elementReference>varInputTipoAlumno</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1_3_Creacion_de_Opportunidad_y_Quota_Cesion</name>
        <label>1.3 Creacion de Opportunidad y Quota - Cesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_posible_Canjear_Bono_Socio</targetReference>
        </connector>
        <flowName>sf1_3_Creacion_de_Oportunidad_y_Quota</flowName>
        <inputAssignments>
            <name>varInputBenefitAssignment</name>
            <value>
                <elementReference>Crear_Benefit_Assigment_ScreenFlow.varOuputBenefitAssignment</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>X1_4_1_Cesiones_Tripulante_Actualizar_Ocupaciones</name>
        <label>1.4.1 Cesiones Tripulante Actualizar Ocupaciones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registros_cesion_tripulante_OK</targetReference>
        </connector>
        <flowName>sf1_4_1_Nueva_Actividad_Cesiones_Tripulante_Actualizar_Ocupacion</flowName>
        <inputAssignments>
            <name>varRecordBenefitAssignment</name>
            <value>
                <elementReference>X1_2_Crear_Benefit_Assignment_Screen_Flow_Tripulacion.varOuputBenefitAssignment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varBenefitAssigment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitAssignment</objectType>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varInputCategoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputOcupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputTipoAlumno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaBenefitDisbursement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>varListaBenefitType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varMaximoBonoNumero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPorcentajePagoBon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProgramEnrolmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordBenefitType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
</Flow>
