force-app/main/default/flows/X1_5_Creaci_n_Accounts_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Datos_Alumno_Account</name>
        <label>Asignar Datos Alumno Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNombreLowerCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApellidosLowerCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Ano_Alta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_ANOALTA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Documento_Identidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDocumentoIdentidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Tipo_Documento_Identidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NIF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Documento_Valido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_NIF_OK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Bono_Socio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_BONOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Fecha_Inicio_Bono__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_FECBON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_SEXO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Old_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_STATUS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_CODPOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_FECNAC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDireccionConcatenada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_PAIS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Numero_Socio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumeroSocio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Conoce_CINA__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_CONOCE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.IBAN_Encriptatdo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_IBAN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonGenderIdentity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_SEXO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Mandato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_MANDATO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Alumno_No_Socio_Account</name>
        <label>Asignar Datos Alumno No Socio Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SF_NOMBRE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SF_APELLIDOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Ano_Alta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_ANOALTA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Documento_Identidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDocumentoIdentidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Tipo_Documento_Identidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NIF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Documento_Valido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_NIF_OK__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Bono_Socio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_BONOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Fecha_Inicio_Bono__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_FECBON__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_SEXO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Old_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_STATUS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_CODPOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_FECNAC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDireccionConcatenada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_PAIS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Numero_Socio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumeroSocio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.Conoce_CINA__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_CONOCE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_EMILIO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonGenderIdentity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_SEXO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Documento_Identidad_a_Variable</name>
        <label>Asignar Documento Identidad a Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDocumentoIdentidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AL_NIF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_Socio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Email_Principal</name>
        <label>Asignar Email Principal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Email_Alumno.EM_EMILIO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonFirstEmailDateTime__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Email_Alumno.EM_LASTENV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorMovil</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Email_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Email_Secundario</name>
        <label>Asignar Email Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.Other_Email__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Email_Alumno.EM_EMILIO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Email_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Fijo_Principal</name>
        <label>Asignar Fijo Principal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorTelefonoFijo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Fijo_Secundario</name>
        <label>Asignar Fijo Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorTelefonoFijo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Movil_Principal</name>
        <label>Asignar Movil Principal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorMovil</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Movil_Secundario</name>
        <label>Asignar Movil Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorMovil</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_Nuevo_Documento_Identidad_Duplicado</name>
        <label>Crear Nuevo Documento Identidad Duplicado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDocumentoIdentidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreacionDocumentoIdentidadDuplicado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_Socio</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conErrorCreacionAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Creaci칩n Account Posible NIF duplicado</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrimerTelefono</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012J9000000sgeaIAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSegundoTelefono</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conTipoFijo</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoMovil</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MOV</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_Existe_Documento_Identidad_Duplicado</name>
        <label>Comprobar Existe Documento Identidad Duplicado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Documento_Identidad_a_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Duplicados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account_con_mismo_Documento_Identidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Nuevo_Documento_Identidad_Duplicado</targetReference>
            </connector>
            <label>Si Existen Duplicados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_NIF_Vacio</name>
        <label>Comprobar NIF Vacio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Es_Socio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_esta_vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AL_NIF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Account_con_mismo_Documento_Identidad</targetReference>
            </connector>
            <label>No esta vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Principal_o_Secundario</name>
        <label>Email Principal o Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Email_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conPrimerTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Email_Principal</targetReference>
            </connector>
            <label>Email Principal</label>
        </rules>
        <rules>
            <name>Email_Secundario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conSegundoTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Email_Secundario</targetReference>
            </connector>
            <label>Email Secundario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Socio</name>
        <label>Es Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Telefono_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NoSocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Datos_Alumno_No_Socio_Account</targetReference>
            </connector>
            <label>No es Socio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefono_Fijo_Principal_o_Secudario</name>
        <label>Telefono Fijo Principal o Secudario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fijo_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorTelefonoFijo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conPrimerTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Fijo_Principal</targetReference>
            </connector>
            <label>Fijo Principal</label>
        </rules>
        <rules>
            <name>Fijo_Secundario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorTelefonoFijo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conSegundoTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Fijo_Secundario</targetReference>
            </connector>
            <label>Fijo Secundario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefono_Movil_o_Fijo</name>
        <label>Telefono Movil o Fijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telefono_Fijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Telefonos_Alumno.TL_TIPO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telefono_Fijo_Principal_o_Secudario</targetReference>
            </connector>
            <label>Telefono Fijo</label>
        </rules>
        <rules>
            <name>Telefono_Movil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Telefonos_Alumno.TL_TIPO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conTipoMovil</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telefono_Movil_Principal_o_Secundario</targetReference>
            </connector>
            <label>Telefono Movil</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefono_Movil_Principal_o_Secundario</name>
        <label>Telefono Movil Principal o Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Movil_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorMovil</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conPrimerTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Movil_Principal</targetReference>
            </connector>
            <label>Movil Principal</label>
        </rules>
        <rules>
            <name>Movil_Secundario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorMovil</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conSegundoTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Movil_Secundario</targetReference>
            </connector>
            <label>Movil Secundario</label>
        </rules>
    </decisions>
    <description>Incluye NoSocio - A침ade Cuenta bancaria</description>
    <environments>Default</environments>
    <formulas>
        <name>varApellidosLowerCase</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.SF_APELLIDOS__c})</expression>
    </formulas>
    <formulas>
        <description>{!Recuperar_Account_con_mismo_Documento_Identidad.Documento_Identidad__c}&amp;DUP&amp;text(value(left({!Recuperar_Account_con_mismo_Documento_Identidad.Documento_Identidad__c},1))+1))</description>
        <name>varCreacionDocumentoIdentidadDuplicado</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Recuperar_Account_con_mismo_Documento_Identidad.Documento_Identidad__c},&quot;DUP&quot;),{!$Record.AL_NIF__c}&amp;&quot;-DUP&quot;&amp;text(value(right({!Recuperar_Account_con_mismo_Documento_Identidad.Documento_Identidad__c},1))+1),{!Recuperar_Account_con_mismo_Documento_Identidad.Documento_Identidad__c}&amp;&quot;-DUP1&quot; )</expression>
    </formulas>
    <formulas>
        <name>varDireccionConcatenada</name>
        <dataType>String</dataType>
        <expression>{!$Record.AL_DIR1__c}&amp;&quot; &quot;&amp;{!$Record.AL_DIR2__c}</expression>
    </formulas>
    <formulas>
        <name>VarNombreLowerCase</name>
        <dataType>String</dataType>
        <expression>INITCAP({!$Record.SF_NOMBRE__c})</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocio</name>
        <dataType>String</dataType>
        <expression>if({!$Record.NoSocio__c}=true,&quot;NA-&quot;,&quot;NS-&quot; )
&amp; LPAD({!$Record.AL_ALUMNO__c}, 7, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>varRecordName</name>
        <dataType>String</dataType>
        <expression>if({!$Record.NoSocio__c}=true,&quot;No Socio&quot;,&quot;Socio&quot;)</expression>
    </formulas>
    <interviewLabel>1.5 Creaci칩n Accounts Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1.5 Creaci칩n Accounts Trigger Flow</label>
    <loops>
        <name>Recorrer_Email_Alumno</name>
        <label>Recorrer Email Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Correos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Principal_o_Secundario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Telefonos_Alumno</name>
        <label>Recorrer Telefonos Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Telefono_Alumno</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Telefono_Movil_o_Fijo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_Email_Alumno</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Account</name>
        <label>Crear Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Temporal_Alumnos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Alumnos_Con_Error</targetReference>
        </faultConnector>
        <inputReference>varRecordAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Account_con_mismo_Documento_Identidad</name>
        <label>Recuperar Account con mismo Documento Identidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_Existe_Documento_Identidad_Duplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Documento_Identidad__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.AL_NIF__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Documento_Identidad__c</queriedFields>
        <sortField>Documento_Identidad__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Correos</name>
        <label>Recuperar Correos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Datos_Alumno_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EM_ALUMNO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AL_ALUMNO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Emails__c</object>
        <sortField>EM_PREFER__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_RecordTypeId</name>
        <label>Recuperar RecordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobar_NIF_Vacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Telefono_Alumno</name>
        <label>Recuperar Telefono Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Correos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TL_ALUMNO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AL_ALUMNO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Telefonos__c</object>
        <sortField>TL_PREFER__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Alumnos_Con_Error</name>
        <label>Alumnos Con Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_del_Error__c</field>
            <value>
                <elementReference>conErrorCreacionAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Inconsistencia Datos</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Temporal_Alumnos</name>
        <label>Update Temporal Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varRecordAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>temporal_Alumnos__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContadorEmail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContadorMovil</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContadorTelefonoFijo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDocumentoIdentidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
