force-app/main/default/flows/X1_6_Actualizar_Datos_Account_del_Temporal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Record_Alumno_a_Lista_Alumno</name>
        <label>Asignar Record Alumno a Lista Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Recuperar_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Temporal_Alumnos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Valores_Temporal_Almunos_a_Account</name>
        <label>Asignar Valores Temporal Almunos a Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentItem_Recuperar_Accounts.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Temporal_Alumnos.SF_NOMBRE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_Recuperar_Accounts.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Temporal_Alumnos.SF_APELLIDOS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentItem_Recuperar_Accounts.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Temporal_Alumnos.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_Alumno_a_Lista_Alumno</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Recuperar_Accounts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Recuperar Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Recuperar_Accounts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_No_Socios</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Recuperar_Accounts.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Recorrer_Temporal_Alumnos.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Asignar_Valores_Temporal_Almunos_a_Account</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>conNoSocios</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Socio</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>1.6 Actualizar Datos Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1.6 Actualizar Datos Account del Temporal</label>
    <loops>
        <name>Recorrer_Temporal_Alumnos</name>
        <label>Recorrer Temporal Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Temporal_Alumnos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Account_con_nuevos_valores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_No_Socios</name>
        <label>Recuperar No Socios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Temporal_Alumnos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_RecordTypeId_No_Socios.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Numero_Socio__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_RecordTypeId_No_Socios</name>
        <label>Recuperar RecordTypeId No Socios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_No_Socios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conNoSocios</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Temporal_Alumnos</name>
        <label>Recuperar Temporal Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Temporal_Alumnos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NoSocio__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Alumnos__c</object>
        <sortField>AL_ALUMNO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Account_con_nuevos_valores</name>
        <label>Actualizar Account con nuevos valores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varListaAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_RecordTypeId_No_Socios</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Recuperar_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varListaAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
