force-app/main/default/flows/X1_6_Actualizar_Account_con_informacion_Temporal_Alumnos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Datos_Alumno_Account</name>
        <label>Asignar Datos Alumno Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Fijo_Principal</name>
        <label>Asignar Fijo Principal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorTelefonoFijo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Fijo_Secundario</name>
        <label>Asignar Fijo Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorTelefonoFijo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Movil_Principal</name>
        <label>Asignar Movil Principal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorMovil</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Movil_Secundario</name>
        <label>Asignar Movil Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordAccount.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Telefonos_Alumno.TL_NUMEROS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContadorMovil</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conPrimerTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conErrorCreacionAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Creación Account Posible NIF duplicado</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrimerTelefono</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012J9000000sgeaIAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>conSegundoTelefono</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conTipoFijo</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>conTipoMovil</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MOV</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Telefono_Fijo_Principal_o_Secudario</name>
        <label>Telefono Fijo Principal o Secudario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fijo_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorTelefonoFijo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conPrimerTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Fijo_Principal</targetReference>
            </connector>
            <label>Fijo Principal</label>
        </rules>
        <rules>
            <name>Fijo_Secundario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorTelefonoFijo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conSegundoTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Fijo_Secundario</targetReference>
            </connector>
            <label>Fijo Secundario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefono_Movil_o_Fijo</name>
        <label>Telefono Movil o Fijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telefono_Fijo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Telefonos_Alumno.TL_TIPO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telefono_Fijo_Principal_o_Secudario</targetReference>
            </connector>
            <label>Telefono Fijo</label>
        </rules>
        <rules>
            <name>Telefono_Movil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Telefonos_Alumno.TL_TIPO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conTipoMovil</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telefono_Movil_Principal_o_Secundario</targetReference>
            </connector>
            <label>Telefono Movil</label>
        </rules>
    </decisions>
    <decisions>
        <name>Telefono_Movil_Principal_o_Secundario</name>
        <label>Telefono Movil Principal o Secundario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Telefonos_Alumno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Movil_Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorMovil</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conPrimerTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Movil_Principal</targetReference>
            </connector>
            <label>Movil Principal</label>
        </rules>
        <rules>
            <name>Movil_Secundario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContadorMovil</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conSegundoTelefono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Movil_Secundario</targetReference>
            </connector>
            <label>Movil Secundario</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varNumeroSocioCompuesto</name>
        <dataType>String</dataType>
        <expression>LPAD({!$Record.AL_ALUMNO__c},7,&quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>varRecordName</name>
        <dataType>String</dataType>
        <expression>if({!$Record.NoSocio__c}=true,&quot;No Socio&quot;,&quot;Socio&quot;)</expression>
    </formulas>
    <interviewLabel>1.6 Actualizar Account con informacion Temporal Alumnos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1.6 Actualizar Account con informacion Temporal Alumnos</label>
    <loops>
        <name>Recorrer_Telefonos_Alumno</name>
        <label>Recorrer Telefonos Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Telefono_Alumno</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Telefono_Movil_o_Fijo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Telefono_Alumno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>varNumeroSocioCompuesto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Telefono_Alumno</name>
        <label>Recuperar Telefono Alumno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Datos_Alumno_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TL_ALUMNO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AL_ALUMNO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>temporal_Telefonos__c</object>
        <sortField>TL_PREFER__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Account</name>
        <label>Actualizar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Temporal_Alumnos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Alumnos_Con_Error</targetReference>
        </faultConnector>
        <inputReference>varRecordAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Alumnos_Con_Error</name>
        <label>Alumnos Con Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_del_Error__c</field>
            <value>
                <elementReference>conErrorCreacionAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Inconsistencia Datos</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Temporal_Alumnos</name>
        <label>Update Temporal Alumnos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varRecordAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>temporal_Alumnos__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varContadorMovil</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varContadorTelefonoFijo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecordAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
