force-app/main/default/flows/X1_8_Crear_Barcos_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <constants>
        <name>conAccountCINA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CINA - Centro Internacional de Navegación de la Isla de Arousa</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>1.8 Crear Barcos Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1.8 Crear Barcos Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Asset</name>
        <label>Crear Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Temporal_Barcos</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obtener_Cuenta_Cina.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Barco__c</field>
            <value>
                <elementReference>$Record.FL_BARCO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.FL_NOMBRE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tripulantes__c</field>
            <value>
                <elementReference>$Record.FL_TRIPU__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Cuenta_Cina</name>
        <label>Obtener Cuenta Cina</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conAccountCINA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Location</name>
        <label>Obtener Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Cuenta_Cina</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FL_LUGAR__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Temporal_Barcos</name>
        <label>Actualizar Estado Temporal Barcos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Temporal_Barcos__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
