force-app/main/default/flows/X2_3_Autoflow_Crear_Programas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_a_o_actual_a_A_o_anterior</name>
        <label>Asignar a침o actual a A침o anterior</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAnoAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAnoEntero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Lista_Programa</name>
        <label>Asignar Lista Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaProgram</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Location_Actual_Location_Anterior</name>
        <label>Asignar Location Actual Location Anterior</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLocationAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Location.Codigo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Registro_Programa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Location_valor_inicial</name>
        <label>Asignar Location valor inicial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLocationAnterior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conLocation999</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Cursos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Registro_Programa</name>
        <label>Asignar Registro Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordProgram.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgram.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaInicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgram.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgram.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombrePrograma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgram.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgram.Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombrePrograma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Lista_Programa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Entidad</name>
        <label>Error Entidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Procesado_con_Exito</name>
        <label>Procesado con Exito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Ordenar_Cursos</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Cursos</collectionReference>
        <connector>
            <targetReference>Recorrer_Cursos</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CU_ANO__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CU_LUGAR__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>conLocation999</name>
        <dataType>String</dataType>
        <value>
            <stringValue>999</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comprobar_A_o</name>
        <label>Comprobar A침o</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Cursos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_de_Ano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Cursos.CU_ANO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAnoAnterior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_a_o_actual_a_A_o_anterior</targetReference>
            </connector>
            <label>Cambio de Ano</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_Location</name>
        <label>Comprobar Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locations_distintos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_Location.Codigo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_Cursos.CU_LUGAR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Location_Actual_Location_Anterior</targetReference>
            </connector>
            <label>Locations Iguales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selecci_n_Entidad</name>
        <label>Selecci칩n Entidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Entidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entidad_Cursos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputControlMigracion.Entidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cursos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Cursos</targetReference>
            </connector>
            <label>Entidad Cursos</label>
        </rules>
        <rules>
            <name>Entidad_Actividades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputControlMigracion.Entidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actividades</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procesado_con_Exito</targetReference>
            </connector>
            <label>Entidad Actividades</label>
        </rules>
        <rules>
            <name>Entidad_Regatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputControlMigracion.Entidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regatas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procesado_con_Exito</targetReference>
            </connector>
            <label>Entidad Regatas</label>
        </rules>
        <rules>
            <name>Entidad_Cesiones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputControlMigracion.Entidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cesiones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procesado_con_Exito</targetReference>
            </connector>
            <label>Entidad Cesiones</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAnoEntero</name>
        <dataType>Number</dataType>
        <expression>value({!Recorrer_Cursos.CU_ANO__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varBufferControl</name>
        <dataType>Number</dataType>
        <expression>{!varInputControlMigracion.Buffer__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varFechaFin</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!Recorrer_Cursos.CU_ANO__c}), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>varFechaInicio</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!Recorrer_Cursos.CU_ANO__c}), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>varNombrePrograma</name>
        <dataType>String</dataType>
        <expression>TEXT({!varAnoEntero})&amp;&quot; &quot;&amp;&quot;CURSO &quot;&amp;{!Recorrer_Location.Name}</expression>
    </formulas>
    <interviewLabel>2.3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2.3 Autoflow Crear Programas</label>
    <loops>
        <name>Recorrer_Cursos</name>
        <label>Recorrer Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Cursos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comprobar_A_o</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Programas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Location</name>
        <label>Recorrer Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Nombres_Location_LUGAR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comprobar_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_Location_valor_inicial</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Programas</name>
        <label>Crear Programas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Procesado_con_Exito</targetReference>
        </connector>
        <inputReference>varListaProgram</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Cursos</name>
        <label>Recuperar Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordenar_Cursos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Cursos__c</object>
        <sortField>CU_ANO__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Nombres_Location_LUGAR</name>
        <label>Recuperar Nombres Location LUGAR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selecci_n_Entidad</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Nombres_Location_LUGAR</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAnoAnterior</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1900.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCursoAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varListaProgram</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program</objectType>
    </variables>
    <variables>
        <name>varListaTemporalCursos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos__c</objectType>
    </variables>
    <variables>
        <name>varLocationAnterior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>999</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecordProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program</objectType>
    </variables>
    <variables>
        <name>varRecordTemporalCursos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos__c</objectType>
    </variables>
</Flow>
