force-app/main/default/flows/X2_4_Creacion_Program_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>A_adir_a_Lista_Program_Enrolment</name>
        <label>Añadir a Lista Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaProgramEnrollment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordProgramEnrolment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Procesado_Matriculas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_datos_Program</name>
        <label>Asignar Program Enrolment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recuperar_AccountId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recuperar_Benefit_DDDKEY.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recuperar_Benefit_DDDKEY.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreProgramEnrollmentCompuesto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.Ocupacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alumno</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.ProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recuperar_Benefit_DDDKEY.ProgramId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordProgramEnrolment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aplicado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_adir_a_Lista_Program_Enrolment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Procesado_Matriculas</name>
        <label>Asignar Procesado Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_Matriculas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Matriculas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matriculas_Procesado_con_Exito</name>
        <label>Matriculas Procesado con Exito</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Recuperar_AccountId</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Recuperar AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Recuperar_AccountId</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Recuperar_AccountId.Numero_Socio__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varNumeroSocioCompuesto</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Recuperar_Benefit_DDDKEY</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Recuperar_Benefit_DDDKEY</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Recuperar Benefit DDDKEY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Recuperar_Benefit_DDDKEY</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Benefit</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Recuperar_Benefit_DDDKEY.Codigo_Benefit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCodigoActividad</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Asignar_datos_Program</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>conRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012J9000000sgeaIAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Seleccionar_Entidad</name>
        <label>Seleccionar Entidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matriculas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputControlMigracion.Entidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marticulas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar</targetReference>
            </connector>
            <label>Matriculas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCodigoActividad</name>
        <dataType>String</dataType>
        <expression>&quot;CUR&quot; &amp; MID({!Recorrer_Matriculas.DDDKEY__c},9,7)</expression>
    </formulas>
    <formulas>
        <name>varIntBuffer</name>
        <dataType>Number</dataType>
        <expression>{!varInputControlMigracion.Buffer__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varNombreProgramEnrollmentCompuesto</name>
        <dataType>String</dataType>
        <expression>{!currentItem_Recuperar_AccountId.Name}&amp;&quot; &quot;&amp;text({!currentItem_Recuperar_Benefit_DDDKEY.StartDateTime})</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocioCompuesto</name>
        <dataType>String</dataType>
        <expression>&quot;NS-&quot; &amp; LPAD(text({!Recorrer_Matriculas.MM_ALUMNO__c}),7,&quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>2.4 Creacion Program Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2.4 Creacion Program Enrollment</label>
    <loops>
        <name>Recorrer_Matriculas</name>
        <label>Recorrer Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recuperar_AccountId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Program_Enrolment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Program_Enrolment</name>
        <label>Crear Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Lista_Matriculas</targetReference>
        </connector>
        <inputReference>varListaProgramEnrollment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar</name>
        <label>Recuperar Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Matricula_Account_Benefit_Id__c</object>
        <sortField>DDDKEY__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Matriculas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Numero_Socio__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Benefit</name>
        <label>Recuperar Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Benefit</object>
        <sortField>Codigo_Benefit__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Lista_Matriculas</name>
        <label>Actualizar Lista Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Matriculas_Procesado_con_Exito</targetReference>
        </connector>
        <inputReference>Recorrer_Matriculas</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Seleccionar_Entidad</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Recuperar_AccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Recuperar_Benefit_DDDKEY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>varInputControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varListaProgramEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramEnrollment</objectType>
    </variables>
    <variables>
        <name>varRecordProgramEnrolment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramEnrollment</objectType>
    </variables>
</Flow>
