force-app/main/default/flows/X2_6_Creacion_Program_Enrolment_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Existe_Account</name>
        <label>Existe Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Program_Enrollment_No_Encontrada_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperara_Benefit_Cursos</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_ya_Program_Enrolment</name>
        <label>Existe ya Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Program_Enrolment_Procesado_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobar_si_existe_Program_Enrollment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Program_Enrollment</targetReference>
            </connector>
            <label>No Existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_Benefit</name>
        <label>Existen Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Program_Enrollment_No_Encontrada_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existen_Benefit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperara_Benefit_Cursos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comprobar_si_existe_Program_Enrollment</targetReference>
            </connector>
            <label>Si Existen Benefit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCodigoActividad</name>
        <dataType>String</dataType>
        <expression>case( text({!$Record.Entidad__c}),
&quot;Matriculas&quot;, &quot;CUR&quot; &amp; MID({!$Record.DDDKEY__c},9,7),
&quot;Encuadramientos&quot;, &quot;CUR&quot; &amp; MID({!$Record.DDDKEY__c},9,7),
&quot;Eventos&quot;, {!$Record.P_DDDKEY__c},
&quot;Bautismos&quot;,{!$Record.P_DDDKEY__c},
{!$Record.DDDKEY__c}
)</expression>
    </formulas>
    <formulas>
        <name>varFechaHoy</name>
        <dataType>String</dataType>
        <expression>text(now())</expression>
    </formulas>
    <formulas>
        <name>varNombreProgramEnrollmentCompuesto</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Account.Name}&amp;&quot; &quot;&amp;text(datevalue({!Recuperara_Benefit_Cursos.StartDateTime}))</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocioCompuesto</name>
        <dataType>String</dataType>
        <expression>LPAD({!$Record.MM_ALUMNO__c},7,&quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>2.6 Creacion Program Enrolment Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2.6 Creacion Program Enrolment Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Program_Enrollment</name>
        <label>Crear Program Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Program_Enrolment_Procesado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Actualizar_Program_Enrollment_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Recuperara_Benefit_Cursos.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreProgramEnrollmentCompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <elementReference>$Record.Ocupacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Recuperara_Benefit_Cursos.ProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Recuperara_Benefit_Cursos.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aplicado</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Comprobar_si_existe_Program_Enrollment</name>
        <label>Comprobar si existe Program Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_ya_Program_Enrolment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperara_Benefit_Cursos.ProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Account</name>
        <label>Recuperar Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>varNumeroSocioCompuesto</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperara_Benefit_Cursos</name>
        <label>Recuperara Benefit Cursos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.P_DDDKEY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Program_Enrollment_Error</name>
        <label>Actualizar Program Enrollment Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Program_Enrollment_No_Encontrada_Account</name>
        <label>Actualizar Program Enrollment No Encontrada Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Detalle_Error__c</field>
            <value>
                <stringValue>Socio No encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Program_Enrollment_No_Encontrada_Benefit</name>
        <label>Actualizar Program Enrollment No Encontrada Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Detalle_Error__c</field>
            <value>
                <stringValue>Actividad No Encontrada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Program_Enrolment_Procesado</name>
        <label>Actualizar Program Enrolment Procesado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Enrollment__c</field>
            <value>
                <elementReference>Crear_Program_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Program_Enrolment_Procesado_2</name>
        <label>Actualizar Program Enrolment Procesado 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Temporal_Program_Enrolment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
