force-app/main/default/flows/X6_2_Creacion_Eventos_atrav_s_de_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Estado_Final</name>
        <label>Asignar Estado Final</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordTemporalEventos.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputControlMigracion.Status_Final_Temporal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordTemporalEventos.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actualizar_Cadena_Temporal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Record_Temporal_Curso_a_Lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Record_Temporal_Curso_a_Lista</name>
        <label>Asignar Record Temporal Curso a Lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaTemporalEventos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecordTemporalEventos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cadena_Temporal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recuper_Buffer</name>
        <label>Recuper Buffer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBufferInterno</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputControlMigracion.Buffer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Buffer_Registros_Actualizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resultado_Proceso_Correcto</name>
        <label>Resultado Proceso Correcto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputControlMigracion.Fecha_Ejecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>6.2 Creacion Eventos através de Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>6.2 Creacion Eventos através de Updates</label>
    <loops>
        <name>Actualizar_Cadena_Temporal</name>
        <label>Actualizar Cadena Temporal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Buffer_Registros_Actualizar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Estado_Final</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Estado_Temporal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Recuperar_Buffer_Registros_Actualizar</name>
        <label>Recuperar Buffer Registros Actualizar</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cadena_Temporal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputControlMigracion.Status_Inicial_Temporal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Eventos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Temporal</name>
        <label>Actualizar Estado Temporal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resultado_Proceso_Correcto</targetReference>
        </connector>
        <inputReference>varListaTemporalEventos</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuper_Buffer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBufferInterno</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInputControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalEventos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Eventos__c</objectType>
    </variables>
    <variables>
        <name>varRecordControlMigracion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Control_Migracion__c</objectType>
    </variables>
    <variables>
        <name>varRecordTemporalEventos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Eventos__c</objectType>
    </variables>
</Flow>
