force-app/main/default/flows/X6_4_Creacion_Asistentes_Eventos_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Datos_Disburment</name>
        <label>Asignar Datos Disburment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.DisbursedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisbursedQuantityUNO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.ActualCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.Estado_Evaluacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignar_Session_a_Lista_Sessiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_Session_a_Lista_Sessiones</name>
        <label>Assignar Session a Lista Sessiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lista_Disbursment_crear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDisburment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Sesiones_Encuadramientos</name>
        <label>Contar Sesiones Encuadramientos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vardiasEvento</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recuperar_Dias_Evento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iguales_Sesiones_Curso_Sesiones_Encuadramiento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_Sesiones_Evento</name>
        <label>Contar Sesiones Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numeroDeSesiones</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recuperar_Sesiones_Evento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperar_Dias_Evento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asignar_Datos_Disburment</name>
        <label>Copy 1 of Asignar Datos Disburment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Evento.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.DisbursedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisbursedQuantityUNO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.ActualCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Evento.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Evento.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones_Evento.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.Estado_Evaluacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assignar_Session_a_Lista_Sessiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignar_Session_a_Lista_Sessiones</name>
        <label>Copy 1 of Assignar Session a Lista Sessiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lista_Disbursment_crear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDisburment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Sesiones_Evento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Actualizar_Error_Registo_Matriculas</name>
        <label>Copy 3 of Actualizar Error Registo Matriculas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>DisbursedQuantityUNO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>errorFechasMatriculasCurso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>El numero de dias Matriculas mayor que dias Curso</stringValue>
        </value>
    </constants>
    <constants>
        <name>fechasCursoMasMatricula</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existen más fechas en el curso que en la matricula</stringValue>
        </value>
    </constants>
    <constants>
        <name>fechasCursoMatriculaCoinciden</name>
        <dataType>String</dataType>
        <value>
            <stringValue>El numero de fechas Matricula Coincide con las fechas de los cursos</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Comparar_Fecha_Evento_Fecha_Evento_Detalle</name>
        <label>Comparar Fecha Evento Fecha Evento Detalle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recorrer_Sesiones_Evento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fecha_Evento_Igual_Fecha_Detalle_Evento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDateSinHora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFechaEventodat</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Asignar_Datos_Disburment</targetReference>
            </connector>
            <label>Fecha Evento Igual Fecha Detalle Evento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Beneficio</name>
        <label>Existe Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Beneficio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Program_Enrolment</targetReference>
            </connector>
            <label>Si Existe Beneficio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Socio</name>
        <label>Existe Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio_Socio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe_Socio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit</targetReference>
            </connector>
            <label>Si existe Socio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_datos_Obligatorios</name>
        <label>Existen datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Program_Enrolment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Assignment</targetReference>
            </connector>
            <label>Si existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Iguales_Sesiones_Curso_Sesiones_Encuadramiento</name>
        <label>Iguales Sesiones Curso Sesiones Encuadramiento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_mas_Fechas_que_Sesiones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Son_Iguales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numeroDeSesiones</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vardiasEvento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Sesiones</targetReference>
            </connector>
            <label>Son Iguales</label>
        </rules>
        <rules>
            <name>Curso_Mayor_Encuadramaientos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numeroDeSesiones</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vardiasEvento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Fechas_Eventos</targetReference>
            </connector>
            <label>Curso Mayor Encuadramaientos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_Alumno_Informado</name>
        <label>Numero Alumno Informado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio_Alumno_no_informado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_esta_infomrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DA_ALUMNO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Socio</targetReference>
            </connector>
            <label>Si esta infomrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>codigoBeneficioExtraccionDDDKEY</name>
        <dataType>String</dataType>
        <expression>&quot;CUR&quot; &amp; RIGHT({!$Record.DDDKEY__c}, LEN({!$Record.DDDKEY__c}) - 8)</expression>
    </formulas>
    <formulas>
        <name>NombreScheduledAssigment</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Scheduled.Name}&amp;&quot;-&quot;&amp;{!Recuperar_Program_Enrolment.Name}</expression>
    </formulas>
    <formulas>
        <name>numeroSocioALUMNO</name>
        <dataType>String</dataType>
        <expression>LPAD({!$Record.DA_ALUMNO__c}, 7, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>StartDateSinHora</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Recorrer_Sesiones_Evento.StartDateTime})</expression>
    </formulas>
    <formulas>
        <name>varFechaEventodat</name>
        <dataType>Date</dataType>
        <expression>datevalue({!Recorrer_Fechas_Eventos.DA_FECHAS__c})</expression>
    </formulas>
    <formulas>
        <name>varNumTripulacionTexto</name>
        <dataType>String</dataType>
        <expression>text({!$Record.DA_NUMTRP__c})</expression>
    </formulas>
    <interviewLabel>6.4 Creacion Asistentes Eventos Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>6.4 Creacion Asistentes Eventos Trigger Flow</label>
    <loops>
        <name>Recorrer_Fechas_Eventos</name>
        <label>Recorrer Fechas Eventos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Dias_Evento</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recorrer_Sesiones_Evento</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Crear_Disbursement_Hijos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Sesiones</name>
        <label>Recorrer Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Evento</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Disburment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Disbursement_Hijos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_Sesiones_Evento</name>
        <label>Recorrer Sesiones  Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Evento</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comparar_Fecha_Evento_Fecha_Evento_Detalle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_Fechas_Eventos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Crear_Disbursement_Hijos</name>
        <label>Copy 1 of Crear Disbursement Hijos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Actualizar_Estado_Registro_Temporal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Actualizar_Error_Registo_Matriculas</targetReference>
        </faultConnector>
        <inputReference>Lista_Disbursment_crear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Assignment</name>
        <label>Crear Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Scheduled_Assigment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Crear_Assigment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Acompa_ante_1__c</field>
            <value>
                <elementReference>$Record.DA_ACT1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acompa_ante_2__c</field>
            <value>
                <elementReference>$Record.DA_ACT2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acompa_ante_3__c</field>
            <value>
                <elementReference>$Record.DA_ACT3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Recuperar_Benefit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrolleeId</field>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>$Record.DA_FECMAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Origen_Texto__c</field>
            <value>
                <elementReference>varNumTripulacionTexto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <stringValue>Asistente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Recuperar_Program_Enrolment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramEnrollmentId</field>
            <value>
                <elementReference>Recuperar_Program_Enrolment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Alumno__c</field>
            <value>
                <elementReference>$Record.DA_TIPALU__c</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Disbursement_Hijos</name>
        <label>Crear Disbursement Hijos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Registro_Temporal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creacion_B_Disburtment_hijos</targetReference>
        </faultConnector>
        <inputReference>Lista_Disbursment_crear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Scheduled_Assigment</name>
        <label>Crear Scheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Sesiones_Evento</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Crear_Benefit_Scheduled_Assigment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitAssignmentId</field>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitScheduleId</field>
            <value>
                <elementReference>Recuperar_Scheduled.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreScheduledAssigment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <stringValue>Alumno</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitScheduleAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Benefit</name>
        <label>Recuperar Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Beneficio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.P_DDDKEY__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Dias_Evento</name>
        <label>Recuperar Dias Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Sesiones_Encuadramientos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DA_NUMACT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DA_NUMACT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DA_ALUMNO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DA_ALUMNO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Temporal_Eventos_Detalles_Fechas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Program_Enrolment</name>
        <label>Recuperar Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit.ProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Scheduled</name>
        <label>Recuperar Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Sesiones_Evento</name>
        <label>Recuperar Sesiones Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Sesiones_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Scheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Socio</name>
        <label>Recuperar Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>numeroSocioALUMNO</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Registro_Temporal</name>
        <label>Actualizar Estado Registro Temporal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Actualizar_Estado_Registro_Temporal</name>
        <label>Copy 1 of Actualizar Estado Registro Temporal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Creacion_B_Disburtment_hijos</name>
        <label>Error Creacion B Disburtment hijos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Crear_Assigment</name>
        <label>Error Crear Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Crear_Benefit_Scheduled_Assigment</name>
        <label>Error Crear Benefit Scheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio</name>
        <label>Error Datos Obligatorio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Program Enrolment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio_Alumno_no_informado</name>
        <label>Error Datos Obligatorio Alumno no informado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Socio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio_Benefit</name>
        <label>Error Datos Obligatorio Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Actividad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio_Socio</name>
        <label>Error Datos Obligatorio Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Socio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_mas_Fechas_que_Sesiones</name>
        <label>Error mas Fechas que Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Inconsistencia Datos</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Numero_Alumno_Informado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Temporal_Eventos_Detalles__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Recuperar_Sesion_Beneficio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <description>Lista_Disbursment_crear</description>
        <name>Lista_Disbursment_crear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>numeroDeSesiones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vardiasEvento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>varDisburment</description>
        <name>varDisburment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
</Flow>
