force-app/main/default/flows/X7_4_Creaci_n_Regatas_Auto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>A_adir_ultima_fecha</name>
        <label>A침adir ultima fecha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaFechas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFechaUltima</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_a_la_variable_Salida</name>
        <label>Asignar Benefit a la variable Salida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Beneficio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Eventos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Sesion</name>
        <label>Asignar Datos Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecorBSession.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreSesion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaInicioSessionTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinSessionTM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_las_fechas_a_variables_Trabajo</name>
        <label>Asignar las fechas a variables Trabajo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFechasOriginal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalRegatas.RG_FECHAS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechasRestante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechasOriginal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quedan_Fechas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBSession</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecorBSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Creacion_Beneficio</name>
        <label>Informar Error Creacion Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Error_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Creacion_Calendario</name>
        <label>Informar Error Creacion Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Error_Calendario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Creacion_Sesiones</name>
        <label>Informar Error Creacion Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Eventos_Error_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Datos_Obligatorios</name>
        <label>Informar Error Datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalRegatas.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recuperar_fecha_y_a_adir_lista</name>
        <label>Recuperar fecha y a침adir lista</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaFechas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFechaExtraida</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFechasRestante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaExtraccion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quedan_Fechas</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBenefitTypeRegatas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regatas</stringValue>
        </value>
    </constants>
    <constants>
        <name>conDospuntos</name>
        <dataType>String</dataType>
        <value>
            <stringValue>:</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUnSoloNivel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Un solo Nivel</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUoMDias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dias</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Es_la_ultima_Fecha</name>
        <label>Es la ultima Fecha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>A_adir_ultima_fecha</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay_mas_fechas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFechasRestante</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>conDospuntos</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_fecha_y_a_adir_lista</targetReference>
            </connector>
            <label>Hay mas fechas</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_existen_datos_Obligatorios</name>
        <label>Existen datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Informar_Error_Datos_Obligatorios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Benefit_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Programa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Id_Unit_of_Mesure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputTemporalRegatas.RG_FECHAS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Beneficio</targetReference>
            </connector>
            <label>Existen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quedan_Fechas</name>
        <label>Quedan Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Sesiones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_quedan_fechas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFechasRestante</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_la_ultima_Fecha</targetReference>
            </connector>
            <label>Si quedan fechas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCodigoBeneficioCompuesto</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalRegatas.DDDKEY__c}</expression>
    </formulas>
    <formulas>
        <name>varFechaExtraccion</name>
        <dataType>String</dataType>
        <expression>RIGHT({!varFechasRestante},
LEN ({!varFechasRestante}) - FIND(&quot;:&quot;, {!varFechasRestante}))</expression>
    </formulas>
    <formulas>
        <name>varFechaExtraida</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(LEFT({!varInputTemporalRegatas.RG_FECHAS__c}, FIND(&quot;:&quot;, {!varInputTemporalRegatas.RG_FECHAS__c}) - 1))</expression>
    </formulas>
    <formulas>
        <name>varFechaFinHora</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputTemporalRegatas.RG_FECFIN__c}) + (16/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaFinSessionTM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Crear_Sesiones})+(15/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaHoraInicio</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputTemporalRegatas.RG_FECINI__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaInicioSessionTM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Crear_Sesiones})+(9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaUltima</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varFechasRestante})</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficio</name>
        <dataType>String</dataType>
        <expression>text({!varInputTemporalRegatas.RG_ANO__c})&amp;&apos; &apos;&amp;{!Obtener_Location.Name} &amp;&apos; &apos;&amp;
INITCAP({!varInputTemporalRegatas.RG_NOMBRE__c})</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendario</name>
        <dataType>String</dataType>
        <expression>&quot;Calendario: &quot;&amp;{!varNombreBeneficio}</expression>
    </formulas>
    <formulas>
        <name>varNombreProgram</name>
        <dataType>String</dataType>
        <expression>text({!varInputTemporalRegatas.RG_ANO__c})&amp;&apos; Regatas &apos;&amp;{!Obtener_Location.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreSesion</name>
        <dataType>String</dataType>
        <expression>Text({!Crear_Sesiones})&amp;&apos;:&apos;&amp;{!varNombreCalendario}</expression>
    </formulas>
    <interviewLabel>7.4 Creaci칩n Regatas Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>7.4 Creaci칩n Regatas Auto Flow</label>
    <loops>
        <name>Crear_Sesiones</name>
        <label>Crear Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListaFechas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Beneficio</name>
        <label>Crear Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Benefit_Scheduled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informar_Error_Creacion_Beneficio</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>Obtener_Benefit_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varCodigoBeneficioCompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuota_Obligatoria__c</field>
            <value>
                <elementReference>varInputTemporalRegatas.RG_OBLICU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licencia_Federativa__c</field>
            <value>
                <elementReference>varInputTemporalRegatas.RG_LICFED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Obtener_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBeneficio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organiza_Regata__c</field>
            <value>
                <elementReference>varInputTemporalRegatas.RG_ORGANI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Regata__c</field>
            <value>
                <elementReference>varInputTemporalRegatas.RG_ORIGEN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Actividad__c</field>
            <value>
                <elementReference>varInputTemporalRegatas.RG_TIPO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>Recuperar_Id_Unit_of_Mesure.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Scheduled</name>
        <label>Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_las_fechas_a_variables_Trabajo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informar_Error_Creacion_Calendario</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Crear_Beneficio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varCodigoBeneficioCompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultBenefitQuantity</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionEndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionStartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreCalendario</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Session</name>
        <label>Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Benefit_a_la_variable_Salida</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informar_Error_Creacion_Sesiones</targetReference>
        </faultConnector>
        <inputReference>varListaBSession</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Benefit_Type</name>
        <label>Obtener Benefit Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_existen_datos_Obligatorios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBenefitTypeRegatas</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Location</name>
        <label>Obtener Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Id_Unit_of_Mesure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalRegatas.RG_LUGAR__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Programa</name>
        <label>Obtener Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Benefit_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreProgram</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Id_Unit_of_Mesure</name>
        <label>Recuperar Id Unit of Mesure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conUoMDias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Temporal_Error</name>
        <label>Actualizar Temporal Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalRegatas</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Error_Beneficio</name>
        <label>Actualizar Temporal Error Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalRegatas</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Error_Calendario</name>
        <label>Actualizar Temporal Error Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalRegatas</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Eventos</name>
        <label>Actualizar Temporal Eventos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalRegatas</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Eventos_Error_3</name>
        <label>Actualizar Temporal Eventos Error 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalRegatas</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loteDeBenefitsParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>lotedeBScheduledParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>registroBenefitIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>registroBScheduledIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCodigoTipoBeneficio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContadorBenefitType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDiasCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFechasOriginal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechasRestante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdentificadoresBenefitType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputTemporalRegatas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporal_Regatas__c</objectType>
    </variables>
    <variables>
        <name>varIntNivelesCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varListaBSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varListaFechas</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaTemporalCursoDia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Curso_Dia__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalNiveles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos_Niveles__c</objectType>
    </variables>
    <variables>
        <name>varRecorBSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitTyp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varSalesforceIdPadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
