force-app/main/default/flows/X8_4_Creaci_n_Cesiones_Benefit_Auto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>A_adir_un_dia_fecha_Trabajo</name>
        <label>Añadir un dia fecha Trabajo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFechaTrabajo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaTrabajomasundia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaFechas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFechaTrabajo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Es_la_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Benefit_a_la_variable_Salida</name>
        <label>Asignar Benefit a la variable Salida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Eventos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Datos_Sesion</name>
        <label>Asignar Datos Sesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecorBSession.BenefitScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Benefit_Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNombreSesion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaInicioSessionTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecorBSession.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFechaFinSessionTM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Sesion_a_Lista_de_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Fecha_Inicial_a_Lista_Fechas</name>
        <label>Asignar Fecha Inicial a Lista Fechas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFechaTrabajo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputTemporalCesiones.CS_FECHA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListaFechas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFechaTrabajo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Es_la_Fecha_Fin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Sesion_a_Lista_de_Sesiones</name>
        <label>Asignar Sesion a Lista de Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varListaBSession</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecorBSession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Sesiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Creacion_Beneficio</name>
        <label>Informar Error Creacion Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Error_Beneficio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Creacion_Calendario</name>
        <label>Informar Error Creacion Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Error_Calendario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Creacion_Sesiones</name>
        <label>Informar Error Creacion Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Otros</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Eventos_Error_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informar_Error_Datos_Obligatorios</name>
        <label>Informar Error Datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputTemporalCesiones.Tipo_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Temporal_Error</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conBenefitTypeCesiones</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cesiones</stringValue>
        </value>
    </constants>
    <constants>
        <name>conDospuntos</name>
        <dataType>String</dataType>
        <value>
            <stringValue>:</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUnSoloNivel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Un solo Nivel</stringValue>
        </value>
    </constants>
    <constants>
        <name>conUoMDias</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dias</stringValue>
        </value>
    </constants>
    <constants>
        <name>conValorUno</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Es_la_Fecha_Fin</name>
        <label>Es la Fecha Fin</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_Sesiones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_es_la_fecha_Fin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFechaTrabajo</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varInputTemporalCesiones.CS_HASTA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_adir_un_dia_fecha_Trabajo</targetReference>
            </connector>
            <label>No es la fecha Fin</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_existen_datos_Obligatorios</name>
        <label>Existen datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Informar_Error_Datos_Obligatorios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Benefit_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Programa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Id_Unit_of_Mesure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Barco</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Beneficio_Hijo</targetReference>
            </connector>
            <label>Existen</label>
        </rules>
    </decisions>
    <description>Sin Beneficio Padre - Añadir Creación Program Enrolment, Business Assignment, Scheduled Assignment  , Benefit Disbursement</description>
    <environments>Default</environments>
    <formulas>
        <name>varCodigoBeneficioCompuesto</name>
        <dataType>String</dataType>
        <expression>{!varInputTemporalCesiones.DDDKEY__c}</expression>
    </formulas>
    <formulas>
        <name>varCodigoBeneficioPadre</name>
        <dataType>String</dataType>
        <expression>&apos;CES&apos;&amp;text(year({!varInputTemporalCesiones.CS_FECHA__c}))&amp;{!varInputTemporalCesiones.CS_LUGAR__c}&amp;{!varInputTemporalCesiones.CS_BARCO__c}</expression>
    </formulas>
    <formulas>
        <name>varFechaFinHora</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputTemporalCesiones.CS_HASTA__c}) + (16/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaFinSessionTM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Crear_Sesiones})+(15/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaHoraInicio</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!varInputTemporalCesiones.CS_FECHA__c}) + (9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaInicioSessionTM</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Crear_Sesiones})+(9/24)</expression>
    </formulas>
    <formulas>
        <name>varFechaTrabajomasundia</name>
        <dataType>Date</dataType>
        <expression>{!varFechaTrabajo}+1</expression>
    </formulas>
    <formulas>
        <name>varFechaUltima</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varFechasRestante})</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficioHijo</name>
        <dataType>String</dataType>
        <expression>text(year({!varInputTemporalCesiones.CS_FECHA__c}))&amp;&apos; &apos;&amp;{!Obtener_Location.Name} &amp;&apos; Cesión &apos;&amp;
{!Obtener_Barco.Name}&amp;&apos; &apos;&amp;{!Obtener_Socio.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreBeneficioPadre</name>
        <dataType>String</dataType>
        <expression>text(year({!varInputTemporalCesiones.CS_FECHA__c}))&amp;&apos; &apos;&amp;{!Obtener_Location.Name} &amp;&apos;  Cesión &apos;&amp;
{!Obtener_Barco.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreCalendario</name>
        <dataType>String</dataType>
        <expression>&quot;Calendario: &quot;&amp;{!varNombreBeneficioPadre}</expression>
    </formulas>
    <formulas>
        <name>varNombreProgram</name>
        <dataType>String</dataType>
        <expression>text(year({!varInputTemporalCesiones.CS_FECHA__c}))&amp;&apos; Cesiones &apos;&amp;{!Obtener_Location.Name}</expression>
    </formulas>
    <formulas>
        <name>varNombreSesion</name>
        <dataType>String</dataType>
        <expression>Text({!Crear_Sesiones})&amp;&apos;:&apos;&amp;{!varNombreCalendario}</expression>
    </formulas>
    <formulas>
        <name>varNumeroSocio</name>
        <dataType>String</dataType>
        <expression>&quot;NS-&quot; &amp; LPAD({!varInputTemporalCesiones.CS_ALUMNO__c}, 7, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>8.4 Creación Cesiones Benefit Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>8.4 Creación Cesiones Benefit Auto Flow</label>
    <loops>
        <name>Crear_Sesiones</name>
        <label>Crear Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varListaFechas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Sesion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Benefit_Session</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Beneficio_Hijo</name>
        <label>Crear Beneficio Hijo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Benefit_Scheduled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informar_Error_Creacion_Beneficio</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>Obtener_Benefit_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varCodigoBeneficioCompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Obtener_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreBeneficioHijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Benefit__c</field>
            <value>
                <elementReference>varBeneficioPadreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramId</field>
            <value>
                <elementReference>Obtener_Programa.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>Recuperar_Id_Unit_of_Mesure.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Scheduled</name>
        <label>Crear Benefit Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Fecha_Inicial_a_Lista_Fechas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informar_Error_Creacion_Calendario</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Crear_Beneficio_Hijo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Benefit__c</field>
            <value>
                <elementReference>varCodigoBeneficioCompuesto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DefaultBenefitQuantity</field>
            <value>
                <elementReference>conValorUno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionEndDateTime</field>
            <value>
                <elementReference>varFechaFinHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstSessionStartDateTime</field>
            <value>
                <elementReference>varFechaHoraInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varNombreCalendario</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Benefit_Session</name>
        <label>Crear Benefit Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Benefit_a_la_variable_Salida</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Informar_Error_Creacion_Sesiones</targetReference>
        </faultConnector>
        <inputReference>varListaBSession</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Barco</name>
        <label>Obtener Barco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Barco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalCesiones.CS_BARCO__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Benefit_Type</name>
        <label>Obtener Benefit Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Barco</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conBenefitTypeCesiones</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Location</name>
        <label>Obtener Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Id_Unit_of_Mesure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTemporalCesiones.CS_LUGAR__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Programa</name>
        <label>Obtener Programa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Benefit_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNombreProgram</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Socio</name>
        <label>Obtener Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_existen_datos_Obligatorios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNumeroSocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Id_Unit_of_Mesure</name>
        <label>Recuperar Id Unit of Mesure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Programa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>conUoMDias</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnitOfMeasure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Temporal_Error</name>
        <label>Actualizar Temporal Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCesiones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Error_Beneficio</name>
        <label>Actualizar Temporal Error Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCesiones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Error_Calendario</name>
        <label>Actualizar Temporal Error Calendario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCesiones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Eventos</name>
        <label>Actualizar Temporal Eventos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCesiones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Temporal_Eventos_Error_3</name>
        <label>Actualizar Temporal Eventos Error 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varInputTemporalCesiones</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Location</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>loteDeBenefitsParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>lotedeBScheduledParaCrear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>registroBenefitIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>registroBScheduledIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSchedule</objectType>
    </variables>
    <variables>
        <name>varBeneficioPadreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBenefitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCodigoTipoBeneficio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContadorBenefitType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDiasCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFechaInicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechasRestante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFechaTrabajo</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIdentificadoresBenefitType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputTemporalCesiones</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Temporal_Cesiones__c</objectType>
    </variables>
    <variables>
        <name>varIntNivelesCurso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varListaBSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varListaFechas</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListaTemporalCursoDia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Curso_Dia__c</objectType>
    </variables>
    <variables>
        <name>varListaTemporalNiveles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Temporal_Cursos_Niveles__c</objectType>
    </variables>
    <variables>
        <name>varRecorBSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <name>varRecordBenefitTyp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitType</objectType>
    </variables>
    <variables>
        <name>varSalesforceIdPadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
