force-app/main/default/flows/X9_6_Creacion_Tripus_Bautizos_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Asignar_Datos_Disburment</name>
        <label>Asignar Datos Disburment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.RecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.DisbursedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisbursedQuantityUNO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.ActualCompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.Estado_Evaluacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.BenefitSessionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Sesiones.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDisburment.DisbursementStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignar_Session_a_Lista_Sessiones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_Session_a_Lista_Sessiones</name>
        <label>Assignar Session a Lista Sessiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lista_Disbursment_crear</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDisburment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DisbursedQuantityUNO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>errorFechasMatriculasCurso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>El numero de dias Matriculas mayor que dias Curso</stringValue>
        </value>
    </constants>
    <constants>
        <name>fechasCursoMasMatricula</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existen más fechas en el curso que en la matricula</stringValue>
        </value>
    </constants>
    <constants>
        <name>fechasCursoMatriculaCoinciden</name>
        <dataType>String</dataType>
        <value>
            <stringValue>El numero de fechas Matricula Coincide con las fechas de los cursos</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Existe_Beneficio</name>
        <label>Existe Beneficio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Existe_Beneficio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Benefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Program_Enrolment</targetReference>
            </connector>
            <label>Si Existe Beneficio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_datos_Account</name>
        <label>Existen datos Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio_Socio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existe_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_Benefit</targetReference>
            </connector>
            <label>Si existe Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_datos_Obligatorios</name>
        <label>Existen datos Obligatorios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Datos_Obligatorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_existen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Socio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Benefit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Scheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Program_Enrolment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Assignment</targetReference>
            </connector>
            <label>Si existen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>codigoBeneficioExtraccionDDDKEY</name>
        <dataType>String</dataType>
        <expression>&quot;CUR&quot; &amp; RIGHT({!$Record.DDDKEY__c}, LEN({!$Record.DDDKEY__c}) - 8)</expression>
    </formulas>
    <formulas>
        <name>NombreScheduledAssigment</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Scheduled.Name}&amp;&quot;-&quot;&amp;{!varNombreProgramEnrolmentCompuesto}</expression>
    </formulas>
    <formulas>
        <name>numeroSocioALUMNO</name>
        <dataType>String</dataType>
        <expression>&quot;NS-&quot; &amp; LPAD({!$Record.TP_ALUMNO__c}, 7, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>varCodigoBeneficio</name>
        <dataType>String</dataType>
        <expression>&quot;BAU&quot;&amp;{!$Record.TP_NUMORI__c}</expression>
    </formulas>
    <formulas>
        <name>varEquipoNumero</name>
        <dataType>Number</dataType>
        <expression>value({!$Record.TP_EQUIPO__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varNombreProgramEnrolmentCompuesto</name>
        <dataType>String</dataType>
        <expression>{!Recuperar_Socio.Name}&amp;&quot; &quot;&amp;text(datevalue({!Recuperar_Benefit.StartDateTime}))</expression>
    </formulas>
    <formulas>
        <name>varNumeroNoSocio</name>
        <dataType>String</dataType>
        <expression>&quot;NA-&quot; &amp; LPAD({!$Record.TP_ALUMNO__c}, 7, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>varNumOrigenNumber</name>
        <dataType>Number</dataType>
        <expression>value({!$Record.TP_NUMORI__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>9.6 Creacion Tripus Bautizos Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>9.6 Creacion Tripus Bautizos Trigger Flow</label>
    <loops>
        <name>Recorrer_Sesiones</name>
        <label>Recorrer Sesiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Sesiones_Evento</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Datos_Disburment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Disbursement_Hijos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Assignment</name>
        <label>Crear Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Scheduled_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Crear_Assigment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Recuperar_Benefit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrolleeId</field>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipo__c</field>
            <value>
                <elementReference>varEquipoNumero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Matriculacion__c</field>
            <value>
                <elementReference>$Record.TP_FECMAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Pago__c</field>
            <value>
                <elementReference>$Record.TP_FECMAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Preinscripcion__c</field>
            <value>
                <elementReference>$Record.TP_FECPRE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>$Record.TP_IMPORTE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_Origen_Texto__c</field>
            <value>
                <elementReference>$Record.TP_NUMORI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <stringValue>Tripulante</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen_Tripulacion__c</field>
            <value>
                <elementReference>$Record.TP_ORIGEN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Recuperar_Program_Enrolment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramEnrollmentId</field>
            <value>
                <elementReference>Recuperar_Program_Enrolment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Alumno__c</field>
            <value>
                <elementReference>$Record.TP_TIPALU__c</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Disbursement_Hijos</name>
        <label>Crear Disbursement Hijos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Estado_Registro_Temporal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creacion_B_Disburtment_hijos</targetReference>
        </faultConnector>
        <inputReference>Lista_Disbursment_crear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Scheduled_Assignment</name>
        <label>Crear Scheduled Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Sesiones_Evento</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Crear_Benefit_Scheduled_Assigment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BenefitAssignmentId</field>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitScheduleId</field>
            <value>
                <elementReference>Recuperar_Scheduled.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreScheduledAssigment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ocupacion__c</field>
            <value>
                <stringValue>Tripulante</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Recuperar_Benefit.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>BenefitScheduleAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_Benefit</name>
        <label>Recuperar Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Beneficio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Benefit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCodigoBeneficio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Benefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Program_Enrolment</name>
        <label>Recuperar Program Enrolment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit.ProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Socio.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Scheduled</name>
        <label>Recuperar Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_datos_Obligatorios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Benefit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Sesiones_Evento</name>
        <label>Recuperar Sesiones Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_Sesiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_Scheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitSession</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Socio</name>
        <label>Recuperar Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existen_datos_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>numeroSocioALUMNO</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_Socio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNumeroNoSocio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_Registro_Temporal</name>
        <label>Actualizar Estado Registro Temporal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Benefit_Assignment__c</field>
            <value>
                <elementReference>Crear_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Procesado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Creacion_B_Disburtment_hijos</name>
        <label>Error Creacion B Disburtment hijos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Crear_Assigment</name>
        <label>Error Crear Assigmentd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Crear_Benefit_Scheduled_Assigment</name>
        <label>Error Crear Benefit Scheduled Assigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>Operacion DML</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio</name>
        <label>Error Datos Obligatorio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Program Enrolment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio_Benefit</name>
        <label>Error Datos Obligatorio Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Actividad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Error_Datos_Obligatorio_Socio</name>
        <label>Error Datos Obligatorio Socio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Descripcion_Error__c</field>
            <value>
                <stringValue>No encontrado Socio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Error__c</field>
            <value>
                <stringValue>No Encontrado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recuperar_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </filters>
        <object>Temporal_Tripulacion_Bautismos__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Recuperar_Sesion_Beneficio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitSession</objectType>
    </variables>
    <variables>
        <description>Lista_Disbursment_crear</description>
        <name>Lista_Disbursment_crear</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
    <variables>
        <name>numeroDeSesiones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vardiasEvento</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>varDisburment</description>
        <name>varDisburment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BenefitDisbursement</objectType>
    </variables>
</Flow>
